<template lang="pug" src="./ProductCardList.pug"></template>
<script>
import { onResize } from '@/helpers/dom/resize';
import ProductCard from '../ProductCard';

export default {
  name: 'ProductCardList',
  props: ['useSlider', 'listData'],
  components: {
    ProductCard,
  },
  data() {
    return {
      siemaOptions: {
        perPage: 1,
      },
      isCarousel: this.$viewport.isMobile,
    };
  },
  mounted() {
    this.resizeHandler = onResize(() => {
      setTimeout(() => {
        this.isCarousel = this.$viewport.isMobile;
      }, 400);
    });
  },
  beforeDestroy() {
    this.resizeHandler.remove();
  },
};
</script>
<style lang="scss" src="./styles/product-card-list.scss"></style>
