// product card reponsive wrapper, can be carousel or list
.product-card-list
  // CAROUSEL
  base-carousel.product-card-list__carousel(ref="slider" :nav="true", :dots="false", v-if="isCarousel && listData.length && useSlider" , :siemaOptions="siemaOptions")
    product-card(:data="p", v-for="(p, id) in listData", :key="id")
    .product-card-list__carousel-info(slot="append", slot-scope="{current}", v-if="$refs.slider")
      .title-3 # #[b {{$refs.slider.current + 1}}] of #[b {{listData.length}}]
  // NORMAL LIST
  .row.no-gutters(v-else)
    .col-sm-6(v-for="(p, id) in listData", :key="id")
      product-card(:data="p")
