include ../../components/mixins/_page-hero.pug
-
    const images = ['./assets/images/hero-1.png','./assets/images/hero-2.png'];
.home-page
    +page-hero({title: 'Create your unique moment', images, imageLeft: 'small', imageRight: 'large' })
    .godown.text-center
        a(href="javascript:;")
            base-svg(:src="$icons.angleDownLighter")
    section.section-intro.bg-main
        .container
            .col-md-8.location__content.text-center
                h2 Planning your romantic surprise has never been so easy…
                .location__intro-text Customize your romantic package in only 3 steps or book one of our individual items or #[a(href="javascrip:;") packages] tailored to your interest, style and taste.
    section.section-categories
        category-block
    section.section-special
        .special
            .special__content
                h2.h1 Valentine's day special
                .special__introtext
                    p Paragraphtext Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore our #[a(href="javascript:;") packages] erat, sed diam. At vero eos et accusam et justo duo. Stet clita kasd gubergren, no sea takimata sanctus est.
                .showmore
                    base-button Show 8 offers
            .special__image
                img(class="d-desktop" data-src="./assets/images/valentine.png" atl="Valentine's day special", width="562", height="997")
                img(class="d-mobile" data-src="./assets/images/valentine-mobile.png" atl="Valentine's day special", width="700", height="403")
    section.section-blog
        .container.blog
            h2.text-center Love is your life
            .blog__wrapper
                .blog__info
                    .blog__images
                        img(data-src="./assets/images/love.png" alt="")
                        img(data-src="./assets/images/sky.png" alt="")
                    .blog__short-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        | aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                        | duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum.

                .blog__items
                    .blog__item
                        .row
                            .col-md-6.blog__content
                                h4 Lorem ipsum dolor sit amet
                                .blog__intro-text Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                    | no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                .arrow-list
                                    a.link(href="javascript:;")
                                      span Discover unique locations
                            .col-md-6.blog__image
                                img(data-src="./assets/images/autumn.png" alt="")

                    .blog__item
                        .row
                            .col-md-6.blog__content
                                h4 Consetetur sadipscing elitr
                                .blog__intro-text Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                    | Lorem ipsum dolor sit amet, consetetur.
                                .arrow-list
                                    a.link(href="javascript:;")
                                      span Discover unique locations
                            .col-md-6.blog__image
                                img(data-src="./assets/images/winter.png" alt="")

                    .blog__item
                        .row
                            .col-md-6.blog__content
                                h4 At vero eos et accusam
                                .blog__intro-text Et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                    | no sea takimata sanctus est Lorem ipsum dolor sit. Lorem ipsum dolor sit amet,
                                    | consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                                    | labore et dolore magna aliquyam erat, sed diam voluptua.
                                .arrow-list
                                    a.link(href="javascript:;")
                                      span Discover unique locations
                            .col-md-6.blog__image
                                img(data-src="./assets/images/sunrise.png" alt="")
                    .viewmore.text-center
                        base-button DISCOVER#[br] MORE STORIES
    section.section-content.py-5
        .container
            h2.text-center Our favourite packages
            .mx-auto.col-xl-8.col-lg-10.p-0
              .filter-box-wrapper
                  filter-box(:hide="true", tagColor="main")
                      p.filter-results-count #[b 8] of #[b 23]
            product-card(:data="item", isLarge, :imageRight="i % 2 != 0", v-for="(item, i) in productList", :key="i")
            .showmore.text-center
                base-button(@click="loadMoreProducts") More
    section.section-categories
        category-block


