<template lang="pug" src="./Home.pug"></template>
<style lang="scss" scoped src="./assets/styles/home.scss"></style>
<script>
import mockProducts from '@/constants/mock/products';
import CategoryBlock from '../../components/CategoryBlock';
import ProductCard from '../../components/ProductCard';
import FilterBox from '../../components/FilterBox';

export default {
  metaInfo() {
    return {
      title: 'Home',
    };
  },
  name: 'Home',
  components: {
    CategoryBlock,
    ProductCard,
    FilterBox,
  },
  data() {
    return {
      productList: mockProducts.list,
    };
  },
  methods: {
    loadMoreProducts() {
      this.productList.push(this.productList[0]);
    },
  },
};
</script>

<style lang="scss" src="./assets/styles/home.scss"></style>
