@media print {
  html {
    font-size: 7px!important;
    *,
    a {
      color: $color-text-content;
      border-color: transparent !important;
      text-decoration: none !important;
    }
  }

  .footer,
  .btn,
  .header {
    display: none;
  }

  .page-hero {
    color: $color-text-content;
    .hero__content {
      position: static;
    }
    .hero__title {
      margin: 3rem auto 3rem !important;
      color: $color-text-content;
      text-shadow: none;
    }
    .hero__background-wrapper {
      display: none;
    }
    .hero__shape {
      display: none;
    }
  }

  .order-confirmation-page {
    .page-container {
      margin-top: 0px;
    }
    .page-hero {
      .hero__title {
        margin: 0rem auto 0rem !important;
        color: $color-text-content;
        text-shadow: none;
      }
    }
    .contact-cols {
      display: block!important;
    }
    .sp {
      width: 96%;
      margin: 3.5rem auto;
      border-top: 1px solid rgba(0,0,0,0.3)!important;
    }
    .col-xl-8.letter-message {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .col-xl-1 {
      display: none;
    }
    .cart-item {
      .cart-item__thumbnail  {
        width: 150px;
        height: 150px;
      }
      img {
        background-color: $color-placeholder;
      }
      .cart-item__more-info {
        display: none;
      }
    }
  }
}
