@import '~@/modules/static-html/scss/base/base';
@import './print';

.order-confirmation-page {
  .page-container {
    margin-top: -12rem;
    position: relative;
    z-index: 1;
  }
  .page-content {
    background-color: #fff;
    padding: 8rem 0 7rem;
    margin-bottom: 7rem;
    @include breakpoint($tabletUp) {
      padding: 8rem calc(100vw/12) 7rem;
    }
  }
  .letter-message {
    margin: 0 auto;
    color: $color-text-content;
    letter-spacing: -0.5px;
  }
  .sp {
    width: 100%;
    border-top: 1px solid $color-sub;
    margin: 8rem auto;
  }

  .order-detail {
    .order-line {
      display: none;
    }
  }

  @include breakpoint($desktop) {
    .order-detail {
      .order-line {
        display: none;
      }
    }
    @include breakpoint($max: 1200px) {
      .cart-items-order .cart-item .cart-item__price {
        margin-top: -12px;
      }
    }
    @include breakpoint($min: 1367px) {
      .cart-items-order .cart-item {
        margin-left: -10rem;
      }
      .oc-footer-info {
        margin-left: -7rem;
      }
    }
  }


  @include breakpoint($tablet) {
    .page-container {
      margin-top: -6rem;
    }
    .letter-message {
      h3 {
        font-size: 2.3rem;
      }
      p {
        font-size: 1.8rem;
        margin-bottom: 0;
      }
    }
    .sp {
      margin: 4rem 0;
    }

    .page-hero .hero__title {
      margin-top: 8rem;
    }

    @include breakpoint($min: 1024px) {
      .page-content {
        background-color: #fff;
        padding-top: 11rem;
        padding-bottom: 11rem;
      }
    }
  }



  @include breakpoint($mobile) {
    .page-container {
      margin-top: -3rem;
    }
    .page-hero .hero__background-wrapper {
      padding-bottom: 22.5rem;
    }
    .page-content {
      padding: 4rem 3.7rem;
      margin-left: -2rem;
      margin-right: -2rem;
    }
    .sp {
      margin: 2rem 0 3rem;
    }
  }
}