<template lang="pug" src="./OrderConfirmation.pug"></template>

<script>
import OrderDetail from '@/modules/cart-checkout/components/OrderDetail';

export default {
  name: 'OrderConfirmation',
  components: {
    OrderDetail,
  },
  metaInfo: {
    title: 'Order #1527 Confirmation',
  },

};
</script>

<style lang="scss" src="./order-confirmation.scss"></style>

