include ../../../static-html/components/mixins/_page-hero.pug

-
  const images = ['@/assets/images/1px.png','@/assets/images/1px.png'];

.order-confirmation-page
  body-class(className="order-confirmation-page")
  .has-small-page-hero
    +page-hero({title: 'Your confirmation', images, titleCenter: true})
  .container.page-container
    .page-content
      .row
          .col-xl-8.col-sm-12.letter-message
            h3 Dear [Name], thank you for your order.
            p.title-2 We sent an email to you for your confirmation.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          .col-sm-12
            .sp
      order-detail(:isCollapse="true")
    .text-center
        base-button.back-to-btn BACK TO YOUR ACCOUNT
