<template lang="pug" src="./AuthModal.pug">
</template>

<script>
import loginSchema from '@/common/form-schema/login';
import registerSchema from '@/common/form-schema/register';
import FormValidate from '../../components/FormValidate';

export default {
  name: 'AuthModal',
  props: {
    showGuest: {
      type: [Boolean],
      default: true,
    },
  },
  components: {
    FormValidate,
  },
  data() {
    return {
      loginSchema: loginSchema(),
      registerSchema: registerSchema(),
      forgotPass: false,
      isShow: false,
      showPassRegister: true,
      showPassLogin: true,
    };
  },
  methods: {
    open() {
      this.isShow = true;
    },
    close() {
      this.isShow = false;
      this.forgotPass = false;
    },
    showForgotPass() {
      this.isShow = true;
      this.forgotPass = true;
      this.$nextTick(() => {
        // fix lost page focus (leading to scrolling issue), on mobile
        window.location.hash = '#forgotPassModal';
      });
    },
  },
};
</script>

<style lang="scss">
  @import "../../scss/base/base";

  // component wrapper
  .auth-modal {
    color: #fff;

    .auth__col {
      &:not(:last-child) {
        border-right: 1px solid #aba093;
      }
    }
    .h2 {
      margin: 20px 40px 50px;
      text-align: center;
    }
    .modal__body {
      width: 100%;
      a {
        @extend %underline;
        color: #fff;
        border-color: #fff;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          color: $color-sub;
          border-color: $color-sub;
        }
      }
    }

    .privacy-note {
      padding: 50px 0 10px;
      text-align: center;
    }
    form {
      width: 100%;
    }
    .form-actions {
      margin-top: 40px;
      text-align: center;
    }

    .form-check {
      margin-top: 25px;
      margin-bottom: 10px;
      padding-left: 0;
      label {
        color: #fff;
      }
    }
    .form-group {
      margin-bottom: 30px;
      label {
        color: #fff;
      }
    }

    .auth__login-form {
      .form-actions {
        padding-bottom: 10px;
      }
      button {
        margin-bottom: 30px;
      }
      a.btn-link {
        font-size: 1.8rem;
        display: inline;
      }
    }
  }

  // forgot pass view
  .auth-modal {
    .forgot-pass {
      max-width: 378px;
      margin: 0 auto;
      letter-spacing: -0.5px;
      p {
        margin-bottom: 40px;
      }
      button {
        margin-top: 36px;
        width: 100%;
      }
    }
  }

  // modal
  .auth-modal {
    .modal__container {
    }
  }

  @include breakpoint($min: 1920px) {
    .auth__equals {
      margin: 0 calc(-6.5% - 10px);
    }
  }
  @include breakpoint($desktop) {
    .auth-modal {
      padding-left: 40px;
      padding-right: 40px;
    }
    .auth__equals {
      .auth__col {
        padding: 0 6.5%;
      }
    }
  }

  @include breakpoint($tablet) {
    .auth-modal {
      .auth__login-form {
        a.btn-link {
          line-height: 1.6;
        }
      }

      .container {
        max-width: initial;
        padding-left: 40px;
        padding-right: 40px;
      }

      .btn {
        font-size: 2.3rem;
        padding: 1.2rem 4rem;
      }
    }
    .auth__equals {
      margin: 0 calc(-5% - 10px);
      .auth__col {
        padding: 0 5%;
      }
    }
    @include breakpoint($max: 768px) {
      .auth-modal {
        .container {
          padding-left: 20px;
          padding-right: 20px;
        }
        .auth__equals {
          margin: 0 calc(-4% - 10px);
          .auth__col {
            padding: 0 4%;
          }
        }
      }
    }
  }

  @include breakpoint($mobile-to-tablet) {
    .auth-modal {
      .modal__body {
        padding: 0.1px;
        min-height: 100vh;
        padding-bottom: 80px;
      }
    }
  }

  @include breakpoint($mobile) {
    .auth-modal {
      .modal__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      .auth__col {
        border: none !important;
        &:not(:last-child) .collapse-group {
          border-bottom: 0;
        }
      }
      .col-as-guest {
        text-align: center;
      }
      .collapse-group {
        .group__title:not(.show) + * {
          display: none;
        }
      }
      .group__title.show {
        margin-bottom: 20px;
        + * {
          padding-bottom: 30px;
        }
      }
      .privacy-note {
        margin-top: 60px;
        display: none;
      }
      .forgot-pass {
        button {
          margin-top: 20px;
        }
      }
    }
  }
</style>
