.auth-modal(id="authModal")
  base-modal(:isShow="isShow", @close="close")
    // forget pass
    include ./inc/_forget-pass.pug
    // main
    .container(v-show="!forgotPass")
      .h2 Do you want to login or register?
      .row.auth__equals.collapse-group-container
        .col-sm.auth__col
          .collapse-group.collapse-group--mobile
            .group__title Login
            form-validate.auth__login-form(:schema="loginSchema")
              .form-group
                label.required Username
                input.form-control(type="text", :placeholder="$t('user.username').toCapitalize()", name="username")
              .form-group
                label.required Password
                input.form-control(:type="showPassLogin ? 'text' : 'password'", :placeholder="$t('user.password').toCapitalize()", name="password")
                .form-check
                  input#isShowPass1.form-check-input(v-model="showPassLogin", type='checkbox')
                  label(for='isShowPass')
                    | Show Password
              .form-actions
                base-button(type="submit") LOGIN
                br
                a.btn-link(@click="showForgotPass") I forgot my username or password
        .col-sm.auth__col
          .collapse-group.collapse-group--mobile
            .group__title Register
            form-validate(:schema="registerSchema")
              .form-group
                label.required First name
                input.form-control(type="text", placeholder="First name", name="firstName")
              .form-group
                label.required Surname
                input.form-control(type="text", placeholder="Surname", name="password")
              .form-group
                label.required Username
                input.form-control(type="text", :placeholder="$t('user.username').toCapitalize()", name="username")
              .form-group
                label.required Email
                input.form-control(type="text", placeholder="Email", name="email")
              .form-group
                label.required Password
                input.form-control(:type="showPassRegister ? 'text' : 'password'", :placeholder="$t('user.password').toCapitalize()", name="password")
                .form-check
                  input#isShowPass2.form-check-input(type='checkbox', v-model="showPassRegister")
                  label(for='isShowPass2')
                    | Show Password
              .form-actions
                base-button(type="submit") REGISTER
        .col-sm.auth__col.col-as-guest(v-if="showGuest !== false")
          .collapse-group.collapse-group--mobile
            .group__title As a guest
            div
              p.simple-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gu.
              .form-actions
                base-button AS A GUEST
      .privacy-note By signing up, you accept our #[a Terms of Use], #[a Privacy] and #[a Cookie Policy.]