<template lang="pug" src="./FilterBox.pug"></template>

<script>
import { onResize } from '@/helpers/dom/resize';
import PriceSlider from '../PriceSlider';
import CalendarPicker from '../CalendarPicker';
import filterDefaultConfig from './configs/packages';
import lockBodyScroll from '../BaseModal/lock-body-scroll';

export default {
  name: 'FilterBox',
  props: {
    hide: false,
    tagColor: {
      type: String,
      default: () => 'transparent',
    },
    config: {
      type: Object,
      default: () => filterDefaultConfig,
    },
  },
  components: {
    PriceSlider,
    CalendarPicker,
  },
  data() {
    return {
      isHidden: this.$viewport.isMobile ? true : (this.hide || false),
      priceSlider: null,
    };
  },
  mounted() {
    this.initToggleGroup();
    this.removeListenResize = onResize(() => {
      if (!this.$viewport.isMobile) {
        lockBodyScroll.unlock();
      }
    });
  },
  methods: {
    initToggleGroup() {
      const $titles = $(this.$el).find('.filterbox__group .mobile-collapse');
      $titles.click(function () {
        $(this).toggleClass('show-collapse');
        $(this).closest('.filterbox__group').toggleClass('toggle-active');
        $(this).closest('.filterbox').toggleClass('show');
      });
      $(this.$el).find('.icon-close').click(() => {
        $(this.$el).removeClass('show');
        $(this.$el).find('.filterbox__group.toggle-active').removeClass('toggle-active');
        $(this.$el).find('.mobile-collapse.show-collapse').removeClass('show-collapse');
      });
    },
    toggleItem(item) {
      item.active = !item.active;
    },
    removeItem(item) {
      const { fromValue, toValue, max } = this.priceSlider;
      if (item.type === 'price-from') {
        return this.priceSlider.setValue([0, toValue]);
      }
      if (item.type === 'price-to') {
        return this.priceSlider.setValue([fromValue, max]);
      }
      return item.active = false;
    },
    removeAll() {
      this.selected.forEach(e => e.active = false);
    },
    getPriceSlider() {
      return this.priceSlider = this.$refs.priceSlider && this.$refs.priceSlider[0];
    },
  },
  watch: {
    isHidden(value) {
      if ($(window).width() < 768) {
        if (!value) {
          lockBodyScroll.lock();
        } else {
          lockBodyScroll.unlock();
        }
      }
    },
  },
  computed: {
    selected() {
      const { priceSlider } = this;
      const choices = this.config.rules.filter(e => e.type === 'tags-group').map(e => e.data.choices);
      const activeChoices = [];
      choices.map(e => e.filter(e => e.active).map(e => activeChoices.push(e)));
      if (priceSlider) {
        if (priceSlider.fromValue !== 0) {
          const priceFrom = {
            title: `from ${priceSlider.fromValue} ${priceSlider.currency}`,
            type: 'price-from',
            class: 'btn-price',
          };
          activeChoices.push(priceFrom);
        }

        if (priceSlider.toValue !== priceSlider.max) {
          const priceTo = {
            title: `to ${priceSlider.toValue} ${priceSlider.currency}`,
            type: 'price-to',
            class: 'btn-price',
          };
          activeChoices.push(priceTo);
        }
      }

      return activeChoices;
    },
  },
  beforeDestroy() {
    if (!this.isHidden) {
      lockBodyScroll.unlock();
    }
    if (this.removeListenResize) {
      this.removeListenResize.remove();
    }
  },
};
</script>
<style>
</style>
<style lang="scss" src="./styles/filter-box.scss"></style>