.filterbox(:class="{'is-hidden': isHidden}")
    .filterbox__options
        .filterbox__top(:class="config.calendar ? '' : 'no-calendar'")
            CalendarPicker(v-if="config.calendar", :config="config.calendar")
            .filterbox__action
                span.hand(@click="isHidden = !isHidden")
                    base-svg.icon-filters(:src="$icons.filters")
                    span.underline
                        span.text {{isHidden ? 'Show filters' : 'Hide filters'}}
                        base-svg.icon-close(:src="$icons.close", v-show="!isHidden")
                    base-svg.dropdown-arrow(:src="$icons.angleDown", :class="{'active': !isHidden}")
        .filterbox__content
            .filterbox__group(v-for="(rule, i) in config.rules" :key="i", :class="`${rule.name}-group ${rule.type}`")
                .h5.mobile-collapse {{rule.label}}
                  base-svg.arrow(:src="$icons.angleRightSm")
                .filterbox__item
                    price-slider(ref="priceSlider", @mounted="getPriceSlider", v-if="rule.type === 'price-slider'", :config="rule.data")
                    template(v-if="rule.type === 'tags-group'")
                      base-button(:tag="true" :icon="item.icon" :class="{'btn-main': item.active}" @click.stop.prevent="toggleItem(item)" v-for="(item, i) in rule.data.choices" :key="i") {{item.title}}
                    template(v-if="rule.type === 'checkbox-group'")
                      .form-check(v-for="(item, i) in rule.data.choices" :key="i")
                        input(type="radio", :value="item.value", :name="rule.name", :checked="item.checked")
                        label(v-html="item.title")
            .filterbox__bottom
                a(class="link", @click.prevent="removeAll") Reset filters
                base-button(@click.prevent) Show 23 offers
    .filterbox__choice
        .h5.mobile-collapse(toggle-class="show-collapse") Your filter choice
          base-svg.arrow(:src="$icons.angleDownSm")
        div
          base-button.mr-3(:close="true", :class="item.class" :tag="true" :color="tagColor" :icon="item.icon" @click.prevent="removeItem(item)" v-for="(item, i) in selected" :key="i") {{item.title}}
    slot