@import '~@/modules/static-html/scss/base/base';
.my-account-page {
  .sp-line{
    border-bottom: 1px solid $color-sub;
    margin: 3.5rem auto 0;
  }
  .title{
    margin-bottom: 0;
  }
  .date-cols{
    .oc-info {
      display: none;
    }
  }
  .order__info{
    color: $color-text-content;
  }

  @include breakpoint($desktop) {
    @include breakpoint($min: 1367px) {
      .cart-items-order .cart-item {
        margin-left: -10rem;
      }
      .oc-footer-info {
        margin-left: -3rem;
      }
    }
  }
  
}
