@import '~@/modules/static-html/scss/base/base';
.my-account-page {
  .section-module {
    margin-bottom: 3rem;
    .readmore {
      margin-top: 4rem;
    }
    p:not(.label) {
      margin-bottom: 2rem;
    }
  }
  .label {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .link {
    @extend %title-2;
    font-weight: 600;
    margin-bottom: 2.6rem;
  }
  .section-group {
    margin-bottom: 5.6rem;
  }
  .order-history {
    h3 {
      margin-bottom: 1.4rem;
    }
  }
  .order__item {
    border-top: 1px solid $color-sub;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11.5px 20.5px;
    font-size: 2.3rem;
    &:last-child {
      border-bottom: 1px solid $color-sub;
    }
    > div {
      flex: 1 1 0;
    }
  }
  .order__number {
    font-size: 2.3rem;
    font-weight: 600;
    a{
      color: $color-main;
    }
  }
  .order__status{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .checked{
      color: #00A433;
      position: relative;
      font-size: 2.3rem;
      display: flex;
      align-items: center;
      &:before{
        content: "";
        width: 21px;
        height: 21px;
        background-color: #00A433;
        margin-right: 12px;
        display: inline-block;
        border-radius: 100px;
      }
      &:after{
        content: '';
        display: block;
        width: 6px;
        height: 10px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        left: 8px;
        z-index: 1;
      }
    }
  }
  .card__name {
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }
}