@import '~@/modules/static-html/scss/base/base';
.my-account-page {
  .tab-general{
    .col-content{
      margin: 0 auto;
      > h3{
        margin-bottom: 2.7rem;
      }
    }
    .form-group{
      margin-top: 0.5rem;
      margin-bottom: 2rem;
    }
    .date-group{
      margin-top: 12px;
      margin-bottom: 1rem;
      .date-picker-control{
        margin-top: 2.5rem;
        color: $color-main;
      }
    }
    .password-group{
      margin-bottom: 4rem;
      align-items: center;
      .form-check{
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        padding-top: 27px;
        .checkbox{
          display: none;
        }
      }
    }

    .intro-text{
      margin-bottom: 5px;
    }
    &.directory{
      .form-group{
        margin-bottom: 0.8rem;
      }
      .form-directory{
        margin-bottom: 3.2rem;
      }
      .form-actions{
        margin-top: 3.3rem;
      }
    }
    &.my-settings{
      .col-content{
        > h3{
          margin-bottom: 0;
        }
        .intro-text{
          margin-bottom: 3rem;
        }
      }
      .listing-check{
        margin-top: 2rem;
        margin-bottom: 2rem;
        .form-check {
          margin-top: 0.2rem;
          margin-bottom: 2.5rem;
        }
      }
      .form-actions{
        .link{
          border-bottom: 2px solid;
          font-size: 2.1rem;
          font-weight: 600;
          color: #BD2519;
          margin-top: 1.3rem;
        }
      }
    }
    &.cart-items-order{
      .cart-item label{
        color: $color-main;
      }
      .cart-item__content{
        color: $color-main;
      }
    }
  }
}