@import '~@/modules/static-html/scss/base/base';

.my-account-page {
  .page-container {
    color: $color-text-content;
  }
  .form-control {
    color: $color-main;
  }
  .tabs {
    transform: translateY(-120px);
    background: #fff;
    position: relative;
    z-index: 10;
    .tabs__menu {
      margin-bottom: 50px;
      color: $color-main;
    }
    .tab {
      background: #fff;
    }
    @include breakpoint($tabletUp) {
      .tab__title {
        display: none;
      }
    }
  }
  .tab-content {
    padding-top: 26px;
    padding-bottom: 6rem;
    padding-left: calc(100% / 12);
    padding-right: calc(100% / 12);
  }
}

