.base-input-quantity.input-quantity
  .btn.btn-default.btn-minus(@click.prevent="setValue(-1)") -
  input.form-control(ref="input", type="number", min="0", :name="name", v-model="model", @change="onChange")
  .btn.btn-default.btn-plus(@click.prevent="setValue(+1)") +