<template lang="pug" src="./BaseInputQuantity.pug"></template>
<script>
export default {
  name: 'BaseInputQuantity',
  props: {
    value: {
      type: [Number, String],
      default: 0,
    },
    max: {
      type: [Number],
      default: 99999,
    },
    name: '',
  },
  data() {
    return {
      model: this.value,
    };
  },
  watch: {
    model(newValue) {
      this.$emit('input', newValue);
    },
  },
  methods: {
    setValue(val) {
      const { input } = this.$refs;
      const current = parseInt(this.model) || 0;
      const nextValue = val + current;
      if (nextValue >= 0 && nextValue <= this.max) {
        this.model = nextValue;
      }
    },
    onChange({ target }) {
      if (this.model !== target.value) {
        this.model = target.value;
      }
    },
  },
};
</script>

<style lang="scss">
  @import "../../scss/base/_base.scss";
  .input-quantity {
      display: flex;
      align-items: center;
      font-weight: normal;
    .btn {
      border-radius: 100%;
      padding: 0;
      width: 30px;
      height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      @include default() {
        color: $color-sub;
      }
      @include hover() {
        color: $white;
      }
    }
    .btn-minus {
      padding-bottom: 2px;
      padding-left: 2px;
    }
    .btn-plus {
      padding-top: 2px;
      padding-left: 2px;
    }
    input.form-control {
      display: inline;
      text-align: center;
      width: 60px;
      margin: 0 15px;
      color: $color-main;
      font-size: 2rem;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
</style>

