base-carousel.detail__gallery(ref="thumbSlider", :nav="true", light-box, :title="data.title", :subtitle="data.subtitle", @ready="initSticky")
    .detail__gallery-image(v-for="i in 4", v-lazy-container)
        img.no-effect(data-src="@/assets/images/1px.png", :alt="`${data.title} - image ${i}`")