.tabs(v-tabs)
    .tab
        .tab__title Description
        .tab-content
            p liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat face poss im assum. Lorem ipsum dolor sit amet, conse ctet uer adip iscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet…
    .tab.active
        .tab__title Location
        .tab-content
            map-location
    .tab
        .tab__title Recommendation
        .tab-content
            h3 Recommendation info
    .tab
        .tab__title FAQ
        .tab-content
            p FAQ