include ../../components/mixins/_page-hero.pug

-
  const images = ['./images/valentine-hero-lg.png','./images/valentine-hero-sm.png'];

.static-page.special-day-page
  BodyClass(className="theme-special")
  +page-hero({images, titleCenter: true})
  section.bg-special.section-filter
    .container
      .mx-auto.col-xl-6.col-lg-9.col-md-9.message
        Breadcrumb(:data="breadCrumb")
        h1.h2 Valentine’s day special
        p.title-2 Paragraphtext Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore our #[a.link packages]  erat, sed diam. 
      .mx-auto.col-xl-8.col-lg-10.p-0
        .filter-box-wrapper
          filter-box(:hide="true")
            p.filter-results-count #[b 6] of #[b 8]
  section.section-products
    .container
      .section-products-wrapper
        product-card(:data="item", isLarge, :imageRight="i % 2 === 0", v-for="(item, i) in largeProducts", :key="i")
        product-card-list(:listData="productList.data")
        .text-center
          base-button MORE
  section.section-category-block
    category-block
      