<template lang="pug" src="./SpecialDay.pug"></template>
<script>
import mockLargeProducts from '@/constants/mock/products';
import mockProductList from '@/constants/mock/product-list';
import CategoryBlock from '../../components/CategoryBlock';
import ProductCardList from '../../components/ProductCardList';
import FilterBox from '../../components/FilterBox';
import ProductCard from '../../components/ProductCard';
import Breadcrumb from '../../components/Breadcrumb';

export default {
  name: 'SpecialDay',
  components: {
    CategoryBlock,
    ProductCardList,
    ProductCard,
    FilterBox,
    Breadcrumb,
  },
  metaInfo: {
    title: 'Valentine Special',
  },
  data() {
    return {
      breadCrumb: [{
        name: 'Valentine’s day special',
        href: './',
      }],
      productList: {
        data: mockProductList.filter((e, i) => i > 1),
      },
      largeProducts: [
        mockLargeProducts.list[1],
        mockLargeProducts.list[0],
      ],
    };
  },
};
</script>
<style lang="scss" src="./special-day.scss">
</style>

