@import '../../scss/base/base';

// global body
.theme-special {
  .page-hero {
    .base-svg svg path {
      fill: $color-bg-special;
    }
  }
}

// Responsive
.special-day-page {
  .section-filter {
    .message {
      color: #fff;
      .link {
        font-weight: 600;
        border-color: #fff;
        &,
        &:hover {
          color: #fff;
        }
      }
    }

    .breadcrumb {
      margin-bottom: 3rem;
    }
    .h2 {
      margin-bottom: 3rem;
    }
    .title-2 {
      margin-bottom: 7.5rem;
    }
  }
  .product-card {
    background-color: $color-bg;
  }
  .filterbox.is-hidden {
    .filterbox__options {
      margin-bottom: 55px;
    }
   
    .filter-results-count {
      margin-top: 31px;
    }
  }

  .section-category-block {
    padding-bottom: 35px;
  }
  .section-products {
    margin-bottom: 100px;
  }

  @include breakpoint($desktop) {
    .hero__background-wrapper {
      padding-bottom: 0;
      height: 608px;
    }
    .hero__left img {
      object-position: 0 0px;
      width: 89.7%;
    }
    .hero__right img {
      object-position: 0 0px;
      width: 29.3%;
    }

    .section-filter {
      padding-bottom: 353px;
    }
  
    .section-products {
      .section-products-wrapper {
        margin-top: -353px;
      }
    }
  }

  @include breakpoint($tabletUp) {
    .filterbox.is-hidden {
      .filterbox__choice {
        div {
          display: none;
        }
      }
    }
   }

  @include breakpoint($tablet) {
    .section-filter {
      padding-top: 20px;
      .title-2 {
        margin-bottom: 4.2rem;
      }
    }
    .hero__left img {
      object-position: 0 0px;
      width: 89.7%;
    }
    .section-filter {
      padding-bottom: 165px;
    }
   
    .section-products {
      .section-products-wrapper {
        margin-top: -185px;
      }
    }
  }

  @include breakpoint($mobile) {
    .filterbox.is-hidden {
      .filterbox__options {
        margin-bottom: 0;
      }
      .filterbox__choice {
        display: none;
      }
      .filter-results-count {
        display: none;
      }
    }
    .section-products-wrapper > .product-card:first-child {
      margin-top: 0;
    }
    .message {
      .h2 {
        line-height: 4rem;
        margin-bottom: 20px;
      }
      .breadcrumb {
        padding-top: 20px;
        margin-bottom: 25px;
      }
      .title-2 {
        margin-bottom: 40px;
      }
      letter-spacing: -0.1px;
    }
    
  }
}
