include ../../components/mixins/_page-hero.pug
-
  const images = ['@/assets/images/1px.png'];
.special-detail-page
  BodyClass(className="special-detail-page")
  .page-detail__header
    +page-hero({images})
  .page-detail__content
    .container
      .row.main-row
        .col-lg-7.col-content(v-if="$viewport.isTablet || $viewport.isDesktop")
          include ./inc/_gallery
          ul.detail__image-list
            li(v-for="i in 4", v-lazy-container)
              a(href="javascript:void(0);", title="image")
                img.no-effect(data-src="@/assets/images/1px.png", alt="image")
        .col-lg-5.col-aside
          .sticky-wrapper
            .sticky-action
              .right-pad
              Breadcrumb(:data="breadcrumbData")
              .special__info
                .special__category
                  span.underline {{data.speicalType}}
                h1.h2 {{data.title}}
                .special-mobile-images-list.full-viewport(v-if="$viewport.isMobile")
                  include ./inc/_gallery
                .special__rating
                  base-rating(:value="data.rating.value", :count="data.rating.total", v-if="data.rating")
                .special__description {{data.description}}
                .section-tabs.full-viewport(v-if="$viewport.isMobile")
                  .container
                    include ./inc/_tabs
              .special-sticky-block
                .filter-event-time
                  .event-date
                    .icon
                      base-svg(:src="$icons.calendar")
                    .text
                      label {{labels.date}}
                      date-picker(v-model="dateFrom")
                  .event-time
                    .text
                      label {{labels.time}}
                      time-picker
                  .link
                    base-svg.annotation(:src="$icons.qa")
                .special__type
                  base-select(:options="typeOptions", v-model="option")
                .sticky-action__footer
                  .sticky-action__inner
                    .price
                      label.mobile-title Speical XY
                      span 522 CHF
                    .clearfix
                    .action-buttons
                      a.link-bold(:href="jsv", title="Reset selection") Reset selection
                      base-button Add
                        base-svg(:src="$icons.bagPlus")
                    .clearfix
  .section-tabs(v-if="$viewport.isDesktop || $viewport.isTablet")
    .container
      include ./inc/_tabs
  .section-question
    .container
      h2 Any questions?
      .row
        .col-lg-8
          .row
            .col-lg-5
              ul
                li
                  base-svg(:src="$icons.mailbg")
                  a.underline(href="mailto:helpdesk@lunaestella.com") helpdesk@lunaestella.com
                li
                  base-svg(:src="$icons.phone")
                  a.underline(href="tel:0041311234567") 0041 31 123 45 67
            .col-lg-7
              p Feel free to ask us anything about this event. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam eirmod.
  .section-products
    recommendation-list(:listData="recommendGiftLocations", title="Combined with")
    recommendation-list(:listData="recommendSpecials")
    .show-more.text-center
      base-button Show more
  .section-instagram
    instagram
