<template lang="pug" src="./SpecialDetail.pug"></template>
<script>
import productList from '@/constants/mock/products-special-overview';
import { recommendGiftLocations, recommendSpecials } from '@/constants/mock/recommendation-products';
import gift from '@/constants/mock/products-special';
import Breadcrumb from '../../components/Breadcrumb';
import DatePicker from '../../components/DatePicker';
import TimePicker from '../../components/TimePicker';
import TestimonicalList from '../../components/TestimonialList';
import specialFilter from '../../components/FilterBox/configs/specials';
import MapLocation from '../../components/MapLocation';
import RecommendationList from '../../components/RecommendationList';
import OwlCarousel from '../../components/OwlCarousel';
import Instagram from '../../components/Instagram';
import { rightStickyMixin } from './right-sticky';

const typeOptions = [
  { value: 1, label: 'Eventlocation1' },
  { value: 2, label: 'Eventlocation2' },
];
export default {
  name: 'SpecialDetail',
  components: {
    Breadcrumb,
    TestimonicalList,
    DatePicker,
    TimePicker,
    MapLocation,
    RecommendationList,
    OwlCarousel,
    Instagram,
  },
  mixins: [rightStickyMixin],
  metaInfo: {
    title: 'Special Detail',
  },
  data() {
    return {
      labels: {
        date: 'Event date',
        time: 'Time',
      },
      dateFrom: Date.now(),
      specialFilter,
      recommendGiftLocations,
      recommendSpecials,
      data: {
        ...productList[0],
      },
      typeOptions,
      option: typeOptions[0],
      breadcrumbData: [
        {
          name: 'A certain something',
          link: '',
        },
        {
          name: 'Special XY',
          link: '',
        },
      ],
    };
  },
};
</script>

<style lang="scss" src="./special-detail.scss">
</style>
