@import '../../scss/base/_base.scss';

.special-detail-page {
  background-color: $white;
  .page-hero {
    .hero__image {
      background-color: $color-special;
      height: 0;
      padding-bottom: (549/1920) * 100%;
      width: 100%;
    }
    .hero__shape {
      z-index: 2;
      svg path {
        fill: $color-bg;
      }
    }
  }
  .sticky-wrapper {
    height: 100%;
  }
  .breadcrumb {
    margin-bottom: 15px;
    li {
      margin-bottom: 0;
    }
  }
  .page-detail__content {
    background-color: $color-bg;
    padding-bottom: 2rem;
    .col-content {
      padding-bottom: 12rem;
    }
    .main-row {
      margin-top: -372px;
      position: relative;
      z-index: 3;
    }
    @include carousel-arrow-size($space: 40px, $icon: 30px, $stroke: 3px);
  }
  .filter-event-time {
    display: flex;
    margin-bottom: 3rem;
    .event-date {
      display: flex;
      margin-right: 3rem;
      .icon {
        margin-right: 2rem;
        svg {
          width: 3.1rem;
        }
      }
    }
    .event-time {
      margin-right: 2rem;
    }
    .link {
      display: flex;
      align-items: center;
    }
    .annotation {
      transform: none;
    }
    .time-picker-block {
      display: inline;
      max-width: 50px;
      .time-picker__value{
        padding-bottom: 0.1em !important;
        display: inline;
        line-height: 26.46px;
      }
    }
    .date-picker {
      font-weight: 600;
      @include breakpoint($mobile-to-tablet){
        font-size: inherit;
      }
    }
    label {
      display: block;
      font-size: 1.6rem;
      margin-bottom: 0;
    }
  }
  .sticky-wrapper {
    padding-top: 20px;
    position: relative;
    padding-left: calc(18.2% + 20px);
    background-color: $color-bg;
    min-height: 300px;

    .right-pad {
      position: absolute;
      background-color: $color-bg;
      top: 0;
      bottom: 0;
      left: calc(100% - 1px);
      z-index: -1;
    }
  }
  .special__info {
    margin-bottom: 5rem;
  }
  .special__category {
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  h1 {
    margin-bottom: 1rem;
  }
  .special__rating {
    margin-bottom: 4rem;
  }
  .special__description {
    font-size: 2.3rem;
    font-weight: 600;
  }
  .calendarpicker {
    margin-bottom: 2.8rem;
  }
  .special__type {
    border-top: 1px solid $color-sub;
    border-bottom: 1px solid $color-sub;
    padding-top: 2.8rem;
    padding-bottom: 3.3rem;
    margin-bottom: 0.3rem;
    .base-select {
      max-width: 240px;
    }
  }
  // right side column
  .sticky-action {
    padding: 10px 0 0;
    .sticky-action__footer {
      padding: 20px 0 0;
      .price {
        margin-bottom: 30px;
      }
      .action-buttons {
        .link-bold {
          margin-right: 43px;
          margin-top: 10px;
        }
        .btn {
          z-index: 1;
          padding: 1.8rem 6.5rem;
        }
      }
    }
  }
  .detail__image-list li a {
    padding-bottom: 57.27106%;
  }
  .recommendation-list {
    padding-bottom: 6rem;
    .product-card__number-location {
      display: none;
    }
    &:first-child {
      padding-bottom: 9.7rem;
    }
  }
}

.section-tabs {
  background-color: $white;
  padding-bottom: 6.2rem;
  .map {
    margin-top: 0;
    .container {
      padding: 0;
    }
    .map__content .form-validate {
      padding-right: 0;
    }
    .map__filter {
      max-width: 560px;
    }
    .map__intro {
      padding-right: 8.333%;
    }
    h3 {
      display: none;
    }
  }
}

.section-question {
  background-color: $white;
  padding-bottom: 4rem;
  h2 {
    margin-bottom: 5rem;
    letter-spacing: -4px;
    font-weight: bold;
  }
  svg {
    width: 3.1rem;
    margin-right: 1.5rem;
  }
  .col-lg-7 p {
    padding-right: 15%;
  }
  ul {
    padding-left: 5.5rem;
    a {
      font-size: 2rem;
      font-weight: 600;
    }
    li:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

@include breakpoint($min: 1200px, $max: 1600px) {
  .special-detail-page {
    .section-tabs .map .map__intro {
      padding-right: 0;
    }

    .sticky-action {
      .sticky-action__footer {
        padding-top: 10px;
        .action-buttons {
          .btn {
            padding: 1rem 3rem;
            font-size: 2rem;
          }
          a.link-bold {
            margin-top: 0px;
            font-size: 1.8rem;
          }
        }
        .price {
          margin: 0 0 10px;
        }
      }
    }

    .page-detail__content .main-row {
      margin-top: -250px;
    }
    .section-question ul {
      padding-left: 0.5rem;
    }
    .section-question {
      .col-lg-8 {
        max-width: 80%;
        flex: 0 0 80%;
      }
    }
  }
}

@include breakpoint($min: 1200px, $max: 1366px) {
  .special-detail-page {
    .sticky-action {
      .h2 {
        font-size: 5rem;
        line-height: 1.2;
      }
      .special__description {
        font-size: 2.1rem;
      }
      .special__type {
        padding-top: 2rem;
        padding-bottom: 2.5rem;
      }
      .filter-event-time {
        margin-bottom: 2rem;
      }
      .special__info {
        margin-bottom: 2rem;
      }
      .special__rating {
        margin-bottom: 2rem;
      }
    }
  }
}

@include breakpoint($tabletUp) {
  .special-detail-page {
    .tab__title {
      display: none;
    }
  }
}

@include breakpoint($mobile-to-tablet) {
  .special-detail-page {
    .breadcrumb,
    .calendarpicker__content .icon {
      display: none;
    }
    .page-detail__content {
      .col-content {
        padding-bottom: 5.5rem;
      }
    }
    .sticky-wrapper:after {
      height: calc(100% + 75px);
    }
    .special__info {
      margin-bottom: 0;
    }
    .special__category {
      font-size: 2.1rem;
      margin-bottom: 2.2rem;
    }
    h1 {
      margin-bottom: 2.8rem;
    }
    .special__rating {
      margin-bottom: 1.2rem;
    }
    .special__description {
      font-size: 2.1rem;
      margin-bottom: 2.2rem;
    }
    .special__type {
      .base-select {
        max-width: 100%;
      }
    }
    .filter-event-time {
      .event-date {
        .icon {
          display: none;
        }
      }
      .date-picker__value,
      .time-picker__value {
        font-size: 1.8rem;
        font-weight: 600;
      }
      label {
        font-size: 1.5rem;
      }

    }
    .sticky-action .sticky-action__footer {
      .price {
        float: none;
        text-align: center;
        margin-bottom: 0;
      }
      .action-buttons {
        flex-direction: column;
        float: none;
        .link-bold {
          margin-right: 0;
          margin-top: 3.5rem;
          margin-bottom: 4.6rem;
        }
        .btn {
          padding: 1.5rem 4.2rem;
        }
      }
    }
    .recommendation-list:first-child {
      padding-bottom: 7rem;
    }
    .map {
      .map__filter {
        margin-top: -160px;
        .form-validate > button.btn {
          font-size: 2.3rem;
          padding: 1.8rem 4.5rem;
        }
      }
      .map__image {
        height: 0;
        padding-bottom: 39.5%;
      }
      .map__content .form-validate .btn-group {
        margin-bottom: 65px;
        justify-content: flex-start;
        .btn-map-filter {
          padding-top: 25px;
          &:first-child {
            margin-right: 70px;
          }
        }
      }
    }
  }
  .section-tabs {
    padding-bottom: 4.2rem;
    .tabs__menu li a {
      font-size: 1.5rem;
    }
    .map {
      .map__filter {
        .btn-group {
          .btn-map-filter {
            font-size: 1.5rem;
            .base-svg {
              margin-right: 1.5rem;
            }
          }
        }
      }
    }
  }
  .section-question {
    ul,
    .col-lg-7 p {
      padding-left: 30px;
      font-size: 2rem;
    }
    ul {
      margin-bottom: 4.5rem;
      a {
        font-size: 1.8rem;
      }
    }
    h2 {
      letter-spacing: 0px;
      margin-bottom: 4rem;
    }
  }
}

@include breakpoint($tablet) {
  .special-detail-page {
    .page-detail__content {
      .main-row {
        margin-top: -196px;
      }
      @include carousel-arrow-size($space: 33px, $icon: 30px, $stroke: 3px);

      .col-content {
        width: 62%;
        padding-right: 24px;
      }
      .col-aside {
        width: 38%;
      }
      .sticky-wrapper {
        padding-left: 44px;
      }
    }
    .detail__gallery {
      margin-bottom: 3rem;
    }
    .sticky-action {
      padding-top: 2.7rem;
    }
  }
  .section-tabs {
    .tabs__menu li a {
      font-size: 1.5rem;
    }
    .map {
      .map__filter {
        max-width: 49.6%;
      }
      .map__intro {
        max-width: 49.4%;
        padding-right: 0;
        padding-left: 14.5%;
      }
    }
  }

  .section-question {
    max-width: 60%;
  }
}

@include breakpoint($max: 992px, $min: 768px) {
  .special-detail-page {
    .page-detail__content .sticky-wrapper {
      padding-left: 20px;
    }
    .section-tabs .map .map__intro {
      padding-left: 6.5%;
    }
    .map .map__content .form-validate .btn-group .btn-map-filter:first-child {
      margin-right: 20px;
    }
  }
}

@include breakpoint($mobile) {
  .special-detail-page {
    .page-hero {
      display: none;
    }
    .page-detail__content {
      @include carousel-arrow-size($space: 33px, $icon: 15px, $stroke: 3px);
      .main-row {
        margin-top: 0;
      }
    }
    h1 {
      margin-bottom: 2.5rem;
    }
    .detail__gallery {
      margin-bottom: 30px;
      .detail__gallery-image {
        padding-bottom: 57.23009%;
      }
    }
    .special__description {
      padding-right: 20px;
      margin-bottom: 2.8rem;
    }
    .tabs .tab {
      padding: 1rem 0;
      .tab__title {
        font-size: 1.8rem;
        padding-left: 20px;
      }
      .tab-content {
        margin-top: 15px;
      }
    }
    .section-tabs {
      margin-bottom: 3.6rem;
      padding-top: 3.3rem;
    }
    .map .map__filter {
      margin-top: 0;
    }
    .calendarpicker__content {
      justify-content: flex-start;
    }
    .calendarpicker {
      margin-bottom: 3rem;
    }
    .special__type {
      padding-bottom: 0.7rem;
      padding-top: 3.4rem;
      border-bottom: 0;
      .base-select {
        max-width: 100%;
      }
    }
    .page-detail__content {
      padding-bottom: 6rem;
    }
    .section-question {
      padding-left: 20px;
      padding-bottom: 5.2rem;
      svg {
        margin-right: 1rem;
      }
      h2 {
        margin-bottom: 3rem;
        margin-left: -40px;
        margin-right: -20px;
        padding-left: 40px;
        padding-bottom: 3rem;
        background-color: $color-bg;
      }
      ul,
      .col-lg-7 p {
        padding-left: 0;
      }
      .col-lg-7 p {
        padding-right: 0;
      }
    }
    .recommendation-list {
      &:first-child {
        padding-bottom: 0;
      }
      &:nth-child(2) {
        padding-top: 0;
      }
      .carousel__nav-wrapper {
        margin-top: 0;
        .icon-btn.carousel__nav--next {
          padding-right: 25px;
        }
        .icon-btn.carousel__nav--prev {
          padding-left: 25px;
        }
      }
      .count {
        bottom: 65px;
      }
      .product-card {
        .base-rating {
          margin-bottom: 44px;
        }
      }
    }
    .sticky-wrapper {
      padding-left: 0;
      .sticky-action {
        position: static!important;
      }
      .sticky-action__footer {
        position: static !important;
        &.no-sticky {
          .sticky-action__inner {
            border-top: 0px solid $color-sub;
            position: static;
            background-color: transparent;
            padding: 0;
          }
        }
        .sticky-action__inner {
          background-color: #fff;
          border-top: 1px solid $color-sub;
          position: fixed;
          bottom: 0;
          padding: 12px 20px;
          left: 0;
          z-index: 9999;
          width: 100%;
        }

        h3 {
          width: 100%;
        }

        .price {
          font-size: 1.8rem;
          display: flex;
          float: none;
          justify-content: space-between;
          font-weight: 700;
          margin-bottom: 5px;
          label {
            color: $color-main;
            font-size: 1.8rem;
          }
          .mobile-title {
            font-weight: 600;
          }
        }
        .action-buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          float: none;
          flex-direction: row;
          a.link-bold {
            font-size: 1.8rem;
            margin-top: 0;
            margin-bottom: 0;
          }
          .btn {
            padding: 10px 23px;
            font-size: 0;
            line-height: 0;
            svg {
              display: block;
            }
          }
        }
      }
    }
  }
}
