.cookie-message(v-show="showCookieMessage")
  a.icon-close-white(:href="jsv", @click="acceptCookie")
  p We use cookies to improve your experience on our website. By browsing this website, you agree to #[a.link-bold our use of cookies.] 