.header__dropdown(v-show="dropdowns.lang")
      .header__lang.header__dropdown__inner.container-fluid(:schema="loginSchema", ref="loginForm")
        p.title Change your language
        .sp-line
        .intro-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
        .checks-wrapper
          .form-group
            label Your country
            base-select(name="country", :options="countries", v-model="country")
          .form-group
            label Your Language
            base-select(name="language", :options="languages", v-model="selectedLanguage")
        .text-center
            a.link.uppercase(:href="jsv", @click="dropdowns.lang = false") OK
        .form-check
          input.checkbox(type="checkbox", :checked="true")
          label Safe my choice
