.header__dropdown(v-show="dropdowns.login")
      form-validate.header__login.header__dropdown__inner.container-fluid(:schema="loginSchema", ref="loginForm")
        p.header__dropdown-title {{$t('user.pleaseLogin')}}
        .sp-line
        .row.align-items-center
          .form-group
            input.form-control(type="text", :placeholder="$t('user.username').toCapitalize()", name="email")
          .form-group
            input.form-control(type="password", :placeholder="$t('user.password').toCapitalize()", name="password")
          .form-group.form-buttons
            button.link-btn.link.uppercase(type="submit") {{$t('user.login')}}
            br
            button.link-btn.link.uppercase(type="submit") {{$t('user.register')}}
        .btn-back
          a.link.left-link.uppercase(:href="jsv", @click="backToMenu") &nbsp;{{$t('action.back')}}