.header__dropdown.header__menu(v-show="dropdowns.menu")
  .header__dropdown__inner.container-fluid.clearfix
    .search-tools
      search-box
      +btn-login
      +btn-language
    .nav-links
      router-link.btn-link(:to="item.link" v-for="(item, index) in menus", :title="item.title", :key="index") {{item.title}}
    .special-pages
      router-link.btn-link(:to="item.link" v-for="(item, index) in specialPages", :title="item.title", :key="index") {{item.title}}
    .static-pages
      router-link.btn-link(:to="item.link" v-for="(item, index) in staticPages", :title="item.title", :key="index") {{item.title}}
    list-socials
