<template lang="pug" src="./Packages.pug"></template>

<script>
import mockLargeProducts from '@/constants/mock/products';
import CategoryBlock from '../../components/CategoryBlock';
import FilterBox from '../../components/FilterBox';
import ProductCard from '../../components/ProductCard';

export default {
  name: 'Packages',
  components: {
    CategoryBlock,
    FilterBox,
    ProductCard,
  },
  metaInfo: {
    title: 'Packages Overview',
  },
  data() {
    return {
      largeProducts: [
        ...mockLargeProducts.list,
        ...mockLargeProducts.list,
      ],
    };
  },
};
</script>

<style lang="scss" src="./assets/styles/packages.scss"></style>