include ../../components/mixins/_page-hero.pug

-
    const images = ['./assets/images/hero-packages1.png','./assets/images/hero-packages2.png'];
.packages-page
    +page-hero({title: 'Our nice packages', images, titleCenter: true})
    section.bg-main.section-filter.filter-overlap
        .container
            .mx-auto.col-xl-8.col-lg-10.p-0
                .filter-box-wrapper
                    filter-box(:hide="true")
                        p.filter-results-count #[b 8] of #[b 23]
    section.section-products
        .container
            .section-products-wrapper
                product-card(:data="item", isLarge, :imageRight="i % 2 === 0", v-for="(item, i) in largeProducts", :key="i")
                .text-center
                    base-button MORE
    CategoryBlock