.container(v-show="forgotPass")
  .h2(id="forgotPassModal") Forgot your password?
  form.forgot-pass
    p Please enter your username or email address. Instructions to resetting the password will be immediately emailed to you.
    .form-group
      label.required Username or email address
      input.form-control(type="text", placeholder="Username or email address", name="password")
    .form-actions
      base-button RESET PASSWORD