<template lang="pug" src="./FormLogin.pug">

</template>

<script>
import toastr from '@/helpers/user-interface/toast';
import apiPaths from '@/constants/api/api-paths';
import apiCaller from '../../../../services/api-caller';
import FormValidate from '../../components/FormValidate';


export default {
  name: 'FormLogin',
  components: { FormValidate },
  data() {
    return {
      formSchema: yup => ({
        email: yup.string().email().required().label('Email'),
        password: yup.string().required().label('Password'),
        gender: yup.string().oneOf(['male', 'female']).label('Gender'),
      }),
      isLoading: false,
      info: null,
    };
  },
  methods: {
    async onSubmit(formData) {
      this.isLoading = true;
      try {
        const { data } = await apiCaller.post(apiPaths.users.login, {
          body: {
            ...formData,
          },
        });
        toastr.success('Login success');
      } catch (e) {
        toastr.error('Login fail!');
      }
      this.isLoading = false;
    },
    callAPI() {
      return new Promise(((resolve, reject) => {
        setTimeout(() => { resolve(); }, 1000);
      }));
    },
  },
};
</script>
