base-loading(:loading="isLoading")
  form-validate.form-login(:schema="formSchema", @success="onSubmit")
    .form-group
      label.required Email
      input.form-control(name="email")
    .form-group
      label.required Password
      input.form-control(name="password", type="password")
    .form-group.mt-5
      .row
        .col-md-6
          .form-check
            input(name="gender", type="radio", value="male")
            label Male
        .col-md-6
            .form-check
              input(name="gender", type="radio", value="female")
              label Female
    .my-5
      base-button(type="submit", tag="true", color="main") Submit

