@import '../../../scss/base/base';

.product-card-list {
  margin-bottom: 40px;

  &__carousel {
    [class*='__nav--'] {
      top: initial;
      transform: none;
      left: 10px;
      top: 100%;
      svg path {
        stroke: $color-sub;
      }
    }
    [class*='__nav--next'] {
      left: initial;
      right: 10px;
    }
  }

  .product-card-list__carousel-info {
    position: absolute;
    text-align: center;
    margin-top: 25px;
    top: 100%;
    left: 0;
    pointer-events: none;
    right: 0;
  }
  .product-card {
    margin-bottom: 0;
  }

  @include breakpoint($desktop) {
    .product-card__content {
      padding-bottom: 60px;
    }
  }

  @include breakpoint($min: 992px, $max: 1200px) {
    .product-card {
      label {
        right: -40px;
      }
    }
  }

  @include breakpoint($tablet) {
    .product-card__title {
      height: calc(2.8em);
      overflow: hidden;
    }
    .product-card__content {
      padding-bottom: 60px;
    }
  }

  @include breakpoint($mobile) {
    .product-card {
      margin-top: 0;
      margin-bottom: 50px;
      &__thumbnail{
        position: static;
      }
      label {
        right: -20px;
      }
    }
  }
}
