@import '../../scss/base/base';

.simple-content-page {
    .simple-content-wrapper {
        background-color: $white;
        margin-top: -12rem;
        position: relative;
        color: $color-text-content;
        padding: 11rem 0 10rem;
    }
    .content-text {
        width: 50%;
        margin: 0 auto 13rem;
    }
    .simple-contact-form {
        width: 67%;
        margin: 0 auto;
    }
}
.content-text {
    h3 {
        margin-bottom: 0.5rem;
    }
    p {
        @extend %title-2;
        margin-bottom: 3.4rem;
    }
    .title-1 {
        margin-bottom: 0.5rem;
    }
}

/*
* Responsive
*/
@include breakpoint($tablet) {
    .simple-content-page {
        .simple-content-wrapper {
            margin-top: -6rem;
        }
    }
    .simple-content-page {
        .content-text {
            width: 70%;
            margin-bottom: 7rem;
        }
        .simple-contact-form {
            width: 80%;
        }
    }
}
@include breakpoint($mobile-to-tablet) {
    .content-text {
        p {
            margin-bottom: 2.4rem;
        }
    }
}
@include breakpoint($mobile) {
    .simple-content-page {
        .has-small-page-hero {
            .page-hero {
                .hero__background-wrapper {
                    padding-bottom: 226px;
                }
            }
        }
        .simple-content-wrapper {
            margin-top: -20px;
            padding: 5rem 20px;
        }
        .content-text {
            width: 100%;
            margin-bottom: 5rem;
        }
        .simple-contact-form {
            width: 100%;
        }
    }
}
@include breakpoint($max: 480px) {
    .simple-content-page {
        .simple-content-wrapper {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        .content-text {
            margin-bottom: 3rem;
        }
    }
    .content-text {
        h3 {
            font-size: 2.3rem;
        }
        .title-1 {
            font-size: 2.0rem;
        }
        p {
            font-size: 1.6rem;
        }
    }
    .simple-contact-form {
        .h3 {
            font-size: 2.3rem;
        }
    }
}