<template lang="pug" src="./SimpleContent.pug"></template>
<script>
import ContactForm from '../../components/ContactForm';

export default {
  name: 'SimpleContent',
  components: {
    ContactForm,
  },
  metaInfo() {
    return {
      title: 'Simple content',
    };
  },
};
</script>
<style lang="scss" src="./simple-content.scss"></style>
