<template lang="pug" src="./BaseButton.pug"></template>
<script>
export default {
  name: 'BaseButton',
  props: [
    'name',
    'disabled',
    'type',
    'color',
    'circle',
    'icon',
    'tag',
    'close',
  ],
  data() {
    return {
      btnColor: `btn-${this.color ? this.color : 'default'}`,
      btnClasses: {
        'btn-icon': !!this.circle,
        'btn-lg': !!this.large,
        'btn-tag': !!this.tag,
        'btn-closable': !!this.close,
        'btn-transparent': !!this.close && !this.color,
      },
    };
  },
};
</script>

