button.btn(:class="[btnColor, btnClasses]" :disabled="disabled", :type="type || 'button'", v-on="$listeners")
  base-svg(v-if="icon", :src="icon")
  slot
  base-svg.icon-close(v-if="close", :src="$icons.close", @click="$emit('close')")