@import '../../../../scss/base/base';

.packages-page{
  .product-card {
    background-color: $color-bg;
  }
  .page-hero {
    .hero__shape{
      bottom: -1px;
    }
    .base-svg svg path {
      fill: $color-main;
    }
  }

  .category-block__group:first-child {
    display: none;
  }
  .section-products {
    margin-bottom: 140px;
  }
  .category-block {
    padding-bottom: 65px;
  }

  @include breakpoint($desktop) {
    .section-filter {
      padding-bottom: 353px;
    }
    .section-products {
      .section-products-wrapper {
        margin-top: -353px;
      }
    }
    }
  @include breakpoint($tablet) {
    .section-filter {
      padding-bottom: 165px;
    }

    .section-products {
      margin-bottom: 100px;
      .section-products-wrapper {
        margin-top: -185px;
      }
    }
    .category-block {
      padding-bottom: 45px;
    }
    
  }
  @include breakpoint($mobile) {
    .section-products {
      margin-bottom: 120px;
      .section-products-wrapper {
        > .product-card:first-child {
          margin-top: 0;
        }
      }
    }
    .category-block {
      padding-bottom: 15px;
    }
  }
}
