<template lang="pug" src="./SpecialGifts.pug"></template>
<script>
import mockProductList from '@/constants/mock/products-special';
import { onResize } from '@/helpers/dom/resize';
import ProductCard from '../../components/ProductCard';
import FilterBox from '../../components/FilterBox';
import filterGiftsconfig from '../../components/FilterBox/configs/gifts';
import CategoryBlock from '../../components/CategoryBlock';

export default {
  name: 'SpecialGifts',
  components: {
    mockProductList,
    ProductCard,
    FilterBox,
    CategoryBlock,
  },
  metaInfo: {
    title: 'Special Gifts',
  },
  data() {
    return {
      productList: {
        data: mockProductList,
      },
      filterGiftsconfig,
      isThumbMobile: this.$viewport.isMobile,
    };
  },
  mounted() {
    if (this.$viewport.isThumbMobile) {
      this.isThumbMobile = this.$viewport.isMobile;
    }
    this.resizeHandler = onResize(() => {
      setTimeout(() => {
        this.isThumbMobile = this.$viewport.isMobile;
      }, 400);
    });
  },
};
</script>

<style lang="scss">
  @import "../../scss/base/_base.scss";
  .special-gifts {
    .no-padding {
      padding: 0;
    }
    .loadmore {
      margin-top: 40px;
      width: 100%;
    }
    .page-hero {
      path {
        fill: #8d6d16;
      }
      .hero__left img {
        background-color: #656565;
      }
      .hero__right img {
        background-color: #c6c6c6;
      }
    }
    .section-product-list {
      margin-bottom: 145px;
    }

    .bg-specialgifts {
      background-color: #8d6d16;
    }

    .product-card__image {
      padding-bottom: 125% !important;
    }

    .section-product:nth-child(3n + 2) {
      .product-card {
        &__image {
          background-color: #656565;
        }
      }
    }
    .product-card {
      margin-bottom: 0;
      height: 100%;
      &__content {
        padding-bottom: 4.2rem;
      }
      &__title {
        height: auto;
        margin-bottom: 1rem;
      }
      &__color {
        display: inline-block;
        margin-bottom: 2.7rem;
        margin-top: 0.7rem;
        span {
          border-radius: 50px;
          display: inline-block;
          margin-right: 20px;
          width: 45px;
          height: 45px;
          @include breakpoint($max: 992px) {
            margin-right: 13px;
            width: 35px;
            height: 35px;
          }
        }
      }
      &__image {
        background-color: #c6c6c6;
      }
    }
    .category-block {
      margin-bottom: 15rem;
    }

    @include breakpoint($tabletUp) {
      .product-card {
        display: flex;
        flex-direction: column;
        &__content {
          flex: 1;
        }
      }
    }

    @include breakpoint($desktop) {
      .section-filter {
        padding-bottom: 240px;
      }
      .section-product-list {
        margin-top: -240px;
        margin-bottom: 145px;
      }
    }

    @include breakpoint($tablet) {
      .section-filter {
        padding-bottom: 194px;
      }
      .section-product-list {
        margin-top: -194px;
        margin-bottom: 100px;
      }

      .title-1 {
        font-size: 2.6rem;
      }
      .product-card__color {
        margin-bottom: 1.7rem;
      }
      .offer p {
        font-size: 2.1rem;
        padding-right: 30px;
      }
    }

    @include breakpoint($mobile) {
        .category-block .group-title{
            padding: 0;
        }
      .section-products-wrapper {
        margin-left: -20px;
        margin-right: -20px;
      }
      .product-card {
        label {
            bottom: 17px;
            right: 0;
          &::before {
              content: none;
              top: -10px;
              border-left: 20px solid #aba093;
              border-top: 10px solid transparent;
              border-bottom: 0px solid transparent;
          }
        }
        &__content{
            padding-top: 22px;
        }
        &__color{
            margin-bottom: 1.7rem;
            &:last-child span{
                margin-right: 0;
            }
            span{
                border: 4px solid $white;
                width: 24px;
                height: 24px;
            }
        }

        &__location{
          font-size: 1.5rem;
        }
        &__title, &__price .title-1{
          font-size: 1.8rem;
        }
      }
      .product-card__thumbnail {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
</style>