include ../../components/mixins/_page-hero.pug

-
    const images = ['@/assets/images/1px.png','@/assets/images/1px.png'];

.static-page.special-gifts.hero-filter-overlap
    BodyClass(className="theme-specialgifts")
    +page-hero({title: "Special Gifts", images, titleCenter: true})
    section.bg-specialgifts.section-filter.filter-overlap
        .container
            .mx-auto.col-xl-8.col-lg-10.p-0
                .filter-box-wrapper
                    filter-box(:config="filterGiftsconfig")
                        p.filter-results-count #[b 9] of #[b 23]
    section.section-product-list
        .container
            .section-products-wrapper.row.no-gutters
              .section-product.col-6.col-sm-4(v-for="(item, id) in productList.data", :key="id")
                  product-card(:data="item", :isThumbMobile ="isThumbMobile")
              .loadmore.text-center
                  base-button MORE
    section.section-category-block
        category-block(hide="gifts")
