<template lang="pug" src="./BasePopover.pug"></template>
<script>
import tippy from 'tippy.js';
import 'tippy.js/dist/tippy.css';

export default {
  name: 'BasePopover',
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    zIndex: {
      type: Number,
    },
    flip: {
      type: Boolean,
      default: true,
    },
    placement: {
      type: String,
    },
    maxWidth: {
      type: Number,
    },
    trigger: {
      type: String,
    },
  },
  data() {
    return {
      uid: this.makeUid(),
    };
  },
  mounted() {
    this.initPopover();
  },
  updated() {
    this.initPopover();
  },
  beforeDestroy() {
    this.destroyTippy();
  },
  methods: {
    makeUid() {
      return `po-${Date.now()}`;
    },
    destroyTippy() {
      if (this.tippy) {
        this.tippy.destroy(true);
        delete this.tippy;
      }
    },
    initPopover() {
      this.destroyTippy();
      const trigger = this.$refs.trigger;
      const contentEl = this.$refs.content;
      this.tippy = tippy(trigger, {
        theme: 'light',
        flip: this.flip,
        zIndex: this.zIndex,
        trigger: this.trigger || 'mouseenter focuss',
        allowHTML: true,
        content: contentEl.outerHTML,
        arrow: true,
        arrowType: 'sharp',
        size: 'large',
        animation: 'shift-away',
        placement: this.placement || 'right',
        showOnInit: this.show,
        interactive: true,
        distance: 30,
        maxWidth: this.maxWidth,
        hideOnClick: false,
      }).instances[0];
      $(document).on('click', `#${this.uid} .close-popover`, () => {
        this.tippy.hide();
        this.$emit('close');
      });
    },
  },
};
</script>
<style lang="scss">
  @import "../../scss/base/_base.scss";

  .popover {
    cursor: pointer;
    > .popover__content {
      display: none;
    }
  }

  .tippy-popper {
    .light-theme {
      @extend %drop-shadow;
      text-align: left;
      background-color: #fff;
      color: $color-main;
      padding: 30px 30px;
      font-family: inherit;
      max-width: 320px;
      border-radius: 0;
    }
    p.popover-title {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 2.6rem;
    }

    p:not(.popover-title) {
      font-size: 1.6rem;
      line-height: 2.7rem;
      font-weight: normal;
    }

    a {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
  .tippy-popper .tippy-arrow {
    border-width: 16px !important;
    border-color: #fff;
  }
  .tippy-popper[x-placement^="top"] .tippy-arrow {
    bottom: -16px;
    border-top-color: #fff;
  }
  .tippy-popper[x-placement^="bottom"] .tippy-arrow {
    top: -16px;
    border-bottom-color: #fff;
  }
  .tippy-popper[x-placement^="right"] .tippy-arrow {
    border-right: 16px solid #fff;
    border-width: 16px;
    margin-top: -5px;
    left: -15px;
  }
  .tippy-popper[x-placement^="left"] .tippy-arrow {
    border-left: 16px solid #fff;
    border-width: 16px;
    margin-top: -5px;
    right: -15px;
  }
</style>

