div
  the-header(isFixed="true", :locationColor="false")
  .page-content.container
      include ./inc/_other-blocks
      include ./inc/_cart-checkout
      include ./inc/_brand
      include ./inc/_colors
      include ./inc/_buttons
      include ./inc/_forms
      include ./inc/_media
      include ./inc/_unique
      include ./inc/_typography
  recommendation-list
  map-location
  the-footer()
  light-box
