<template lang="pug" src="./StyleGuide.pug"></template>
<style lang="scss" src="./styles/style-guide.scss" ></style>
<script>
import mockImages from '@/constants/mock/images';
import mockProducts from '@/constants/mock/products';
import * as mockCart from '@/constants/mock/cart-items';
import CartItem from '@/modules/cart-checkout/components/CartItem';
import OwlCarousel from '../../components/OwlCarousel';
import ProductCard from '../../components/ProductCard';
import PriceSlider from '../../components/PriceSlider';
import TheHeader from '../../components/TheHeader';
import TheFooter from '../../components/TheFooter';
import DatePicker from '../../components/DatePicker';
import FormLogin from '../../components/FormLogin';
import ProductCardList from '../../components/ProductCardList';
import LightBox from '../../components/LightBox';
import CategoryBlock from '../../components/CategoryBlock';
import TestimonicalList from '../../components/TestimonialList';
import FilterBox from '../../components/FilterBox';
import CreditCardForm from '../../components/CreditCardForm';
import ContactForm from '../../components/ContactForm';
import RecommendationList from '../../components/RecommendationList';
import MapLocation from '../../components/MapLocation';
import TimePicker from '../../components/TimePicker';

const genderOptions = [
  { value: 'male', label: 'Male' },
  { value: 'female', label: 'Female' },
];
export default {
  name: 'StyleGuide',
  components: {
    PriceSlider,
    ProductCard,
    TheHeader,
    DatePicker,
    OwlCarousel,
    TheFooter,
    FormLogin,
    ProductCardList,
    LightBox,
    CategoryBlock,
    TestimonicalList,
    FilterBox,
    MapLocation,
    CartItem,
    RecommendationList,
    CreditCardForm,
    ContactForm,
    TimePicker,
  },
  metaInfo: {
    title: 'Style Guide',
  },
  data() {
    return {
      mockCart,
      mockImages,
      sliderImages: mockImages.slider,
      genderOptions,
      gender: genderOptions[0],
      quantity: 1,
      product: mockProducts.single,
      product2: mockProducts.list[1],
      productList: [],
      richOptions: [],
    };
  },
  mounted() {
    const { product, product2 } = this;
    this.productList = [product, product, product, product2];
  },
  methods: {
    loadMoreProducts() {
      const { product, product2 } = this;
      this.productList.push(product);
    },
    selectLocationSearch(query) {
      return new Promise((resolve) => {
        // fake api call
        setTimeout(() => {
          resolve(['Italy', 'Austria', 'Switzerland', 'France', 'Germany']);
        }, 1000);
      });
    },
    richSearch(query) {
      return new Promise((resolve) => {
        // fake api call
        setTimeout(() => {
          this.richOptions = ['RICH', 'RICH 2'];
          resolve(null);
        }, 1000);
      });
    },
  },
};
</script>
