.home-page {
  @include breakpoint($desktop) {
    .filterbox.is-hidden .filterbox__choice > * {
      display: none;
    }
    .filterbox__options {
      margin-bottom: 5.5rem;
    }
  }
  @include breakpoint($min: 1200px, $max: 1450px) {
    .section-special .special__introtext {
      margin-bottom: 5rem;
    }
    .section-special .special__content h2 {
      margin-bottom: 5rem;
      font-size: 7.2rem;
      width: 400px;
      min-width: 400px;
      line-height: 8rem;
    }
    .page-hero .hero__title {
      margin-top: 70px;
    }
  }

  @include breakpoint($tablet) {
    .page-hero {
      .hero {
        &__title {
          font-size: 5.5rem;
          line-height: 6.1rem;
          margin-top: 4.9rem;
        }
      }
    }

    /* Section location */
    .section-intro {
      padding: 7rem 0 9rem;
      h2 {
        margin-bottom: 6rem;
        line-height: 4rem;
      }
      .location {
        &__content {
          padding: 0;
        }

        &__intro-text {
          font-size: 1.8rem;
          width: 100%;
          line-height: 2.8rem;
        }
      }
    }

    /* section special */
    .section-special {
      .showmore {
        .btn {
          font-size: 2.3rem;
        }
      }
      .special {
        &__content {
          padding-left: 4rem;
          width: calc(100% - 36.2%);
          h2 {
            font-size: 5.5rem;
            line-height: 6.1rem;
            width: 308px;
            min-width: 0;
            margin-bottom: 4rem;
          }
        }
        &__introtext {
          margin-bottom: 4rem;
          a {
            font-size: 1.8rem;
            line-height: 2.8rem;
          }
        }
        &__image {
          width: 36.2%;
        }
      }
    }

    /* section content */
    .section-content {
      margin: 10rem 0 0;
      padding-top: 0 !important;
      h2 {
        margin-bottom: 40px;
        line-height: 3.8rem;
      }
    }

    .section-content + .section-categories {
      padding-bottom: 4rem;
    }
  }

  @include breakpoint($min: 768px, $max: 900px) {
    /* section special */
    .section-special {
      .special {
        &__content {
          h2 {
            font-size: 4.7rem;
            line-height: 5rem;
            width: 260px;
            margin-bottom: 1.2rem;
          }
        }
        &__introtext {
          margin-bottom: 1.2rem;
        }
      }
    }
  }

  @include breakpoint($mobile) {
    .arrow-list a {
      font-size: 1.5rem;
    }
    .page-hero {
      .hero {
        &__content {
          left: 0;
          right: 0;
          margin: 0 auto;
          padding-left: 0;
        }
        &__title {
          font-size: 5.5rem;
          line-height: 6.1rem;
          margin: 4.9rem auto 0;
          width: 300px;
        }
        &__background-wrapper {
          max-height: 479px;
        }
      }
    }

    /* Section location */
    .section-intro {
      padding: 9rem 0 10rem;
      h2 {
        margin-bottom: 8rem;
        line-height: 4rem;
      }
      .location {
        &__content {
          padding: 0;
        }

        &__intro-text {
          font-size: 1.8rem;
          width: 100%;
          line-height: 2.8rem;
        }
      }
      + .section-categories {
        padding-top: 4rem;
        padding-bottom: 5rem;
        .category-block {
          margin-top: 0;
        }
        .group-title {
          color: $color-main;
          padding: 0;
        }
      }
    }

    /* section special */
    .section-special {
      .d-desktop {
        display: none;
      }
      .d-mobile {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      .showmore {
        .btn {
          font-size: 2.3rem;
        }
      }
      .special {
        flex-direction: column-reverse;
        &__content {
          padding: 4rem 20px 9rem;
          width: 100%;
          position: relative;
          overflow: hidden;
          h2 {
            margin-bottom: 4rem;
            line-height: 6rem;
            width: 92%;
          }
        }
        &__introtext {
          margin-bottom: 4rem;
          padding-left: 20px;
          a {
            font-size: 1.8rem;
            line-height: 2.8rem;
          }
          p {
            margin-bottom: 0;
          }
        }
        &__image {
          width: 100%;
          padding: 0;
        }
      }
    }

    .section-blog {
      .viewmore {
        .btn {
          @include breakpoint($max: 450px) {
            width: 100%;
            br {
              display: block;
            }
          }
        }
      }
    }

    /* section content */
    .section-content {
      margin: 10rem 0 0;
      padding-top: 0 !important;
      h2 {
        margin-bottom: 40px;
        line-height: 3.8rem;
      }
    }

    .section-content + .section-categories {
      padding: 25px 0 10px;
    }
  }
}

@include breakpoint($max: 358px) {
  .header__menu.header__menu .search-box {
    margin: 20px 0 15px;
  }
  .header__menu .nav-links > a,
  .header__menu .special-pages > a {
    font-size: 1.8rem;
  }
}
