@import '../../../../scss/base/_base.scss';

$color-text-home: #262124 !default;
.home-page {
  color: $color-text-home;
  img {
    max-width: 100%;
  }

  .filter-box-wrapper {
    color: $color-main;
    .filter-results-count {
      color: $color-main;
    }
    .filterbox__choice {
      border-color: $color-main;
      .h5 {
        color: $color-main;
        svg path {
          fill: $color-main;
        }
      }
      &::after {
        background-color: $color-main;
      }
    }
  }

  .arrow-list {
    a {
      font-weight: 600;
      text-transform: uppercase;
      line-height: 2.7rem;
      &:before {
        content: '\2023';
        display: inline-block;
        padding-right: 1.5rem;
        font-size: 2.6rem;
      }
      &.link {
        border: 0;
      }
      span {
        @extend %underline;
      }
    }
  }
  .sht {
    fill: $color-main !important;
  }

  h2 {
    line-height: 6.8rem;
  }

  .page-hero {
    .hero {
      &__content {
        left: 29.5%;
        padding-left: 40px;
        right: auto;
      }
      &__shape {
        bottom: -1px;
      }
      &__title {
        font-size: 8.9rem;
        line-height: 9rem;
        width: 100px;
      }
    }
  }

  .godown {
    background-color: $color-main;
    padding: 27px 0;
    svg {
      width: 42px;
      path {
        fill: none;
      }
    }
  }

  /* Section location */
  .section-intro {
    padding: 14rem 0;
    color: $white;
    text-align: center;

    h2 {
      margin-bottom: 6rem;
    }

    .location {
      &__content {
        margin: 0 auto;
        padding: 0 5rem;
      }

      &__intro-text {
        font-size: 3.2rem;
        width: 80%;
        margin: 0 auto;
        a {
          font-weight: 700;
          border-bottom: 3px solid $white;
          padding-bottom: 3px;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  /* section categories */
  .section-categories {
    padding: 6rem 0 13rem;
  }

  /* section special */
  .section-special {
    background-color: $color-bg-special;
    color: $white;
    .d-mobile {
      display: none;
    }
    .showmore {
      .btn {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    .special {
      display: flex;
      align-items: center;
      text-align: right;
      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 16%;
        width: calc(100% - 37%);
        h2 {
          line-height: 9rem;
          width: 56%;
          margin-bottom: 11rem;
          letter-spacing: normal;
          @include breakpoint($min: 510px) {
            min-width: 502px;
          }
        }
      }
      &__introtext {
        margin-bottom: 8.7rem;
        a {
          color: $white;
          font-size: 2.3rem;
          font-weight: 600;
          line-height: 34px;
          @extend %underline;
          border-bottom-color: $white;
        }
      }
      &__image {
        padding-left: 7.3%;
        width: 37%;
      }
    }
  }

  .section-blog {
    .viewmore {
      br {
        display: none;
      }
    }
  }
  /* section content */
  .section-content {
    margin: 10rem 0 5rem;
    h2 {
      color: $color-main;
      margin-bottom: 40px;
    }
    .product-card {
      &__icons {
        display: none;
      }
    }
  }
}

@import './home-responsive';
