<template lang="pug" src="./ProductCard.pug"></template>
<style lang="scss" src="./styles/product-card.scss"></style>
<script>
import { onResize } from '@/helpers/dom/resize';

export default {
  name: 'ProductCard',
  props: {
    data: Object,
    imageRight: {
      type: Boolean,
      default: false,
    },
    isLarge: {
      type: Boolean,
      default: false,
    },
    fillParent: {
      type: Boolean,
      default: false,
    },
    staticThumb: {
      type: Boolean,
      default: false,
    },
    isThumbMobile: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      lazyLoaded: false,
    };
  },
  computed: {
    renderRating() {
      return this.data.type === 'location' || this.data.type === 'special';
    },
  },

};
</script>

