mixin offer-label(promotionText)
  label(for="offer", v-show=promotionText, class='offer')
        p {{#{promotionText}}}

.product-card(:class="{'product-card--large': isLarge, 'product-card--large--image-right': imageRight, 'product-card--medium': !isLarge}")
  .product-card__thumbnail(:title="data.title")
    +offer-label('data.promotion')
    .product-card__icons(v-if="!isLarge && data.services")
      base-button(v-for="(name, i) in data.services" :icon="$icons[name]", :circle="true", v-if="$icons[name]", :key="i")
    .product-card__gift(v-if="isLarge && data.gift")
      base-svg(:src="$icons.iconPackages")
    template( v-if="!staticThumb && !isThumbMobile")
      base-carousel.thumb-slider(ref="thumbSlider", :nav="true", :dots="false", light-box, :title="data.title", :subtitle="data.subtitle")
        .product-card__image(v-for="(src, i) in data.images", v-lazy-container)
          img.no-effect(:data-src="src", :alt="`${data.title} - image ${i}`")
    template.lazy-wrapper(v-else-if="staticThumb || isThumbMobile")
      .product-card__image(v-lazy-container)
         img.no-effect(:data-src="data.images[0]", :alt="`${data.title} - image`")
  .product-card__content
    .product-card__colors(v-if="data.colors && data.colors.length")
      .product-card__color(v-for="color in data.colors")
        span(:style="`background-color: ${color}`")
    p.product-card__location(v-if="data.subTitle") {{data.subTitle}}
    .h3.product-card__title
      a {{data.title}}
    .product-card__number-location
      template(v-if="data.numberLocation")
        base-svg(:src="$icons.map")
        span {{data.numberLocation}}
    base-rating(:value="data.rating.value", :count="data.rating.total", v-if="renderRating && data.rating")
    // isLarge
    .product-card__desc(v-if="isLarge && data.listSpecials")
      ul.product-card__list-specials
        li(v-for="(item, index) in data.listSpecials", :key="index")
          span {{item}}
    .product-card__price
      span.from from&nbsp;
      span.title-1 {{data.price}}
      br
      span.unit {{data.unit}}
    .clearfix
    // add to cart btn
    base-button.product-card__add-btn(v-if="isLarge") ADD
    .clearfix



