@import '~@/modules/static-html/scss/base/base';

%space-of-image-frame {
  margin-bottom: 4.5rem;
}

%space-product-card {
  margin-bottom: 4rem;
}

%space-from-tag-title {
  margin-bottom: 4.5rem;
}

%space-review-card {
  margin-bottom: 2rem;
}

%space-recommend-block {
  margin-top: 3.5rem;
}

@include breakpoint($mobile-to-tablet) {
  %space-from-tag-title {
    margin-bottom: 3.8rem;
  }
}
@include breakpoint($mobile) {
  %space-of-image-frame {
    margin-bottom: 2rem;
  }
}

.insta-modal {
  .modal__container {
    margin-top: 2.5rem;
  }
  .main-row-container {
    max-width: 1078px;
    margin: 0 auto;
  }
  .tag-title {
    @extend %space-from-tag-title;
  }
  .insta__image-frame {
    @include image-frame(100%);
    @extend %space-of-image-frame;
    background-color: $color-placeholder;
  }

  .insta__share-block {
    display: flex;
    justify-content: space-between;
  }

  .insta__recommend-block {
    @extend %space-recommend-block;
    width: 84%;
    margin-left: auto;
    > .h3 {
      text-align: center;
    }
  }

  .insta__recommend-block div.recommendation-list {
    padding-top: 1rem;
    padding-bottom: 0;
    background-color: transparent;
    .recommendation-list__static {
      .product-card {
        width: 100%;
        @extend %space-product-card;
        &:first-child {
          flex-direction: row-reverse;
        }
        .product-card__location {
          margin-bottom: 0;
        }
        .product-card__title {
          height: calc(1.2em + 4px);
          margin-bottom: 2rem;
        }
        .base-rating {
          margin-left: -5px;
        }
        .product-card__content {
          width: 50%;
          padding-right: 2rem;
        }
        .product-card__thumbnail {
          width: 50%;
        }
        .product-card__price {
          right: 25px;
        }
      }
    }
  }

  @include breakpoint($tablet) {
    .insta__recommend-block {
      width: auto;
    }
    @include breakpoint($max: 992px) {
      .insta__share-block {
        text-align: center;
        display: block;
        .btn:not(:last-child) {
          margin-right: 1.5rem;
        }
      }
    }
  }
  @include breakpoint($mobile) {
    .insta__image-frame {
      margin-left: -$grid-gutter-width/2;
      margin-right: -$grid-gutter-width/2;
      width: auto;
    }
    .col-share-recommend {
      display: flex;
      flex-wrap: wrap;
      margin-left: -$grid-gutter-width/2;
      margin-right: -$grid-gutter-width/2;
      .insta__recommend-block {
        width: 100%;
      }
    }
    .insta__recommend-block div.recommendation-list {
      margin-bottom: 0;
      .carousel {
        .carousel__nav-wrapper {
          position: static;
          padding-top: 0;
          margin-top: 0;
          padding-top: 4rem;
          height: auto;
          .icon-btn {
            padding-bottom: 0!important;
            padding-top: 0!important;
          }
        }
      }
      > .count {
        bottom: 15px!important;
      }
    }
    .insta__share-block {
      width: 100%;
      text-align: center;
      display: block;
      margin-top: 4rem;
      order: 1;
      margin-bottom: 4rem;
      .h3 {
        margin-bottom: 3.4rem;
      }
      .btn:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

@import './review-card';
