.review-card {
  display: flex;
  label {
    @extend %space-review-card;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: inherit;
  }
  p {
    margin: 0;
    font-size: 1.6rem;
  }
  &__avatar {
    margin-right: $grid-gutter-width;
    flex-shrink: 0;
    width: 98px;
    height: 98px;
    background-color: $color-placeholder;
    img {
      height: 100%;
      width: 100%;
    }
  }
  @include breakpoint($mobile-to-tablet) {
    &__avatar {
      width: 80px;
      height: 80px;
    }
  }
  @include breakpoint($mobile) {
    display: block;
    label {
      padding-left: 100px;
      margin-bottom: 60px;
    }
    &__avatar {
      margin: 0;
      position: absolute;
    }
  }
}