<template lang="pug" src="./InstaModal.pug"></template>

<script>
import RecommendationList from '@/modules/static-html/components/RecommendationList';
import { onDeviceChangedMixin } from '@/common/display';
import { special, location } from '@/constants/mock/recommendation-products';

export default {
  name: 'InstaModal',
  mixins: [onDeviceChangedMixin],
  components: {
    RecommendationList,
  },
  data() {
    return {
      recommends: [special, location],
    };
  },
  methods: {
    onDeviceChanged() {
      this.$forceUpdate();
    },
  },
};
</script>

<style lang="scss" src="./_insta-modal.scss">

</style>
