.insta-modal(id="instaModal")
  base-modal(:showOnInit="true")
    .container
      .h2.text-center.tag-title #lunaestella
      .main-row-container
        .row
          .col-sm-6
            .insta__image-frame
              img(src="@/assets/images/1px.png")
            .review-card
              .review-card__avatar
                img(src="@/assets/images/user-na.jpg")
              .review-card__content
                label Peter Holiday
                p Lorem ipsum dolor sit amet, consetetur sad ipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur. #[b #lunaestella]&nbsp;#[b #lifestyle]
          .col-sm-6
            .col-share-recommend
              .insta__share-block
                .h3 Share this photo:
                base-button(:icon="$icons.twitter", :circle="true")
                base-button(:icon="$icons.facebookF", :circle="true")
                base-button(:icon="$icons.instagram", :circle="true")
              .insta__recommend-block
                .h3 Get this experience
                .size-small
                  recommendation-list(:key="$viewport.device", title="", :listData="recommends" enableSlider="mobile")

                
              