<template lang="pug" src="./MapLocation.pug"></template>
<script>

export default {
  name: 'MapLocation',
  data() {
    return {
      isActive: false,
    };
  },
};
</script>

<style lang="scss" src="./styles/map-location.scss"></style>