.map
    .container
        h3.text-center Getting there
        .map__image
            img(src="./images/map.png")
    .map__content
        .container
            .row
                .col-xl-5.col-lg-8.map__filter
                    form.form-validate
                        .btn-group
                            base-button.btn-map-filter(:outline="true" :class="isActive")
                                base-svg(:src="$icons.car")
                                | By car
                            base-button.btn-map-filter(:outline="true")
                                base-svg(:src="$icons.train")
                                | By public transport

                        .input-group.input-group--with-icon
                          base-select(name="from", placeholder="Departing from")
                            .rich-options(slot="options")
                              .rich-option(value="1")
                                span.option__name 🇺🇸 USA
                              .rich-option(value="2")
                                span.option__name 🇫🇷 France
                          base-svg(:src="$icons.target")
                        base-button Find Route
                .col-xl-4.col-lg-4.offset-xl-1.offset-sm-0.map__intro
                    p.p-title Lucerne, Switzerland
                    p Soluta nobis eleifend option congue madela nihil imperdiet doming id quod mazim placerat.