.tabs(v-tabs)
    .tab
        .tab__title Delivery
        .tab-content
            p liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat face poss im assum. Lorem ipsum dolor sit amet, conse ctet uer adip iscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet…
    .tab.active
        .tab__title Features
        .tab-content
          ul
            li Lorem ipsum dolor sit amet, consetetur
            li Sed diam nonumy eirmod tempor invidunt ut
            li Sed diam nonumy eirmod tempor invidunt ut
            li Labore et dolore magna aliquyam erat, sed diam
            li Labore et dolore magna aliquyam erat, sed diam
            li Voluptua vero eos et accusam et justo duo
            li Voluptua vero eos et accusam et justo duo
            li Dolores et ea rebum. Stet clita kasd
            li No sea takimata sanctus est Lorem ipsum dolor
            li No sea takimata sanctus est Lorem ipsum dolor
            li Sit amet ipsum dolor sit amet
            li Sit amet ipsum dolor sit amet
    .tab
        .tab__title Size & Fit
        .tab-content
            p Labore et dolore magna aliquyam erat, sed diam
    .tab
        .tab__title Other Details
        .tab-content
            p Labore et dolore magna aliquyam erat, sed diam
