// icon cart on header
.header {
  // manual align cart icon
  .btn-cart {
    .base-svg {
      margin-top: -17px;
    }
    .cart-quantity {
      margin-top: -8px;
    }
  }
}

// dropdown cart
.header__cart {
  .header__dropdown__inner {
    background-color: $white;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 3.5rem;;
    width: 479px;
    height: auto;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -1px rgba(0, 0, 0, 0.2);
    a.close {
      position: absolute;
      right: 40px;
      top: 40px;
      z-index: 8;
      svg {
        width: 19px;
        height: 19px;
        path {
          fill: $color-main;
        }
      }
    }
    @include breakpoint($max: 1200px) {
      max-height: calc(100vh - 75px);
      overflow-y: scroll;
      align-items: flex-start;
    }
    @include breakpoint($max: 480px) {
      width: 100vw;
      padding: 2rem;

      a.close {
        right: 20px;
        top: 30px;
      }
    }
  }
}
