.cookie-message {
  background-color: #262124;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 92px;
 
  .icon-close-white {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  p {
    padding: 35px 20px 35px 20px;
    margin: 0;
  }
  a {
    color: #fff!important;
    border-color: #fff!important;
    font-size: inherit;
    &:hover {
      opacity: 0.8;
    }
  }
  @include breakpoint($mobile-to-tablet) {
    top: 72px;
    p {
      margin-top: 10px;
    }
    .icon-close-white {
      right: 20px;
      top: 20px;
    }
  }

}