.header__lang {
  display: flex;
  height: auto;
  p {
    margin-bottom: 0;
    font-size: 2.4rem;
    text-align: left;
    &.title{
      display: none;
    }
  }
  .link{
    font-weight: 600;
  }
  .form-check {
    margin-bottom: 0;
    input:not(:checked) + label{
      text-decoration: underline;
    }
    label {
      font-weight: 400;
      font-size: 1.6rem;
    }
  }
}
@include breakpoint($desktop)  {
  .header__lang {
    background-color: $white;
    justify-content: flex-start;
    .intro-text{
      width: 32%;
      margin-right: 10rem;
      font-size: 1.6rem;
      color: $color-sub;
    }
    .checks-wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 40%;
      margin-right: 4rem;
      .form-group{
        width: 50%;
        padding: 25px 20px;
      }
    }
    p {
      margin-right: 40px;
    }
    .form-check {
      display: inline-block;
      margin-left: 4rem;
    }
  }
}
@include breakpoint($max: 1450px, $min: 1200px) {
  .header__lang .intro-text{
    margin-right: 1rem;
  }
}
@include breakpoint($mobile-to-tablet) {
  .header__lang {
    padding-top: 30px;
    display: block;
    .row {
      width: auto;
      text-align: center;
    }
    p {
      color: $white;
      text-align: center;
      display: block;
      font-weight: 600;
      margin-bottom: 2.5rem;
      &.title{
        display: block;
      }
    }
    .intro-text{
      font-size: 2rem;
      width: 60%;
      margin: 0 auto;
    }
    .text-center{
      a.link{
        font-size: 2.1rem;
      }
    }
    label{
      color: $white;
    }
    .checks-wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 90%;
      margin: 20px auto;
      .form-group{
        width: 50%;
        padding: 0 20px;
        margin-bottom: 0;
      }
    }
    .form-check {
      margin-bottom: 20px;
      display: block;
      padding-left: 0;
      margin: 30px auto 0;
      text-align: center;

      label {
        color: #fff;
        font-weight: 400;
      }
    }
    .sp-line {
      padding-top: 3rem;
      border-top: 1px solid $white;
    }
    .form-group {
      margin-bottom: 3rem;
      text-align: left;
      .invalid-feedback {
        font-size: 1.6rem;
        color: lighten($color: $color-error, $amount: 20)
      }

    }

  }
}


@include breakpoint($tablet) {
  .header__lang {
    padding-top: 100px;
    .intro-text{
      width: 50%;
    }
  }
}

@include breakpoint($max: 600px) {
  .header__lang {
    .intro-text{
      font-size: 2.0rem;
      width: 90%;
    }
    .link{
      font-size: 2.1rem;
    }
    .checks-wrapper {
      flex-direction: column;
      margin-bottom: 0;
      .form-group{
        padding: 0;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}