.header__login {
  form {
    width: 100%;
  }
  .form-group {
    margin: 0;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    position: relative;
  }
  .link-btn {
    font-weight: $semibold;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;
  }
}

@include breakpoint($desktop) {
  .header__login {
    margin: auto;
    .row {
      justify-content: center;
    }
    .form-group {
      width: 378px;
      padding-bottom: 3px;
      .invalid-feedback {
        font-size: 1.4rem;
        position: absolute;
        top: calc(100% - 4px);
      }
    }
    br {
      display: none;
    }
    .link-btn {
      font-weight: $semibold;
      &:first-child {
        margin-right: 40px;
      }
    }
  }
}

@include breakpoint($mobile-to-tablet) {
  .header__login {
    padding-top: 30px;
    text-align: center;
    display: block;
    .row {
      width: auto;
    }
    .form-group {
      width: 100%;
      margin-bottom: 3rem;
      text-align: left;
      .invalid-feedback {
        font-size: 1.6rem;
        color: lighten($color: $color-error, $amount: 20);
      }
    }

    .form-buttons {
      text-align: center;
    }
    .link-btn {
      font-size: 2.1rem;
      color: #fff;
      border-bottom-color: $white;
      @include list-enter(30px);
      @include hover() {
        color: $color-sub!important;
        border-color: $color-sub;
      }
    }
  }
}

@include breakpoint($tablet) {
  .header__login {
    padding-top: 100px;
    .row {
      max-width: 380px;
      margin: auto;
    }
  }
}