.header__menu {
  .header__dropdown__inner {
    display: flex;
    height: 100%;
  }

  .search-tools,
  .nav-links {
    display: none;
  }

  .list-socials {
    margin-right: auto;
    order: -1;
  }

  .nav-links,
  .special-pages {
    height: 100%;
    a {
      @extend %top-line-hover;
      color: $color-main;
      &:not(:last-child) {
        margin-right: 60px;
      }
    }
  }
  .static-pages {
    margin-left: auto;
    height: 100%;
    a {
      color: $color-sub;
      min-width: 92px;
      justify-content: center;
      @extend %top-line-hover;
      &:not(:last-child) {
        margin-right: 0px;
      }
      &:hover{
        font-weight: 700;
      }
    }
  }

  .search-tools {
    @include clearfix();
    border-top: none !important;
    padding-bottom: 15px;
    .search-box {
      margin: 30px 0;
    }
    > a {
      padding: 10px;
      color: $white;
    }
    .btn-language {
      float: right;
    }
  }
}


@include breakpoint($desktop) {
  .special-pages {
    a {
      font-weight: $semibold;
    }
  }
}
@include breakpoint($mobile-to-tablet) {
  .header__menu {
    display: block;
    .header__dropdown__inner {
      display: block;
    }
    .btn-user,
    .btn-link {
      font-size: 2.1rem;
    }
    .nav-links,
    .list-socials,
    .special-pages,
    .static-pages {
      width: 100%;
      margin: 0;
      > a {
        color: $white;
      }
      svg .instagram{
        fill: $white !important;
      }
      svg path.a {
        fill: $white !important;
      }
    }

    .nav-links,
    .search-tools {
      display: block;
    }

    .nav-links {
      > a {
        font-weight: $semibold;
      }
    }

    .nav-links,
    .special-pages {
      border-top: 1px solid $white;
      > a {
        font-size: 2.4rem;
      }
    }

    .static-pages {
      border-top: 1px solid $white;
      text-align: center;
      a {
        padding: 30px 10px;
        font-size: 1.8rem;
      }
    }

    .list-socials {
      text-align: center;
      a:hover {
        svg path {
          fill: $color-sub;
        }
      }
    }
  }
}

@include breakpoint($mobile) {
  .header__menu {
    .static-pages {
      display: flex;
      justify-content: space-around;
      > a:not(:last-child) {
        margin-right: 0;
      }
    }
    .nav-links,
    .special-pages {
      padding: 20px 0;
      > a {
        display: block;
        text-align: center;
        margin: 5px 0 !important;
        padding: 10px 0;
        &:hover {
          &:before {
            left: -20px;
            top: 0;
            bottom: 0;
            border-top: 0;
            border-left: 9px solid $color-sub;
          }
          &:after {
            position: absolute;
            content: ' ';
            right: -20px;
            top: 0;
            bottom: 0;
            border-right: 9px solid $color-sub;
          }
        }
      }
    }
  }
}

@include breakpoint($tablet) {
  .header__menu {
    .header__dropdown__inner {
      position: static;
      display: block;
    }
    .nav-links,
    .special-pages {
      display: flex;
      justify-content: space-between;
      > a {
        padding: 30px 0;
        margin: 0;
        display: block;
      }
    }

    .static-pages {
      position: absolute;
      left: 20px;
      right: 20px;
      display: block;
      width: auto;
      text-align: right;
      height: 90px;
      bottom: $header-height-sm;
    }
    .list-socials {
      height: 90px;
      bottom: $header-height-sm;
      width: auto;
      position: absolute;
      display: flex;
      align-items: center;
    }
  }
}

// Fix for iphone 6
@include breakpoint($mobile) {
  @media screen and (max-height: 667px) {
    .header__menu.header__menu {
      .search-box {
        margin: 30px 0 25px;
      }
      .search-tools {
        padding-bottom: 10px;
      }
      .special-pages,
      .nav-links {
        padding: 15px 0;
        a {
          margin: 0!important;
        }
      }
      .static-pages a{
        padding: 22px 10px;
      }
    }
  }
}
