.header__search {
  display: flex;
  align-items: center;
  .header__dropdown__inner {
    width: 100%;
    max-width: 800px;
  }
  .search-box {
    width: 100%;
  }
  .input-group {
    width: 100%;
    margin-bottom: 0;
  }
}

