@import '../../../scss/base/_base.scss';
$header-height: 92px;
$header-height-sm: 75px;

$header: '.header';

.header .list-socials{
  svg .instagram{
    fill: $color-sub;
  }
}

// extends
%top-line-hover {
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;
  &::before {
    content: ' ';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    border-top: 9px solid transparent;
    display: block;
  }

  &.active {
    // font-weight: 600;
  }

  &.active,
  &:hover {
    color: $color-sub;
    &::before {
      border-color: $color-sub;
    }
  }
}

.header {
  &--fixed {
    position: fixed;
    z-index: $z-index-header;
    top: 0;
    left: 0;
    right: 0;
  }
  &--fixed-has-dropdown {
    z-index: $z-index-header-with-dropdown;
  }
  &__placeholder {
    height: $header-height;
  }

  &__logo {
    img {
      width: 265px;
    }
  }

  &__inner {
    background-color: $color-main;
    display: flex;
    height: $header-height;
    border-bottom: 1px solid #fff;
  }

  &__left {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  &__center {
    margin: 0 30px;
    flex: 1;
  }

  &__right {
    margin-left: auto;
    display: flex;
    align-items: center;
    .btn-login{
      padding-top: 3px;
      font-size: 2.1rem;
    }
  }

  .btn-language{
    img{
      width: 24px;
      height: 24px;
    }
    @include breakpoint($desktop){
      border-top: 9px solid transparent;
      padding: 10px;
      &.active{
        background-color: $white;
        border-color: $color-sub;
      }
    }
  }

  &__buttons-wrapper {
    margin: 0 -5px;
    height: 100%;
    display: flex;
    .btn-language {
      padding-top: 0;
    }
    a.btn-cart{
      position: relative;
      border-top: 10px solid transparent;
      padding-left: 12px;
      padding-right: 12px;
      .cart-quantity{
        color: $color-main;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 6px;
      }
      &.active{
        background-color: $white;
        border-top: 10px solid $color-sub;
        .cart-quantity{
          color: $white;
        }
      }
    }
    > a {
      display: flex;
      height: 100%;
      align-items: center;
      color: $white;
      padding: 5px;
      &:not(:last-child) {
        margin-right: 25px;
      }
      @include breakpoint($mobile-to-tablet){
        display: inline-flex;
      }
      @include hover(){
        svg path {
          fill: $color-sub;
        }
      }

      svg {
        width: 25px;
        path {
          fill: $white;
        }
      }
    }

    .btn-login {
      @extend %top-line-hover;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    height: 100%;
    max-width: 910px;
    margin: auto;
    > a {
      height: 100%;
      display: flex;
      align-items: center;
      color: $white;
      position: relative;
      font-size: 2.4rem;
      padding: 0 10px;
      font-weight: $semibold;
      @extend %top-line-hover;
    }
  }

  .btn-user {
    .user-icon {
      &:first-child {
        margin-right: 10px;
      }
      vertical-align: middle;
      svg {
        width: 30px;
        height: 30px;
      }
      circle {
        fill: $white;
      }
      path {
        fill: $color-main;
      }
    }
    span {
      vertical-align: middle;
    }
  }

  .btn-link {
    color: $white;
  }

  .btn-link {
    .arrow-icon {
      margin-left: 10px;
      svg {
        width: 10px;
      }
      path {
        fill: $color-sub;
      }
    }

    @include hover-mobile() {
      &:hover {
        color: $color-sub;
      }
    }
  }
}

.header__dropdown {
  height: $header-height;
  border: 1px solid rgba($color-sub, 0.3);
  background-color: $white;
  display: flex;

  .btn-back {
    display: none;
  }

  .header__dropdown-title {
    display: none;
    color: $white;
    font-size: 2.4rem;
    font-weight: 600;
  }

  &__inner {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
  }
}

.header-auth-modal .modal__body > .container {
  max-width: 1200px;
}
/*
Responsive
*/
@include breakpoint ($desktop) {
  .header {
    .container-fluid {
      padding: 0 40px;
    }
    &__inner{
      position: relative;
    }

    &__nav{
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      justify-content: center;
      max-width: calc(100% - 650px);
      a{
        margin: 0 50px;
      }
    }
  }
}

@include breakpoint($min: 1200px, $max: 1700px){
  .header {
    &__buttons-wrapper > a:not(:last-child) {
      margin-right: 12px;
    }
    &__nav{
      max-width: calc(100% - 820px);
      a{
        margin: 0 30px;
        text-align: center !important;
      }
    }
  }
}


@include breakpoint($min: 1025px, $max: 1200px){
  .header {
    &__nav{
      a{
        margin: 0 20px;
      }
    }
  }
}


@include breakpoint($mobile-to-tablet) {
  .header {
    &__center {
      display: none;
    }
    &__inner,
    &__placeholder {
      height: $header-height-sm;
    }
    &__logo {
      img {
        width: 188px;
      }
    }
    &__buttons-wrapper {
      > a:not(.btn-menu):not(.btn-cart) {
        display: none;
      }
    }
    &__nav {
      display: none;
    }
  }

  .header__dropdown {
    height: initial;
    display: block;
    border: 1px solid transparent;
    border-top-color: $white;
    background-color: $color-main;
    color: $white;
    min-height: 100vh;
    
    .sp-line {
      padding-top: 3rem;
      border-top: 1px solid $white;
    }

    a.link {
      color: $white;
      border-bottom-color: $white;
      &:hover {
        color: $color-sub;
        border-bottom-color: $color-sub;
      }
    }

    .btn-back {
      margin-top: 150px;
      display: inline-block;
      a {
        font-weight: 600;
        position: relative;
        &::before {
          top: -10px;
          left: -2.3rem;
          position: absolute;
          padding-left: 0;
          font-size: 2em;
        }
      }
    }

    .header__dropdown-title {
      text-align: left;
      display: block;
      margin-bottom: 2.5rem;
      text-align: center;
    }
  }
}


@include breakpoint($tablet) {
  .header__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@include breakpoint($mobile){
  .header__dropdown{
    position: relative;
  }
  .header__dropdown__inner{
    position: static;
  }
  .header__dropdown .btn-back {
    margin-top: 0;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
  }
}

@import './login';
@import './menu';
@import './search';
@import './lang';
@import './cart';
@import './cookie-message';
