@import '../../../base/base';
@import './text-extendable';
/*
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  font-size: 62.5% * 1;
}

html body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1px;
  line-height: 1.47;
}

$headers: 'h1, h2, h3, h4, h5, h6';

#{$headers} {
  margin-top: 0;
}


p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  code {
    color: inherit;
  }

  &.lead {
    font-size: 2.3rem;
    font-weight: 800;
  }
}

* {
  .clearfix {
    &:before,
    &:after {
      content: ' ';
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    margin-bottom: 1rem;
  }
  &.arrow-list {
    li {
      ::before {
        content: '‣';
        display: inline-block;
        padding-right: 1.5rem;
        font-size: 2.6rem;
      }
    }
  }
}

h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
}

h3,
.h3 {
  @extend %h3;
}

h4,
.h4 {
  @extend %h4;
}


.title-1 {
  @extend %title-1;
}

.title-2 {
  @extend %title-2;
}

.title-3 {
  @extend %title-3;
}

/*
Reponsive text for mobile
*/
@include breakpoint($mobile-to-tablet) {
  html body {
    font-size: 1.6rem;
  }

  html p {
    font-size: 1.6rem;
    &.lead {
      font-size: 1.8rem;
    }
  }
}

@include breakpoint($tablet) {
  html {
    font-size: 62.5% * 1;
  }
}

@include breakpoint($max: 320px) {
  html {
    font-size: 9px;
  }
}

// util classes
.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}