%h1 {
  font-size: 8.9rem;
  font-weight: 600;
  margin-bottom: 3rem;
  letter-spacing: -0.1rem;
}


%h2 {
  font-size: 5.7rem;
  margin-bottom: 2rem;
  font-weight: 600;
}


%h3 {
  font-size: 3.2rem;
  margin-bottom: 1.1rem;
  font-weight: 800;
}


%h4 {
  font-weight: 800;
  margin-bottom: 1rem;
  font-size: 2.3rem;
}

%title-1 {
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

%title-2 {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

%title-3 {
  font-size: 2.1rem;
}

/* 
Reponsive text for mobile
*/
@include breakpoint($mobile-to-tablet) {
 
  %h1 {
    font-size: 5.5rem;
  }

  
  %h2 {
    font-size: 3.2rem;
  }

  
  %h3 {
    font-size: 2.6rem;
  }

  
  %h4 {
    font-size: 1.8rem;
    font-weight: normal;
  }

  %title-1 {
    font-size: 2.3rem;
  }

  %title-2 {
    font-size: 1.8rem;
  }
}