.container-fluid
  .instagram
    .text-center
      .instagram__header
          .subtitle Instagram
          h2 #luaestella
      .instagram__image
          base-svg(:src="$icons.instagramGroup")
      .show-more
          base-button Load more