<template lang="pug" src="./Instagram.pug"></template>
<script>

export default {
  name: 'Instagram',
};
</script>
<style lang="scss">
  @import "../../scss/base/_base.scss";
  .instagram {
    .instagram__header {
      .subtitle {
        font-size: 2.6rem;
        font-weight: 700;
        text-transform: uppercase;
        @include breakpoint($mobile-to-tablet) {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
    .show-more {
      margin-top: 5rem;
    }
  }

  .section-instagram {
    .instagram {
      max-width: 1405px;
      margin: auto;
      @include breakpoint($mobile) {
        margin-left: -20px;
        margin-right: -20px;
      }
    }

    margin-top: 6.2rem;
    i {
      font-style: normal;
    }
    svg {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
</style>