<template lang="pug" src="./StickyBlock.pug"></template>

<script>
import Sticky from 'sticky-js';
import { onResize } from '@/helpers/dom/resize';

export default {
  name: 'StickyBlock',
  props: {
    container: {
      type: String,
      default: 'body',
    },
    stopAt: {
      type: String,
    },
    marginTop: {
      type: Number,
    },
    stickyFor: {
      type: Number,
      default: 0,
    },
    placeholder: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      id: `sticky-block-${Date.now()}`,
    };
  },
  mounted() {
    this.initSticky();
    this.listenResize = onResize(() => {
      if (this.stopAt) {
        this.$el.style.height = 'auto';
      }
      this.destroySticky();
      this.initSticky();
    });
  },
  beforeDestroy() {
    this.destroySticky();
    this.listenResize.remove();
  },
  methods: {
    initSticky() {
      if (window.innerWidth >= this.stickyFor) {
        const container = this.stopAt ? `#${this.id}` : 'body';
        const headerHeight = this.$viewport.isDesktop ? 92 : 72;
        this.sticky = new Sticky(`#${this.id} .sticky-block__fixed`, {
          stickyFor: this.stickyFor,
          marginTop: this.marginTop || headerHeight,
          stickyClass: 'is-sticky',
          stickyContainer: container,
        });
        if (this.stopAt) {
          const stopAt = document.querySelector(this.stopAt).offsetTop;
          const parentNode = this.$el;
          const height = stopAt - parentNode.offsetTop;
          parentNode.style.height = `${height}px`;
        }
      }
    },
    destroySticky() {
      if (this.sticky) {
        this.sticky.destroy();
      }
    },
  },
};
</script>

