<template lang="pug" src="./BaseRating.pug"></template>
<script>
import { safeRequestAnimationFrame } from '../../../../helpers/dom/request-animation-frame';

const max = 6;

export default {
  name: 'BaseRating',
  props: {
    value: {
      type: Number,
      validator(value) {
        return value >= 0 && value <= max;
      },
    },
    count: {
      type: Number,
      default: 0,
    },
    votable: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      heartIcon: this.$icons.heart,
      max,
      starArray: new Array(max).fill(1),
      hovering: -1,
      isShowedStars: false,
    };
  },
  methods: {
    isActive(index) {
      if (this.hovering !== -1 && this.votable) {
        return (index + 1) <= this.hovering;
      }
      return (index + 1) <= this.value;
    },
    onShowStars() {
      if (!this.isShowedStars) {
        this.isShowedStars = true;
        safeRequestAnimationFrame(() => {
          const $owlCarousel = $(this.$el).closest('.owl-carousel');
          $owlCarousel.trigger('refresh.owl.carousel');
        });
      }
    },
  },
};
</script>
<style lang="scss">
  @import "../../scss/base/_base.scss";
  .base-rating {
    display: inline-block;
    margin-left: -5px;
    margin-right: -5px;
    &:not(.votable) {
      a.rating-star {
        cursor: initial;
      }
    }
    .rating-star {
      padding: 5px;
      path {
        transition: all 0.5s;
      }
      svg {
        .h2b {
          fill: #fff;
        }
      }
      &.active {
        svg {
          .h2b {
            fill: $color-sub;
          }
        }
      }
    }
  }
</style>
