.base-rating(:class="{votable: !!votable}")
  a.rating-star(href="javascript:void(0);", 
  v-for="(item, index) in starArray",
  :key="index"
  :class="{'active': isActive(index)}",
  @mouseover="hovering = index + 1"
  @mouseleave="hovering = -1"
  )
    base-svg(:src="heartIcon", @loaded="onShowStars")
  span.rating-count ({{count}})