@import '../../base/base';

html {
  -webkit-overflow-scrolling: touch;
}
body {
  overflow-x: hidden;
  background-color: $color-bg;
  color: $color-main;
}

.nanobar {
  height: 2px;
  .bar {
    background: #38f;
    border-radius: 3px;
    box-shadow: 0 0 10px #59d;
  }
}
.page-content {
  background-color: transparent;
}

.drop-shadow {
  @extend %drop-shadow;
}

.hand {
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.visual-hidden {
  visibility: hidden;
  height: 1px;
  width: 1px;
  opacity: 0;
  position: absolute;
}
.uppercase {
  text-transform: uppercase;
}

.capitalized {
  text-transform: capitalize;
}
.full-viewport {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.icon-close-white {
  background-image: url(~@/assets/icons/close-white.svg);
  background-size: 100% 100%;
  width: 19px;
  height: 19px;
  display: inline-block;
}

.full-viewport-on-mobile {
  @extend %full-viewport-on-mobile;
}

.underline {
  @extend %underline;
}
p {
  margin: 0;
}

ul.ul-reset {
  margin-bottom: 0;
  li {
    margin-bottom: 0;
    display: inline-block;
  }
}
.text-center {
  text-align: center;
}

// image lazyload spinner
.lazy-wrapper,
img[data-src]:not([lazy='loaded']) {
  background-image: url(~@/assets/icons/spinner.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.lazy-wrapper,
img[lazy='loaded']:not(.no-effect) {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.bold {
  font-weight: 800;
}
.bold-semi {
  font-weight: 600;
}

.detail__gallery {
  margin-bottom: 50px;
  .detail__gallery-image {
    background-color: #656565;
    @include image-frame($radio-small);
  }
}
.detail__image-list {
  margin: 0;
  li {
    display: inline-block;
    width: 50%;
    margin-bottom: 0;
    a {
      @include image-frame($ratio-medium);
    }
    &:nth-child(5),
    &:nth-child(1) {
      background-color: #656565;
    }
    &:nth-child(2) {
      background-color: #c6c6c6;
    }
    &:nth-child(3) {
      background-color: #8e8e8e;
    }
    &:nth-child(4) {
      background-color: #656565;
    }
    &:nth-child(6) {
      background-color: #c6c6c6;
    }
  }
}
.mobile-title {
  display: none;
  @include breakpoint($mobile){
    display: block;
  }
}

.hidden-lg {
  @include breakpoint($min: 1366px) {
    display: none;
  }
}