@import '../../../scss/base/_base.scss';

.footer {
  margin-top: 10rem;
  font-size: 1.8rem;
  position: relative;

  .back-to-top {
    position: absolute;
    top: -3rem;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    svg {
      width: 42px;
      path {
        fill: transparent;
      }
    }
  }
  ul {
    li {
      margin-bottom: 0;
      line-height: 4rem;
      a {
        font-weight: 600;
      }
    }
  }
  &__top {
    background-color: $color-sub;
    color: $white;
    padding: 4rem 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  &__logo {
    padding-top: 7px;
  }
  &__social {
    width: 13%;
    a {
      display: block;
      margin-right: 0;
      line-height: 4rem;
      padding: 0;
      font-weight: 600;
    }
    path {
      fill: $white;
    }
  }
  &__bottom {
    background-color: $white;
    padding: 2.5rem 0;
    color: $color-main;
    font-size: 1.6rem;
    .container {
      display: flex;
      justify-content: space-between;
    }
    .footer__inner {
      align-items: center;
    }
  }
  &__left {
    p {
      font-size: 1.6rem;
      margin-bottom: 0;
    }
  }
  &__right {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        padding: 0 3rem;
        margin-bottom: 0;
        &:last-child {
          padding-right: 0;
        }
        a {
          font-weight: 400;
        }
      }
    }
  }
  &__newsletter {
    text-align: center;
    border-top: 1px solid $white;
    padding-top: 3.7rem;
    margin-top: 3.7rem;
    label {
      vertical-align: middle;
      font-size: 2.6rem;
      font-weight: bold;
      margin-right: 4rem;
      margin-bottom: 0;
      display: inline-block;
      align-items: center;
      color: $color-main;
      @include breakpoint($max: 992px) {
        font-size: 2.3rem;
      }
    }
    .input-group--with-icon {
      display: inline-block;
      width: 100%;
      max-width: 378px;
      input.form-control {
        padding-right: 5.8rem;
      }
      svg {
        width: 3.3rem;
        height: 2.3rem;
        path:nth-child(2) {
          fill: none !important;
        }
        path:last-child {
          fill: #fff !important;
        }
      }
    }

    @include breakpoint($max: 992px) {
      label {
        display: block;
        margin-right: 0;
        margin-bottom: 2rem;
      }
      .input-group--with-icon {
        max-width: 276px;
      }
    }
  }
}

@include breakpoint($desktop) {
  .footer {
    .container-fluid {
      padding: 0 4rem;
    }
  }
}

@include breakpoint($min: 1200px, $max: 1450px) {
  .footer__social {
    .list-socials > a:not(:last-child) {
      margin-right: 0;
    }
  }
}

@include breakpoint($tablet) {
  .footer {
    margin-top: 7rem;
    .container-fluid {
      padding: 0 4rem;
    }
    &__logo {
      img {
        width: 192px;
      }
    }
    &__top {
      padding: 3.5rem 0;
      letter-spacing: 0.5px;
      a {
        font-size: 1.6rem;
      }
      .list-socials > a:not(:last-child) {
        margin-right: 0;
      }
      .footer__social {
        width: 18%;
      }
    }
    &__bottom {
      padding: 1.5rem 0;
    }
    &__right {
      ul li {
        padding: 0;
        @include not-last() {
          padding-right: 2rem;
        }
      }
    }
  }
}

@include breakpoint($mobile) {
  .footer {
    text-align: center;
    &__inner {
      flex-direction: column;
      justify-content: center;
      > * {
        margin-bottom: 1.5rem;
      }
    }
    &__logo {
      img {
        max-height: 23px;
      }
    }
    &__menu {
      display: none;
    }
    &__about {
      ul {
        display: flex;
        justify-content: center;
        li {
          padding: 1rem 2rem;
        }
      }
    }
    &__social {
      width: 100%;
      margin-bottom: 0;
      .list-socials {
        display: flex;
        justify-content: center;
        span {
          display: none;
        }
      }
    }
  }
}

@include breakpoint(xs) {
  .footer {
    &__right {
      margin-bottom: 0;
      ul {
        flex-wrap: wrap;
        justify-content: center;
        li:last-child {
          display: block;
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}
