<template lang="pug" src="./SpecialOverview.pug"></template>
<script>
import mockProductList from '@/constants/mock/products-special-overview';
import ProductCard from '../../components/ProductCard';
import FilterBox from '../../components/FilterBox';
import filterSpecialconfig from '../../components/FilterBox/configs/specials';
import CategoryBlock from '../../components/CategoryBlock';

export default {
  name: 'SpecialOverview',
  components: {
    mockProductList,
    ProductCard,
    FilterBox,
    CategoryBlock,
  },
  metaInfo: {
    title: 'Special Overview',
  },
  data() {
    return {
      productList: {
        data: mockProductList,
      },
      filterSpecialconfig,
    };
  },
};
</script>

<style lang="scss">
  @import "../../scss/base/_base.scss";

  .special-overview {
    .no-padding {
      padding: 0;
    }
    .loadmore {
      margin-top: 6rem;
      width: 100%;
    }
    .page-hero {
      path {
        fill: #521e44;
      }
      .hero__left img {
        background-color: #656565;
      }
      .hero__right img {
        background-color: #c6c6c6;
      }
    }
    .section-product-list {
      margin-bottom: 145px;
    }
    .section-products-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .bg-specialoverview {
      background-color: #521e44;
    }
    .section-product:nth-child(2n) {
      .product-card {
        &__image {
          background-color: #656565;
        }
      }
    }
    .product-card {
      background-color: $color-bg;
      margin-bottom: 0;
      &__content {
        padding-bottom: 6rem;
      }
      &__title {
        margin-bottom: 0rem;
        height: auto;
      }
      &__image {
        background-color: #c6c6c6;
      }
      &__price {
        margin-top: -35px;
      }
      &__number-location {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        height: 30px;
        span {
          margin-left: 10px;
        }
        svg {
          width: 1.6rem;
        }
      }
    }
    .category-block {
      margin-bottom: 15rem;
    }
    @include breakpoint($mobile-to-tablet) {
      .loadmore {
        margin-top: 2rem;
      }
      .product-card {
        &__price {
          margin-top: 0;
        }
        &__number-location {
          margin-top: 0;
          margin-bottom: 0;
        }
        .base-rating {
          display: none;
        }
      }
      .title-1 {
        font-size: 2.6rem;
      }
      .offer p {
        font-size: 2.1rem;
        padding-right: 30px;
      }
    }

    @include breakpoint($desktop) {
      .section-filter {
        padding-bottom: 240px;
      }
      .section-product-list {
        margin-top: -240px;
        margin-bottom: 145px;
      }
    }

    @include breakpoint($tablet) {
      .section-filter {
        padding-bottom: 110px;
      }
      .section-product-list {
        margin-top: -110px;
        margin-bottom: 100px;
      }
      .category-block {
        padding-bottom: 45px;
      }
    }

    @include breakpoint($mobile) {
        .category-block{
            margin-bottom: 0;
        }

      .product-card {
        label {
          bottom: 17px;
          right: 0;
          p {
            padding-right: 20px;
          }
          &::before {
            opacity: 0;
            top: -10px;
            border-left: 20px solid #aba093;
            border-top: 10px solid transparent;
            border-bottom: 0px solid transparent;
          }
        }
      }
    }
  }
</style>