include ../../components/mixins/_page-hero.pug

-
    const images = ['@/assets/images/1px.png','@/assets/images/1px.png'];

base-loading.static-page.special-overview.hero-filter-overlap(v-lazy-container)
    BodyClass(className="theme-specialgifts")
    +page-hero({title: "A certain something", images, titleCenter: true})
    section.bg-specialoverview.section-filter.filter-overlap
        .container
            .mx-auto.col-xl-8.col-lg-10.p-0
                .filter-box-wrapper
                    filter-box(:config="filterSpecialconfig")
                        p.filter-results-count #[b 9] of #[b 23]
    section.section-product-list
        .container
            .section-products-wrapper
                .col-sm-6.no-padding.section-product(v-for="(item, id) in productList.data", :key="id")
                    product-card(:data="item")
                    .product-card-list__carousel-info(slot="append", slot-scope="{current}", v-if="$refs.slider")
                        .title-3 # #[b {{$refs.slider.current + 1}}] of #[b {{listData.length}}]
                .loadmore.text-center
                    base-button MORE
    section.section-category-block
        category-block(hide="specials")
