section.section-module
    h2 Brand
    .section__content
      p Lunaestella signature logo and favicons
    .section_content
      h3 Logos
      .row
        .col-xl-3.col-lg-4.col-sm-6
          p.help-title Logo light
          .p-3.bg-main.text-center
            img.img-fluid(src="@/assets/logos/logo-light.png")
        .col-xl-3.col-lg-4.col-sm-6
          p.help-title Logo dark
          .p-3.bg-sub.text-center
            img.img-fluid(src="@/assets/logos/logo-dark.png")
      