- const arrowRight = '$icons["arrow-right"]';
- const bath = '$icons.bath';

section.section-module
    h2 Buttons
    .section__content
      .row.py-4
        .col-lg-3.col-md-4.col-sm-6
          p.help-title BaseButton
          base-button BOOK
        .col-lg-3.col-md-4.col-sm-6
          p.help-title BaseButton - Disabled
          base-button(disabled) BOOK
        .col-lg-3.col-md-4.col-sm-6
          p.help-title Icon buttons
          base-button(:circle="true", :icon=arrowRight)
        .col-lg-3.col-md-4.col-sm-6
          p.help-title Icon buttons large
          base-button(:circle="true", :icon=arrowRight, :large="true")
      .row.py-4
        .col-lg-3.col-md-4.col-sm-6
          p.help-title Tag buttons
          base-button.mr-3(:tag="true") Store
          base-button(:tag="true", :color="'main'") Store
        .col-lg-3.col-md-4.col-sm-6
          p.help-title Tag buttons - reverse color
          base-button.mr-3(:outline="true", :tag="true", :icon=bath) Store
          base-button(:outline="true", :tag="true", :color="'main'" :icon=bath) Store
      .py-5
        .bg-main.full-viewport.py-5
          .container
            .row
              .col-lg-12
                p.help-title Tag buttons - close
                base-button.mr-3(:close="true", :tag="true", :icon=bath) Store
              .col-lg-12.mt-5
                p.help-title Tag buttons - close
                base-button(:close="true", :tag="true") Store