section.section-module
    h2 Cart - Checkout
    .section-content.py-5
      .row
        .col-lg-8.py-4
          .my-5
            p.help-title.my-5 CartItem - Location
            cart-item(:data="mockCart.location")
          .my-5
            p.help-title.my-5 CartItem - Gift
            cart-item(:data="mockCart.gift")
          .my-5
            p.help-title.my-5 CartItem - Special
            cart-item(:data="mockCart.special")
