section.section-module
    h2 Colors
    .section__content
      p Lunaestella have two main colors pink and white. The other colors was used in success state and validation danger of a form.
    .section__content
      h3 Background colors
      ul.row.mt-4
        li.col-xl-3.col-lg-3.col-md-3.col-sm-6.my-2
          .embed-responsive.embed-responsive-16by9.p-2.pb-2.bg-main
            code.bg-white.d-inline.p-2.px-4.small .bg-main
        li.col-xl-3.col-lg-3.col-md-3.col-sm-6.my-2
          .embed-responsive.embed-responsive-16by9.p-2.pb-2.bg-sub
            code.bg-white.d-inline.p-2.px-4.small .bg-sub
        li.col-xl-3.col-lg-3.col-md-3.col-sm-6.my-2
          .embed-responsive.embed-responsive-16by9.p-2.pb-2.bg-special
            code.bg-white.d-inline.p-2.px-4.small .bg-special
        li.col-xl-3.col-lg-3.col-md-3.col-sm-6.my-2
          .embed-responsive.embed-responsive-16by9.p-2.pb-2.bg-location
            code.bg-white.d-inline.p-2.px-4.small .bg-location    
    .section__content
      h3 Font colors
      p.color-main This is a sample text of 
        code .color-main
      p.color-success  This is a sample text of 
        code .color-success
      p.color-error  This is a sample text of 
        code .color-error

        