section.section-module
  h2 Form element
  .section__content
    .row.pt-2
      .col-lg-6
        .form-group
          label Search
          .input-group.input-group--with-icon.mb-5
            input.form-control(placeholder="Search")
            base-svg(:src="$icons.search")
        .form-group.mb-5
          label.required Email
          input.form-control(placeholder="Email")
          span.field-help Type in your email example@gmail.com
        .form-group.mb-5.has-success
          label.required Password
          input.form-control(placeholder="Password", type="password", value="12345678")
          span.field-help Your password is very secure!
        .form-group.has-error.mb-5
          label.required Confirm Password
          input.form-control(placeholder="Repeat password", type="password")
          span.field-help Confirm password isn't same as password
        .form-group
          label.required Comments
          textarea.form-control(placeholder="Repeat password", type="password")
      .col-lg-6
        .form-group.mb-5
          label Gender
          base-select(name="gender", :options="genderOptions", v-model="gender")
        .form-group.mb-5
          label.required Select color
          base-select(name="gender", value="1", :asyncSearch="richSearch")
            .rich-options(slot="options")
              .rich-option(:key="o" :value="o", v-for="o in richOptions")
                span.option__color
                span.option__name {{o}}
        .form-group.mb-5
          label Location Search
          base-select(name="location", :asyncSearch="selectLocationSearch", placeholder="Select location")
        .form-group.mb-5
          label.required Amount selection
          base-input-quantity(name="quantity", value="0")
  .section__content
    p.title-2.pt-4.color-sub.mb-5 Checkboxes and Radio Buttons
    .row
      .col-lg-6
        .form-check.mb-4
          input#defaultCheck1.form-check-input(type='checkbox' value='')
          label(for='defaultCheck1')
            | Checkbox
        .form-check.mb-4
          input#defaultCheck3.form-check-input(type='checkbox' checked)
          label(for='defaultCheck3')
            | Checkbox checked
        .form-check.mb-4
          input#defaultCheck2.form-check-input(type='checkbox' disabled)
          label(for='defaultCheck2')
            | Checkbox disabled
      .col-lg-6
        .form-check.mb-4
          input#defaultCheck4.form-check-input(type='radio' name="radio")
          label(for='defaultCheck4')
            | Radio
        .form-check.mb-4
          input#defaultCheck5.form-check-input(type='radio' name="radio" checked)
          label(for='defaultCheck5')
            | Radio checked
        .form-check.mb-4
          input#defaultCheck6.form-check-input(type='radio' name="radio" disabled)
          label(for='defaultCheck6')
            | Radio disabled
  .section__content
    .row
      .col-xl-8.mx-auto
        filter-box
  .section__content
    p.title-2.pt-4.color-sub.mb-5 Login Form - with API simulation
    form-login
  .section-content
    p.title-2.pt-4.color-sub.mb-5 Credit Card Form - Validation demo
    credit-card-form
  .section-content
    p.title-2.pt-4.color-sub.mb-5 Contact Form - Validation demo
    contact-form