section.section-module
    h2 Media and images
    .section-content.py-5
      .row
        .col-lg-12.py-4
          p.help-title ProductCardList
          product-card-list(useSlider="1", :listData="productList")
    .section-content.py-5
      .row
        .col-lg-12.py-4
          p.help-title ProductCard - isLarge, isReverse
          product-card(:data="product", isLarge, imageRight)
        .col-lg-12.py-4
          p.help-title ProductCard - isLarge
          product-card(:data="product", isLarge)
    h2 Testimonicals
    .section-content.py-5
      .row
        .col-lg-12.py-4
          h2.text-center 81% recommend this offer
          testimonical-list