section.section-module
    h2 Other blocks
    .section-content.py-5
      p.title-2 TimePicker
      TimePicker
    .section-content.py-5
      p.title-2 Tabs group
      .tabs(v-tabs)
        .tab.active
          .tab__title Delivery
          div
            h3.text-center Tab content delivery  
        .tab
          .tab__title Features
          div
            h3.text-center Tab content Features
        .tab
          .tab__title  Size & Fit
          div
            h3.text-center Size & Fit
        .tab
          .tab__title Other Details
          div
            h3.text-center Tab content Other Details
          

    .section-content.py-5
      p.title-2 CategoryBlock
      CategoryBlock
    .section-content.py-5
      p.title-2 Add-ons
      .row
        .col-lg-4.col-sm-6(v-for="item in [1, 2, 3]")
          .add-on
            .add-on__brief
              .form-check.mb-4
                input.form-check-input(type='radio', name="addOn")
                label
                  b Luxury {{item}}
                  span Romantic days of enjoyment in Lucerne 
              ul.add-on__things-list
                li
                  base-svg(:src="$icons.bath")
                  span Special Service 1
                li
                  base-svg(:src="$icons.luxury")
                  span Special Service 2
                li
                  base-svg(:src="$icons.luxury")
                  span Special Service 3
                li
                  base-svg(:src="$icons.luxury")
                  span Cuddle until the early afternoon (until 14 o'clock)
            .add-on__more
              span.add-on__expander(toggle-class="is-show")
                | +5 More add-ons
                base-svg(:src="$icons.angleDown")
              .clearfix
              ul.add-on__things-list
                li
                  base-svg(:src="$icons.bath")
                  span Special Service 1
                li
                  base-svg(:src="$icons.luxury")
                  span Special Service 2
                li
                  base-svg(:src="$icons.luxury")
                  span Special Service 3
                li
                  base-svg(:src="$icons.luxury")
                  span Cuddle until the early afternoon (until 14 o'clock)
                  
              