section#typography-module.section-module
    h2 Typography
    .section__content
      .py-5
        p.help-title Heading 1
        h1 H1 - SemiBold 89/90
      .pb-1 
        p.help-title Heading 2
        h2 H2 - SemiBold 57/68
      .pb-2  
        p.help-title Heading 3
        h3 H3 — Bold 32/40/-10
      .pb-4
        p.help-title Heading 4
        h4 H4 — Bold 23/34/-10
    .section__content
      h3.mb-4 Paragraphs
      p.lead
        strong Leadtext, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  — Bold 23/34/-10
      p.title-2 Paragraphtext Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore our erat, sed diam.  — Regular 23/34/-10

      p Paragraphtext small amet, #[a.link(href="#") textlink] sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus. — Regular 20/30/-10
      p.title-1 Standard title - Bold 26/3.4
      ul.arrow-list
        li 
          a.link(href="#") Link to Home
        li 
          a.link(href="#") Link to About