section.section-module
    h2 The Unique blocks
    .section-content.py-5
      .row
        .col-lg-12.my-3
          p.help-title TheHeader - the main header of app
          the-header.full-viewport
        .col-lg-12.my-3
          p.help-title TheHeader - the main header of app
          the-header.full-viewport(:locationColor="true")
    .section-content.py-5
      .row
        .col-lg-12.my-3
          p.help-title TheFooter
          the-footer.full-viewport