<template lang="pug" src="./CategoryBlock.pug"></template>
<script>
import staticRoutes from '../../routes/route-paths';

export default {
  name: 'CategoryBlock',
  props: {
    hide: String,
  },
  data() {
    const { routePaths } = this.$app;
    return {
      routes: staticRoutes,
      className: {
        'has-active-group2': ['locations', 'specials', 'gifts'].includes(this.hide),
      },
    };
  },
  watch: {
    $route(to, from) {
      this.$forceUpdate();
    },
  },
  methods: {
    isHide(name) {
      return this.hide && this.hide === name;
    },
  },
};
</script>

<style lang="scss">
  @import "../../scss/base/_base.scss";

  .category-block {
    margin: 40px 0;
    display: flex;
    position: relative;

    &.has-active-group2 {
      .category-block__group:nth-child(1) {
        flex-basis: (100%)/3;
      }
      .category-block__group:nth-child(2) {
        flex-basis: (200%)/3;
      }
    }

    &__group {
      flex: 1;
      position: relative;
      text-align: center;
      padding-bottom: 0px;

      &:nth-child(1) {
        margin-right: 40px;
        &.is-active {
          display: none;
        }
        flex-basis: 25%;
      }

      &:nth-child(2) {
        display: flex;
        flex-basis: 75%;
        .category-item {
          flex: 1;
          &:before {
            content: " ";
            top: 0px;
            left: 0;
            bottom: 40px;
            width: 1px;
            position: absolute;
            background-color: $color-sub;
          }
        }
      }
    }
    .group-title {
      font-size: 3.2rem;
      font-weight: bold;
      text-align: center;
      position: absolute;
      top: calc(100% + 15px);
      width: 100%;
      text-align: center;
      color: $color-main;
    }
  }

  .category-item {
    text-align: center;
    font-weight: 600;
    border-bottom: 35px solid;
    cursor: pointer;
    position: relative;
    display: block;

    &--packages {
      color: $color-main !important;
    }

    &--gifts {
      color: $color-special-yellow !important;
      &,
      &.hidden + .category-item {
        &:before {
          display: none;
        }
      }
    }
    &--locations {
      color: $color-special-green !important;
    }
    &--specials {
      color: $color-special-purple !important;
    }

    svg {
      min-width: 50px;
    }
    p {
      font-size: 5.7rem;
      margin-bottom: 40px;
    }

    // Hover control
    .icon-hover {
      display: none !important;
    }

    @include breakpoint($desktop) {
      &:hover {
        .icon-static {
          display: none;
        }
        .icon-hover {
          display: inline-block !important;
        }
      }
    }

    // icons style
    .base-svg {
      display: inline-block;
      align-items: center;
      margin-bottom: 20px;
      height: 170px;
      i {
        display: inline-block;
      }
    }
  }
  .category-block {
    // packages
    .icon-packages-hover svg {
      width: 170px;
      height: 170px;
      // fix position
      margin-left: -10px;
      margin-top: -13px;
      circle {
        fill: #4a5a8d;
      }
    }
    .icon-packages svg {
      width: 160px;
      height: 148px;
    }

    // gifts
    .icon-gifts svg {
      width: 145px;
      margin-top: 15px;
      margin-right: 1px;
    }

    .icon-gifts-hover svg {
      width: 180px;
      path.gh-d {
        fill: #8d6d16;
      }
    }

    // locations
    .icon-locations svg {
      width: 90px;
    }
    .icon-locations-hover svg {
      width: 110px;
    }

    // specials
    .icon-specials-hover svg,
    .icon-specials svg {
      width: 200px;
    }
    .icon-specials & {
      margin-top: 24px;
    }
    .icon-specials-hover svg {
      margin-top: 20px;
    }
  }

  // make reponsive mixin for reusing
  @mixin __responsive-tablet() {
    .category-item {
      border-width: 22px;
      .base-svg {
        height: 90px;
        margin-bottom: 30px;
        align-items: center;
        svg {
          margin: 0;
          height: auto;
        }
      }
      p {
        font-size: 3.2rem;
        margin-bottom: 25px;
      }
    }
  }

  // make reponsive mixin for reusing
  @mixin __responsive-mobile-tablet() {
    .category-block {
      .group-title {
        line-height: 3.4rem;
        font-size: 2.6rem;
        padding: 0 24px;
      }

      .icon-packages svg {
        width: 98px;
      }
      // packages
      .icon-packages-hover svg {
        width: 110px;
      }

      .icon-gifts svg {
        width: 89px;
      }
      .icon-gifts-hover svg {
        width: 110px;
      }

      .icon-locations svg {
        width: 55px;
      }
      .icon-locations-hover svg {
        width: 75px;
      }

      .icon-specials svg {
        width: 123px;
      }
      .icon-specials-hover svg {
        width: 125px;
      }
    }
    .category-item {
      &:hover {
        .icon-static {
          display: block;
        }
        .icon-hover {
          display: none !important;
        }
      }
    }
  }

  @mixin __responsive-mobile() {
    .category-block {
      display: block;
      &__group {
        display: block;
        &:nth-child(1) {
          margin-right: 0;
          margin-bottom: 60px;
        }
        &:nth-child(2) {
          display: block;
        }
      }
      .group-title {
        position: static;
        margin-bottom: 15px;
      }
    }

    .category-item {
      position: static;
      margin-top: 20px;
      display: flex;
      align-items: center;
      border-width: 18px;
      flex-wrap: wrap;
      padding: 20px;

      .base-svg {
        height: auto;
        margin-bottom: 0;
        display: inline-block;
        width: 100px;
        text-align: center;

        svg {
          margin: 0;
          height: auto;
        }
      }

      &::before {
        display: none;
      }

      p {
        font-size: 2.6rem;
        font-weight: bold;
        margin-left: auto;
        margin-bottom: 0;
      }
    }
  }

  .is-small {
    @include __responsive-tablet();
    @include __responsive-mobile-tablet();
    @include breakpoint($desktop) {
      margin-bottom: 120px;
      .category-item:hover {
        .icon-static {
          display: none;
        }
        .icon-hover {
          display: inline-block !important;
        }
        .icon-locations-hover svg {
          width: 68px;
        }
      }
    }
    @include breakpoint($max: 1366px) {
      margin-bottom: 50px;
      @include __responsive-mobile();
      @include breakpoint($min: 1200px) {
        .category-item:hover {
          .icon-static {
            display: block;
            visibility: hidden;
          }
          .icon-hover {
            display: inline-block !important;
            position: absolute;
          }
        }
      }
    }
  }

  @include breakpoint($tablet) {
    @include __responsive-tablet();
  }

  @include breakpoint($mobile-to-tablet) {
    @include __responsive-mobile-tablet();
  }

  @include breakpoint($mobile) {
    @include __responsive-mobile();
  }
</style>
