.container-fluid
  .category-block(:class="className")
    .category-block__group
      p.group-title For those with no time
      router-link.category-item.category-item--packages(:to="routes.packages", :class="{'hidden': isHide('packages')}")
        base-svg.icon-static(:src="$icons.iconPackages")
        base-svg.icon-hover(:src="$icons.iconPackagesHover")
        p packages
    .category-block__group
      p.group-title
        base-popover
          span For individualists
          template(slot="popover")
            .group-popover.clearfix
              p.popover-title Get started
              p Lorem ipsum dolor sit amet, conse tetur sa dipscing elitr, sed diam nonumy eirmod tempor invidunt labore magna aliquyam erat.
              a.link.float-right more info
      router-link.category-item.category-item--gifts(to="#", :class="{'hidden': isHide('gifts')}")
        base-svg.icon-static(:src="$icons.iconGifts")
        base-svg.icon-hover(:src="$icons.iconGiftsHover")
        p gifts
      router-link.category-item.category-item--locations(:to="routes.locationOverview", :class="{'hidden': isHide('locations')}")
        base-svg.icon-static(:src="$icons.iconLocations")
        base-svg.icon-hover(:src="$icons.iconLocationsHover")
        p locations
      router-link.category-item.category-item--specials(:to="routes.valentineSpecial", :class="{'hidden': isHide('specials')}")
        base-svg.icon-static(:src="$icons.iconSpecials")
        base-svg.icon-hover(:src="$icons.iconSpecialsHover")
        p specials