<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="NOINDEX, NOFOLLOW"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="<%= BASE_URL %>assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="<%= BASE_URL %>assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= BASE_URL %>assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <title>Lunaestella</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but lunaestella-vuejs doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
