<template lang="pug" src="./PriceSlider.pug"></template>
<script>
import noUiSlider from 'nouislider';

export default {
  name: 'PriceSlider',
  props: ['config'],
  data() {
    return {
      min: 0,
      max: 10000,
      fromValue: 200,
      toValue: 8000,
      currency: 'CHF',
      unit: this.config && this.config.unit,
    };
  },
  mounted() {
    this.initSlider();
    this.$el.addEventListener('touchmove', (event) => {
      event.preventDefault();
    }, false);
    this.$emit('mounted');
  },
  methods: {
    initSlider() {
      const {
        fromValue, toValue, min, max,
      } = this;
      const { sliderBar } = this.$refs;

      this.slider = noUiSlider.create(sliderBar, {
        start: [fromValue, toValue],
        connect: true,
        step: 1,
        margin: 500,
        range: {
          min,
          max,
        },
      });

      this.slider.on('update', (([from, to]) => {
        this.fromValue = from.toInt();
        this.toValue = to.toInt();
        this.$emit('change');
      }));

      const btnClasses = 'btn btn-circle'.split(' ');
      sliderBar.querySelectorAll('.noUi-handle').forEach(e => btnClasses.forEach(c => e.classList.add(c)));
    },
    setValue([from, to]) {
      if (from >= this.min && to <= this.max) {
        this.slider.set([from, to]);
        this.toValue = to;
        this.fromValue = from;
      }
    },
  },
};
</script>
<style lang="scss">
  @import "../../scss/base/_base.scss";
  @import "~nouislider/distribute/nouislider.css";
  .price-slider {
    p {
      margin-top: 30px;
      text-align: center;
      br {
        display: none;
      }
      b {
        margin: 0 5px;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 2.1rem;
        @extend %underline;
      }
    }
    p#{&}__label {
      margin: 0;
      font-weight: 600;
      font-size: 2.1rem;
    }
    .noUi-target {
      height: 0;
      margin: 35px 0 20px 0;
      padding-left: 8px;
      padding-right: 10px;
      border: 1px solid $color-sub;
      position: relative;
      background: $color-sub;
      box-shadow: none;

      @mixin vertical-edge() {
        content: " ";
        position: absolute;
        top: -10px;
        height: 20px;
        border-left: 2px solid $color-sub;
      }

      &::before {
        @include vertical-edge();
        left: -1px;
      }

      &::after {
        @include vertical-edge();
        right: -1px;
      }

      .noUi-handle {
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        top: 50%;
        margin-top: -15px;
        box-shadow: none;
        border: none;
        cursor: pointer;
        filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.4));

        &::after {
          display: none;
        }

        &-lower::before {
          transform: rotate(180deg);
        }

        &::before {
          background-image: url("~@/assets/icons/angle-right-sm.svg");
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          position: static;
          background-size: 6px;
          background-position: center;
          background-color: transparent;
        }

        @include hover-mobile() {
          &::before {
            background-image: url("~@/assets/icons/angle-right-sm-white.svg");
          }
        }
      }
    }
  }

  @include breakpoint($mobile) {
    .price-slider {
      padding-left: 0;
      padding-right: 0;
      p {
        br {
          display: block;
        }
        &,
        b {
          font-size: 1.8rem;
        }
      }
      .noUi-target {
        padding-left: 14px;
        padding-right: 17.8px;
      }
    }
  }
</style>
