mixin cards()
  product-card(:data="p", v-for="(p, id) in listData", :key="id", :staticThumb="true")

.recommendation-list(:class="className")
    h3.text-center(v-if="title") {{dataTitle}}
    template(v-if="isEnableSlider")
      OwlCarousel.recommendation-list__carousel(ref="owl" v-if="isCarousel && listData.length", @slideChange="() => $forceUpdate()" :nav="true"  :dots="false" :center="false" :responsive="responsive")
        +cards()
      .count  # #[span {{ $refs.owl ? $refs.owl.current : 1 }}] of #[span {{ listData.length }}]
    template(v-else)
      .recommendation-list__static
        +cards()
