<template lang="pug" src="./RecommendationList.pug"></template>
<script>
import mockProducts from '@/constants/mock/recommendation-products';
import OwlCarousel from '../OwlCarousel';
import ProductCard from '../ProductCard';

export default {
  name: 'RecommendationList',
  components: {
    ProductCard,
    OwlCarousel,
  },
  props: {
    listData: {
      type: Array,
      default: () => [
        ...mockProducts.list,
        ...mockProducts.list,
      ],
    },
    title: {
      type: String,
      default: 'You may also like',
    },
    small: {
      type: Boolean,
      default: false,
    },
    enableSlider: {
      type: String,
      default: 'all',
    },
  },
  data() {
    return {
      isCarousel: true,
      responsive: {
        0: {
          items: 1,
          autoWidth: false,
          margin: 0,
        },
        768: {
          items: 3,
          autoWidth: true,
          center: true,
          loop: true,
          margin: 22,
        },
        1200: {
          autoWidth: true,
          center: true,
          loop: true,
          margin: this.small ? 22 : 25,
        },
      },
      dataTitle: this.title,
    };
  },
  computed: {
    isEnableSlider() {
      if (this.enableSlider === 'mobile') {
        return this.$viewport.isMobile;
      }
      return true;
    },
    className() {
      return {
        'has-slider': this.isEnableSlider,
      };
    },
  },
};
</script>
<style lang="scss">
  @import "../../scss/base/base";

  // hot apply for demo
  .static-html .recommendation-list {
    .product-card {
      .product-card__icons {
        display: none;
      }
      .product-card__image {
        img {
          display: none;
        }
      }
    }
  }

  .recommendation-list {
    background-color: $white;
    width: auto;
    padding-top: 3rem;
    padding-bottom: 6rem;

    @mixin arrow-size($space: 20px, $icon: 20px) {
      .carousel__nav-wrapper {
        .icon-btn {
          svg {
            width: $icon;
          }
          &.carousel__nav--next {
            padding-right: $space;
          }
          &.carousel__nav--prev {
            padding-left: $space;
          }
        }
      }
    }

    .offer {
      display: none;
    }

    .from {
      display: none;
    }

    h3 {
      margin-bottom: 3rem;
    }
    .product-card {
      display: flex;
      margin-bottom: 0;
      position: relative;
      padding-bottom: 0;
      text-align: left;

      &__thumbnail {
        width: 46%;
      }
      .product-card__image {
        padding-bottom: 122%;
        background-color: #8e8e8e;
      }
      &__content {
        position: relative;
        padding: 35px 32px 44px 45px;
        background-color: #f5f5fa !important;
        width: 54%;
      }

      .base-rating {
        margin-top: 4.2rem;
        margin-bottom: 4.8rem;
        .rating-count {
          color: $color-main;
        }
      }
      &__title {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2;
        height: calc(2.4em + 8px);
        overflow: hidden;
        a {
          line-height: 1.3;
          border-width: 4px;
        }
      }
      &__price {
        position: absolute;
        bottom: 44px;
        right: 32px;
      }
      &__location,
      &__price {
        font-size: 2rem;
        .title-1 {
          font-size: 2.6rem;
          font-weight: 700;
        }
      }
    }
    .carousel__nav-wrapper {
      .icon-btn {
        visibility: visible;
        opacity: 1;
        &.carousel__nav--next {
          padding-right: 40px;
        }
        &.carousel__nav--prev {
          padding-left: 40px;
        }
        path {
          stroke-width: 5px;
        }
      }
    }
    .count {
      display: none;
    }

    @mixin size-small() {
      h3 {
        font-size: 3.2rem;
      }
      $unit: 1024px;

      .product-card {
        width: 0.42 * $unit;
        .product-card__location {
          font-size: 2rem;
          margin-bottom: 10px;
        }
        .base-rating {
          margin: 0;
        }
        &__price {
          bottom: 20px;
        }
        .product-card__title,
        .title-1 {
          font-size: 2.6rem;
        }
        .product-card__content {
          padding: 20px;
        }
      }
      .owl-stage {
        margin-left: -0.2215 * $unit;
      }
      @include arrow-size($space: 20px, $icon: 20px);
    }

    @include breakpoint($desktop) {
      h3 {
        font-size: 5.7rem;
        font-weight: 600;
        margin-bottom: 4rem;
      }
      .product-card {
        width: 39vw;

        @include breakpoint($max: 1440px) {
          .base-rating {
            margin-top: 0;
          }
        }
      }
      .owl-stage {
        margin-left: -20.3vw;
      }
    }

    @include breakpoint($tabletUp) {
      .owl-item .product-card {
        flex-direction: row-reverse;
        background-color: $color-bg;
        padding-bottom: 0;
      }
      .owl-item.active ~ .owl-item {
        .product-card {
          flex-direction: row;
        }
      }
      .carousel__nav-wrapper {
        .base-svg svg {
          @include drop-shadow();
        }
      }
    }
    @include breakpoint($tablet) {
      @include size-small();
    }

    @at-root .size-small .recommendation-list {
      @include size-small();
    }

    // small tablet

    @include breakpoint($min: 768px, $max: 991px) {
      $unit: 900px;
      .owl-item {
        .product-card {
          width: 0.42 * $unit;
          .product-card__title {
            font-size: 2.1rem;
          }
          .product-card__content {
            padding: 15px;
          }
          .product-card__price {
            font-size: 1.6rem;
            .title-1 {
              font-size: 2rem;
            }
          }
        }
      }

      .owl-stage {
        margin-left: -0.2215 * $unit !important;
      }
    }

    @include breakpoint($mobile) {
      position: relative;
      @at-root body &.recommendation-list {
        padding-bottom: 0;
      }
      h3 {
        font-size: 3.2rem;
      }

      @at-root body .size-small .recommendation-list .owl-stage {
        margin-left: 0;
        margin-right: 0;
      }
      .product-card {
        flex-direction: column;
        width: 100% !important;
        &__image {
          padding-bottom: 57.5% !important;
        }
        &__thumbnail {
          margin: 0;
          width: 100%;
        }
        .base-rating {
          margin: 30px 0;
        }
        &__title {
          height: auto;
          font-size: 2.6rem;
        }
        &__content {
          padding: 33px 40px;
          background-color: #fff !important;
          width: 100%;
        }
        &__icons {
          left: 15px;
        }
        &__price {
          position: static;
        }
      }
      .count {
        display: block;
        font-size: 2.1rem;
        position: absolute;
        bottom: 65px;
        margin: 0 auto;
        width: auto;
        left: 0;
        right: 0;
        text-align: center;
        span {
          font-weight: 600;
        }
      }
      .carousel__nav-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-top: 3rem;
        margin-top: 4rem;
        z-index: 2;
        .icon-btn {
          position: relative;
          height: 30px;
          z-index: 9;
          svg {
            width: 30px;
            height: 30px;
          }
          path {
            stroke: $color-sub;
          }
        }
      }
    }
  }
</style>