.container.sitemap-page
  h2.text-center Lunaestella Sitemap
  .row
    .col-lg-2
    .col-lg-10
      ol
        li(v-for="[name, link] in Object.entries(pages)")
          router-link(:to="link") {{name}}