<template lang="pug" src="./Sitemap.pug"></template>
<script>
import { injectAsync } from '@/server/ssr/inject-async';
import routePaths from '../../routes/route-paths';

function asyncData() {
  return new Promise((resolve) => {
    setTimeout(() => {
      return resolve({
        title: 'SSR Sitemap',
      });
    }, 1);
  });
}

export default {
  name: 'Sitemap',
  mixins: [injectAsync(asyncData)],
  metaInfo() {
    return {
      title: this.async.data && this.async.data.title,
    };
  },
  data() {
    // eslint-disable-next-line no-underscore-dangle
    const pages = {};
    Object.entries(routePaths).forEach(([key, link]) => {
      const name = key.replace(/([A-Z]+)*([A-Z][a-z])/g, '$1 $2').toCapitalize();
      if (key === 'cart') {
        pages['My Cart - Empty'] = link;
        pages['My Cart - Full'] = `${link}?demo=full`;
        pages['My Cart - 2 Items'] = `${link}?demo=half`;
      } else {
        pages[name] = link;
      }
    });
    return {
      routePaths,
      pages,
    };
  },
};
</script>
<style lang="scss">
  .sitemap-page {
    margin-top: 100px;
    margin-bottom: 100px;
    h2 {
      font-size: 5.1rem;
    }
  }
  ol {
    font-size: 2rem;
    display: inline-block;
    li {
      margin: 10px 0;
    }
    a {
      font-size: inherit;
      &:hover {
        opacity: 0.6;
      }
    }
  }
</style>

