section.contact-form
  .h3 Contact Form  
  base-loading(:loading="isLoading")
    form-validate.form-contact(:schema="contactSchema", @success="onSubmit")
      .row
        .col-sm-6
          .form-group
            label.required Name
            input.form-control(name="name", type="text")    
        .col-sm-6
          .form-group
            label.required Vorname
            input.form-control(name="vorname", type="text")    
        .col-sm-6
          .form-group
            label.required Email
            input.form-control(name="email")
        .col-12
          .form-group
            label.required Message
            textarea.form-control(name="message", type="text")
        .col-12.mt-5.pb-5
          .form-check.form-group
            input(name="termAndConditions", type="checkbox")
            label I accept your #[a.link.semi-bold Term and Conditions]
        .col-12.my-5.text-center
          base-button(type="submit") Send