<template lang="pug" src="./ContactForm.pug"></template>
<script>
import FormValidate from '../../components/FormValidate';

const contactSchema = () => {
  return yup => ({
    name: yup.string().required(),
    vorname: yup.string().required(),
    email: yup.string().email().required(),
    message: yup.string().required(),
    termAndConditions: yup.common.validateCheckbox(),
  });
};

export default {
  name: 'ContactForm',
  components: {
    FormValidate,
  },
  data() {
    return {
      contactSchema: contactSchema(),
      isLoading: false,
    };
  },
  methods: {
    async onSubmit(formData) {
      console.log('contact Data::', formData);
    },
  },
};
</script>

<style lang="scss" scoped>
.h3 {
  color: #000;
}
</style>
