include ../../components/mixins/_page-hero.pug
-
    const images = ['./assets/images/hero-about1.png','./assets/images/hero-about2.png'];
.about-page
    +page-hero({title: 'We are Luna e Stella', images, imageLeft: 'small', imageRight: 'large'})
    .container
        .about.blog-content
            .about__content
                Breadcrumb
                p.header-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum.
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, #[a(href="javascrip:;") consetetur sadipscing elitr], sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                ul.arrow-list
                    li
                        a(href="javascript:;") Link Lorem Ipsum
                    li
                        a(href="javascript:;") Link Sit dolor
                    li
                        a(href="javascript:;") Link consetetur
                    li
                        a(href="javascript:;") Link sadipscing
                    li
                        a(href="javascript:;") Link accusam
            .section-blog
                .blog__wrapper
                    .blog__info
                        .blog__images
                            img(data-src="./assets/images/about-blog1.png" alt="")
                            img(data-src="./assets/images/about-blog2.png" alt="")
                    .blog__items
                        .blog__item
                            .row
                                .col-md-6.blog__content
                                    .blog__intro-text
                                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                        p At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                                .col-md-6.blog__image
                                    img(data-src="./assets/images/about1.png" alt="")

                        .blog__item
                            .row
                                .col-md-6.blog__content
                                    .blog__intro-text
                                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.
                                .col-md-6.blog__image
                                    img(data-src="./assets/images/about2.png" alt="")

                        .blog__item
                            .row
                                .col-md-6.blog__content
                                    .blog__intro-text
                                        p.p-title Name Vorname
                                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
                                        p.p-title Name Vorname
                                        p Ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.
                                .col-md-6.blog__image
                                    img(data-src="./assets/images/about3.png" alt="")



