<template lang="pug" src="./About.pug"></template>
<script>
import Breadcrumb from '../../components/Breadcrumb';

export default {
  name: 'About',
  metaInfo: {
    title: 'About',
  },
  components: {
    Breadcrumb,
  },
};
</script>

<style lang="scss" src="./assets/styles/about.scss"></style>