<template lang="pug" src="./DatePickerControl.pug"></template>
<script>
import { formatDate } from '@/constants/business';
import DatePicker from '@/modules/static-html/components/DatePicker';

export default {
  name: 'DatePickerControl',
  props: {
    title: {
      type: String,
      default: 'Delivery date',
    },
  },
  components: {
    DatePicker,
  },
  data() {
    return {
      selected: Date.now(),
    };
  },
  computed: {
    formattedDate() {
      return formatDate(this.selected);
    },
  },
};
</script>
<style lang="scss">
  @import "~@/modules/static-html/scss/base/base";
  .date-picker-control {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;

    .base-svg {
      display: inline;
      margin-right: 20px;
      svg {
        width: 32px;
      }
    }
    &__text {
      display: inline;
      line-height: 1.2;
      p {
        margin: 0;
        font-size: 1.6rem;
      }
    }
    &__wrapper {
      display: inline;
      position: relative;
      cursor: pointer;
      cursor: hand;
      > span {
        font-weight: 600;
        @extend %underline;
      }
    }
  }
</style>

