<template lang="pug" src="./TimePicker.pug"></template>

<script>
import VueTimePicker from 'vue2-timepicker';

export default {
  name: 'TimePicker',
  components: {
    VueTimePicker,
  },
  data() {
    return {
      time: {},
      data: {
        HH: '00',
        mm: '00',
      },
    };
  },
  methods: {
    changeHandler({ data }) {
      this.data = data;
    },
    open() {
      this.$refs.picker.toggleDropdown();
    },
  },
};
</script>

<style lang="scss">
  @import "../../scss/base/_base.scss";

  .time-picker-block {
    position: relative;
    display: inline-block;
    .time-picker {
      position: static;
      width: auto;
      input {
        display: none;
      }
    }
    @include breakpoint($max: 768px) {
      .time-picker__wrapper .time-picker .dropdown {
        left: initial;
        right: -40px;
      }
    }
  }
  .time-picker__value {
    font-size: 2rem;
    min-width: 50px;
    display: inline-block;
    padding-bottom: 0!important;
    line-height: 1.39;
  }
  .time-picker__wrapper {
    .display-time {
      display: none;
    }
    .time-picker .dropdown {
      top: calc(100% + 10px);
      left: 0;
      ul li.active,
      .time-picker .dropdown ul li.active:hover {
        background-color: $color-sub;
      }
    }
  }
</style>

