.time-picker-block
  span.time-picker__value.link-bold(@click="open") {{`${data.HH || '--'}:${data.mm || '--'}`}}
  span.time-picker__wrapper
    VueTimePicker(ref="picker" v-model="time", @change="changeHandler", :hide-clear-button="true")