.add-on {
  $padding: 30px 40px;
  margin: 20px 0;
  @extend %full-viewport-on-mobile;
  &__brief {
    padding: $padding;
    background-color: #fff;
    color: $color-main;
  }

  &__more {
    padding: $padding;
    background-color: $color-sub;
    color: #fff;
    svg {
      path,
      circle {
        fill: $white;
      }
    }
  }

  &__expander {
    padding: 10px 0 15px;
    float: right;
    text-decoration: underline!important;
    font-weight:  600;
    font-size: 1.8rem;
    display: none;
    &.is-show {
      svg {
        transform: none;
      }
    }
    svg {
      transform: rotate(180deg);
      margin-left: 10px;
      path {
        fill: transparent;
        stroke: #fff;
        stroke-width: 3px;
      }
    }

  }

  .form-check {
    padding: 0;
    label {
      margin-top: 3px;
      font-size: 2.6rem;
      b {
        margin-bottom: 0;
      }
      span {
        display: block;
        margin-left: 5rem;
        font-size: 2rem;
      }
    }
  }

  &__things-list {
    margin-top: 20px;
    > li {
      padding-left: 5rem;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    svg {
      position: absolute;
      top: 2px;
      left: 0;
      margin-right: 20px;
      width: 30px;
    }
    span {
      font-size: 2.1rem;
      font-weight: 600;
    }
  }
}

@include breakpoint($mobile) {
  .add-on {
    &__more,
    &__brief {
      padding: 20px;
    }
    &__things-list {
      span {
        font-size: 1.8rem;
      }
    }
    &__expander {
      display: block;
      &:not(.is-show) ~ ul {
        display: none;
      }
    }
  }
}