.blog-content{
  color: $color-text-content;
  .p-title{
    margin-bottom: 0 !important;
    font-weight: 700;
    font-size: 2.3rem;
    @include breakpoint($mobile-to-tablet){
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
  .header-text {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 46px;
    @include breakpoint($mobile-to-tablet) {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
  }

  p{
    a {
      font-weight: 600;
      @extend %underline;
    }
  }

  .arrow-list {
    li {
      font-weight: 600;
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 0;
      color: $color-main;
      &:before {
        content: '\2023';
        display: inline-block;
        padding-right: 1.5rem;
        font-size: 2.6rem;
        vertical-align: middle;
      }
      a {
        @extend %underline;
        &:before {
          content: '';
          padding-right: 0;
        }
      }
      @include breakpoint($mobile-to-tablet) {
        font-size: 1.6rem;
        color: $color-text-content;
        line-height: 2.7rem;
      }
    }
  }
}

.arrow-list a {
  &::before {
    vertical-align: middle;
  }
}