@mixin carousel__nav() {
  cursor: pointer;
  padding: 40px 20px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  @include breakpoint($mobile-to-tablet) {
    width: 30px;
  }
  svg {
    width: 20px;
    path {
      stroke-width: 5px;
    }
  }

  @include hover() {
    svg path {
      stroke: $color-sub;
    }
  }
}

.carousel__nav--next {
  @include carousel__nav();
  right: 0;
}
.carousel__nav--prev {
  @include carousel__nav();
  left: 0;
  svg {
    transform: rotate(180deg);
  }
}

.is--static-nav {
  [class*='__nav-wrapper '] {
    svg {
      path {
        stroke: $color-sub;
      }
    }
  }
  @include breakpoint($desktop) {
    [class*='__nav--prev'] {
      left: -100px;
    }

    [class*='__nav--next'] {
      right: -100px;
    }
    [class*='__nav--prev'],
    [class*='__nav--next'] {
      visibility: visible;
      opacity: 1;
      i {
        transform: translateX(0);
      }
      svg {
        width: 30px;
        path {
          stroke: $color-sub;
        }
      }
    }
  }
}
