// checkout @/js/plugins.js for full collapse funciton
.collapse-group {
  padding: 1.2rem 0;
  &:first-child {
    border-top: 1px solid $color-sub;
  }
  border-bottom: 1px solid $color-sub;
  .group__title {
    text-align: center;
    position: relative;
    margin: 0;
    font-size: 2.1rem;
    font-weight: 600;
    cursor: pointer;

    //arrow icon
    &::before {
      position: absolute;
      content: ' ';
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      background-image: url('~@/assets/icons/angle-down.svg');
      background-size: 1rem 1rem;
      background-repeat: no-repeat;
      background-position: calc(100% - 10px) 50%;  
    }
    

    + * {
      opacity: 0;
      height: 0;
      visibility: hidden;
      display: block;
      position: absolute;
    }
    &:not(.show) {
      + * {
        max-width: 100vw;
      }
    }
    &.show {
      + * {
        opacity: 1;
        height: auto;
        visibility: visible;
        position: static;
      }
      //arrow icon
      &::before {
        transform: rotate(180deg);
        background-position: 10px 50%;  
      }
    }
  }
}

.collapse-group.collapse-group--mobile {
  @include breakpoint($tabletUp) {
    border: none;
    padding: 0;
    .group__title {
      display: none;
      + * {
        opacity: 1;
        height: auto;
        visibility: visible;
        position: static;
      }
    }
  }
}