.number-circle {
  display: inline-block;
  text-align: center;
  color: $color-main;
  background-color: #fff;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.4));
  font-size: 3.6rem;
  line-height: 48px;

  @include breakpoint($tablet) {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 2.4rem;
  }
}

