@import '../base/base';
.page-hero {
  position: relative;
  padding: 0.1px;

  // shape
  .hero__shape {
    display: block;
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    img,
    svg {
      width: calc(100% + 1px);
    }
  }

  .hero__title {
    color: #f5f5fa;;
    text-align: center;
    text-shadow: 0px 3px 36px rgba(0, 0, 0, 0.6);
    @extend %h2;
  }

  .hero__content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    right: 0;
  }

  .hero__background-wrapper {
    position: relative;
    display: flex;
    height: 0;
    padding-bottom: 47.3%;
    overflow: hidden;
    &.one-hero{
      padding-bottom: 28.6%;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      &[lazy] {
        height: 100%;
      }
    }

    .large {
      width: 70.5%;
    }
    .small {
      width: 29.5%;
      flex: 1;
    }
  }
}

@include breakpoint($tabletUp) {
  .page-hero {
    .hero__background-sm  {
      margin-left: -1px;
    }
    &:not(.page-hero--title-center) {
      .hero__background-wrapper {
        .hero__left {
          img {
            position: absolute;
            width: 29.6%;
            left: 0;
          }
        }
        .hero__right {
          img {
            position: absolute;
            width: 70.5%;
            right: 0;
          }
        }
      }
    }
  }
}
@include breakpoint($desktop) {
  .page-hero {
    .hero__title {
      margin-top: 170px;
    }
  }
}

@include breakpoint($mobile) {
  .page-hero {
    .hero__background-wrapper{
      padding-bottom: 0;
      height: 479px;
      .large {
        width: 100%;
        overflow: hidden;
        img{
          width: auto;
          height: auto;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          max-width: none;
          width: auto;
          height: 479px;
        }
      }
      .small {
        display: none;
      }
    }
    .hero__title {
      margin-top: 55px;
      font-size: 3.2rem;
      text-align: left;
    }
  }
}


// type title center
.page-hero--title-center {
  .hero__content {
    position: absolute;
    padding-left: 0;
    left: 0;
    width: 100%;
    transform: none;
    .hero__title {
      text-align: center;
    }
  }
  .hero__left img{
    position: absolute;
    height: 100%;
    object-fit: cover;
    width: 72.9%;
  }
  .hero__right img{
    position: absolute;
    height: 100%;
    object-fit: cover;
    width: 28.1%;
    right: 0;
  }
  @include breakpoint($tablet) {
    .hero__title {
      margin-top: 55px;
      font-size: 3.2rem;
    }
    .hero__background-wrapper {
      padding-bottom: (300/1024)*100%;
    }
  }
  @include breakpoint($mobile) {
    .hero__background-wrapper {
      padding-bottom: 226px;
      height: 0;
    }
    .hero__left img{
      position: absolute;
      height: 100%;
      object-fit: cover;
      object-position: 0;
      width: 100%;
    }
    .hero__right{
      display: none;
    }
  }
}

// type small page-hero
.has-small-page-hero .page-hero {
  background-color: #4a5a8d;
  .hero__shape {
    svg path {
      fill: $color-bg;
    }
  }
  .hero__background-wrapper {
    padding-bottom: (549/1920) * 100%;
    .hero__left img {
      width: (2/3) * 100%;
    }
    .hero__right img {
      width: (1/3) * 100%;
    }
  }
  @include breakpoint($min: 1200px, $max: 1440px) {
    .hero__title {
      margin-top: 60px;
    }
  }
}