/* section blog */
.section-blog {
  margin: 24rem 0 14rem;
  h2 {
    margin-bottom: 43px;
  }
  .viewmore {
    margin-top: 10.9rem;
  }
  .blog__image {
    img[lazy] {
      min-height: 50px;
      min-width: 100%;
    }
  }  
}

.blog {
  &__wrapper {
    background-color: $white;
    padding-bottom: 14rem;
  }
  &__images {
    $ratio: (774.84/1638) * 100%;
    height: 0;
    position: relative;
    padding-bottom: $ratio;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10rem;

    img {
      position: absolute;
      height: 100%;
      &:first-child {
        width: calc(100% - 29.5%);
        left: 0;
      }
      &:last-child {
        width: 29.6%;
        right: 0;
      }
    }
  }

  &__short-desc {
    width: 50%;
    margin: 0 auto 12.5rem;
    font-size: 2.3rem;
    font-weight: 700;
  }
  &__items {
    width: 83.33%;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__item {
    margin-bottom: 43px;
    .row {
      align-items: center;
    }
    .blog {
      &__content {
        padding-right: calc(8.33% + 40px);
        h4 {
          font-weight: 700;
        }
      }
      &__intro-text {
        margin-bottom: 40px;
      }
      &__image {
        padding-right: calc(8.33% + 20px);
      }
    }
    &:nth-child(2n) {
      .row {
        flex-direction: row-reverse;
      }
      .blog {
        &__content {
          padding-left: calc(8.33% + 20px);
          padding-right: 20px;
        }
        &__image {
          padding-right: 20px;
          text-align: right;
        }
      }
    }
  }
}

@include breakpoint($tablet){
  /* section blog */
  .section-blog {
    margin: 15rem 0 10rem;
    h2{
      line-height: 4rem;
    }
    .viewmore{
      margin-top: 8rem;
    }
  }
  .blog{
    &__wrapper{
      padding-bottom: 8.8rem;
    }
    &__images{
      margin-bottom: 4.3rem;
    }
    &__short-desc{
      width: 80%;
      margin: 0 auto 6.4rem;
      padding-right: 8.33%;
      font-size: 1.8rem;
    }

    &__item{
      margin-bottom: 6.7rem;
      .blog{
        &__content{
          h4{
            font-weight: 600;
          }
        }
        &__image{
          padding-right: 8.33%;
        }
      }
      &:nth-child(2n){
        .blog{
          &__content{
            padding-left: 8.33%;
            padding-right: 8.33%;
          }
          &__image{
            padding-right: 8.33%;
          }
        }
      }
    }
  }
}

@include breakpoint($mobile-to-tablet) {
  .section-blog {
    a,a.link {
      color: inherit!important;
    }
   }
}

@include breakpoint($min: 768px, $max: 900px){
  /* section blog */
  .section-blog {
    margin: 10rem 0 10rem;
  }
  .blog{
    &__short-desc{
      padding-right: 8.33%;
      padding-left: 10px;
    }
    &__item{
      .blog{
        &__content{
          padding-right: 40px;
        }
        &__image{
          padding-right: 0;
          margin-top: 20px;
        }
      }
      &:nth-child(2n){
        .blog{
          &__content{
            padding-left: 20px;
            padding-right: 0;
          }
          &__image{
            padding-right: 20px;
            text-align: left;
          }
        }
      }
    }
  }
}

@include breakpoint($mobile){
  /* section blog */
  .section-blog {
    margin: 10rem 0 10rem;
    h2{
      margin-bottom: 4rem;
    }
    .viewmore{
      margin-top: 5rem;
      .btn{
        font-size: 2.3rem;
        white-space: pre-wrap;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  .blog{
    &__wrapper{
      padding-bottom: 7rem;
    }
    &__images{
      margin-bottom: 4rem;
    }
    &__short-desc{
      width: 100%;
      margin: 0 auto 4.2rem;
      padding: 0 20px;
      font-size: 1.8rem;
    }

    &__items{
      width: 100%;
    }

    &__item{
      margin-bottom: 4rem;
      .row{
        flex-direction: column-reverse !important;
      }
      .blog{
        &__content{
          padding-right: 20px;
          h4{
            font-weight: 600;
            margin-bottom: 10px;
          }
        }
        &__intro-text{
          margin-bottom: 20px;
        }
        &__image{
          padding-right: 20px;
          margin-bottom: 40px;
          text-align: center !important;
        }
      }
      &:nth-child(2n){
        .blog{
          &__content{
            padding-left: 20px;
            padding-right: 20px;
          }
          &__image{
            padding-right: 20px;
          }
        }
      }
    }
  }
}