@import '../../scss/base/_base.scss';

.tabs__menu,
.tab-style {
  text-align: center;
  position: relative;

  ul {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
  }

  li {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    padding: 0 13px;
    &:not(:last-child)::after {
      content: ' ';
      border-right: 1px solid $color-sub;
      height: 46px;
      top: 50%;
      margin-top: -23px;
      position: absolute;
      right: 0;
    }
    a {
      padding: 25px 20px;
      padding-bottom: 34px;
      font-size: 2.4rem;
      font-weight: 600;
    }
  }
}

.tabs__menu,
.tab-style.tab-style--menu {
  text-align: center;
  position: relative;
  li {
    a {
      border-top: 9px solid transparent;
      padding: 25px 20px;
      padding-bottom: 34px;
      font-size: 2.4rem;
      font-weight: 600;
      @include hover-bold();
      &:hover,
      &.active {
        border-color: $color-sub;
      }
    }
  }
}

.tabs {
  background-color: #fff;
  .tab {
    display: none;
    &.active {
      display: block;
    }
  }
}

@include breakpoint($mobile) {
  .tabs {
    .tabs__menu {
      display: none;
    }
    .tab {
      display: block;
      padding: 1.2rem 0;
      border-bottom: 1px solid $color-sub;
      @at-root .tabs__menu + .tab {
        border-top: 1px solid $color-sub;
      }
      .tab__title {
        padding-left: 30px;
        position: relative;
        margin: 0;
        font-size: 2.1rem;
        font-weight: 600;
        cursor: pointer;

        //arrow icon
        &::after {
          position: absolute;
          content: '+';
          right: 20px;
          top: 50%;
          color: $color-sub;
          font-size: 8;
          transform: translateY(-50%);
        }

        @at-root .tab .tab__title + * {
          display: none;
        }

        @at-root .tab.expand .tab__title {
          + * {
            display: block;
          }
          //arrow icon
          &::after {
            margin-top: -5px;
            content: '-';
          }
        }
      }
    }
  }
}
