<template lang="pug" src="./TheFooter.pug"></template>
<script>
import logoDark from '@/assets/logos/logo-dark.png';
import injectWebConfig from '@/common/mixins/injectWebConfig';
import ListSocials from '../../components/ListSocials';

export default {
  name: 'Footer',
  mixins: [injectWebConfig],
  components: {
    ListSocials,
  },
  computed: {
    logo() {
      return this.webConfig.logo;
    },
    logoImage() {
      return (this.logo && (this.logo.logoDark || this.logo.default)) || logoDark;
    },
    footerMenu() {
      return this.webConfig.footerMenu;
    },
    staticPages() {
      return this.webConfig.staticPages;
    },
    privacyPages() {
      return this.webConfig.privacyPages;
    },
  },
  methods: {
    backToTop() {
      $('html,body').animate(
        {
          scrollTop: 0,
        },
        700,
      );
    },
  },
};
</script>

<style lang="scss" src="./styles/the-footer.scss"></style>