footer.footer
  a(href="javascript:;", @click="backToTop")
    base-svg.back-to-top(:src="$icons.angleUpLighter")
  .footer__top
    .container-fluid
      .footer__inner
        .footer__logo
          router-link(to="/")
            img(:src="logoImage", alt="Lunaestella-logo")
        .footer__menu
          ul(v-if="footerMenu")
            li(:key="i", v-for="(item, i) in footerMenu")
              router-link(:to="item.link", :title="item.name") {{item.name}}
        .footer__about
          ul(v-if="staticPages")
            li(:key="i", v-for="(item, i) in staticPages")
              router-link(:to="item.link", :title="item.name") {{item.name}}
        .footer__social
          ListSocials(:showTitle="true")
      .footer__newsletter
        label Subscribe to our Newsletter!
        .input-group.input-group--with-icon
          input.form-control(placeholder="Your email")
          base-svg(:src="$icons.mail")
  .footer__bottom
    .container-fluid
      .footer__inner
        .footer__left
          p © 2018 Lunaestrella, B + H Partner
        .footer__right
          ul(v-if="privacyPages")
            li(:key="i", v-for="(item,i) in privacyPages")
              router-link(:to="item.link", :title="item.name") {{item.name}}