@import '../../../scss/base/_base.scss';
.map{
  position: relative;
  margin-top: 50px;

  h3{
    margin-bottom: 50px;
  }
  &__content{
    margin-top: 7.5rem;
    position: relative;
    .container{
      position: static;
    }
    .form-validate{
      padding-right: 20px;

      .input-group .form-control {
        margin-bottom: 4rem;
      }

      .btn-group{
        margin-bottom: 65px;
        display: flex;
        justify-content: space-between;
      }
      .btn-map-filter{
        cursor: pointer;
        background-color: transparent;
        border: 0 none;
        border-top: 9px solid transparent;
        border-radius: 0;
        box-shadow: 0 0 0 transparent;
        color: $color-main;
        padding: 0;
        font-size: 2.4rem;
        font-weight: 600;
        text-transform: none;
        padding-top: 15px;

        .base-svg{
          margin-right: 17px;
        }
        svg{
          width: 35px;
          height: 28px;
        }
        path{
          fill: $color-main;
          stroke: none;
        }

        &:hover, &.isActive{
          color: $color-sub;
          border-top-color: $color-sub;
          path{
            fill: $color-sub;
            stroke: none;
          }
        }
      }
    }
  }
  &__intro{
    position: relative;
    .p-title{
      font-size: 2.6rem;
      font-weight: 700;
      margin-bottom: 23px;
    }
  }
  &__filter{
    background-color: $white;
    position: relative;
    margin-top: -150px;
    &:after{
      background-color: $white;
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      bottom: 0;
      right: 100%;
      z-index: -1;
    }
    .form-validate{
      background-color: $white;
      padding-bottom: 65px;
    }
  }
  .target{
    .a, .b, .c{
      fill: $color-main;
      stroke: $color-main;
    }
    .a{
      fill: none;
    }
  }
}


@include breakpoint ($desktop) {
  .map img {
    max-width: 100%;
  }
}

@include breakpoint($min: 1200px, $max: 1450px){

}

@include breakpoint($tablet) {
  .map{
    &__image{
      max-width: 100%;
      overflow: hidden;
    }
    &__intro{
      .p-title{
        font-size: 2.3rem;
      }
    }
    &__filter .form-validate .btn-group{
      display: flex;
      justify-content: space-between;
      .btn-map-filter{
        font-size: 2.4rem;
        .base-svg {
          margin-right: 7px;
        }
        &:first-child{
          margin-right: 10px;
        }
      }
    }
    &__content .form-validate {
      margin-right: 0;
      padding-right: 40px;
    }
  }
}

@include breakpoint($mobile) {
  .map{
    > .container{
      padding: 0;
    }
    &__image{
      max-width: 100%;
      overflow: hidden;
    }
    &__intro{
      .p-title{
        font-size: 1.8rem;
      }
    }
    &__content{
      margin-top: 4rem;
      > .container > .row{
        flex-direction: column-reverse;
      }
    }
    &__filter{
      background-color: $white;
      position: relative;
      margin-top: 41px;
      &:after{
        content: none;
      }
      .form-validate{
        margin-right: 0;
        padding-right: 0;
        .btn-group{
          display: flex;
          justify-content: space-between;
          .btn-map-filter{
            font-size: 1.8rem;
            font-weight: 600;
            padding-left: 5px;
            padding-right: 5px;
            &:first-child{
              margin-right: 0;
            }
            i{
              display: none;
            }
          }
        }
      }
    }
  }
}

