<template lang="pug" src="./FormValidate.pug">
</template>
<script>
import FormValidator from '@/helpers/form-validator';
import { yupPluginLoader } from '@/helpers/form-validator/helper';

export default {
  name: 'FormValidate',
  mixins: [FormValidator.createMixin()],
  props: {
    schema: {
      type: Function,
      required: true,
    },
  },
  mounted() {
    this.autoPlaceholder();
    yupPluginLoader();
  },
  methods: {
    submit() {
      this.validate();
    },
    autoPlaceholder() {
      const $inputs = this.formElement.querySelectorAll('input[name], textarea[name]');
      $inputs.forEach((e) => {
        if (!e.placeholder && e.name) {
          e.placeholder = e.name.toCapitalize();
        }
      });
    },
  },
};
</script>
