mixin page-hero({images, title, imageLeft, imageRight, titleCenter})
  - var className = titleCenter ? 'page-hero--title-center' : '';
  section.page-hero(class=className)
    if title
      .hero__content
        .hero__title=title
    if (images.length > 1)
      .hero__background-wrapper(v-lazy-container)
        .hero__left(class=imageLeft)
          img(data-src=images[0], alt="hero-image")
        .hero__right(class=imageRight)
          img(data-src=images[1], alt="hero-image")
    else
      .hero__background-wrapper.one-hero(v-lazy-container)
        .hero__image
          img(data-src=images[0], alt="hero-image")
    base-svg.hero__shape(:src="$icons.shapeTriangle")