.cart-items-order {
  color: $color-main;
  .cart-item {
    margin-bottom: 3.7rem;
    padding: 4rem;
    margin-left: -5rem;
    .cart-item__option:nth-child(4) {
      border-right: 1px solid #aba093;
    }
    .new-line {
      display: none;
    }
    .cart-item__subtitle {
      display: block;
    }
    .cart-item__options-container {
      min-height: initial;
    }
    .cart-item__option:last-child {
      border-right: none;
    }
    .cart-item__price {
      margin-top: -7.2rem;
      float: right;
    }
    .cart-item__name {
      border-bottom: 0;
      span {
        line-height: 1.5;
        border-bottom: 4px solid $color-sub;
        padding: 5px 0 2px;
      }
      @extend %underline;
    }

    label {
      display: block;
      margin-bottom: 3px;
      font-size: 1.6rem;
    }

    .is-color-value {
      width: 18px;
      height: 18px;
      margin-left: 0;
      margin-top: 5px;
    }

    @include breakpoint($desktop) {
      margin-right: -4rem;
      .cart-item__options-container {
        padding-right: 160px;
        min-height: 88px;
        position: relative;
      }
      @include breakpoint($min: 1440px) {
        .cart-item__price {
          margin-top: -103px;
          label {
            font-size: 1.6rem;
            margin-bottom: 0;
          }
        }
      }
    }

    @include breakpoint($tablet) {
      padding: 3rem 0 3rem 3rem;
      .cart-item__thumbnail {
        width: 20rem;
        height: 20rem;
      }

      .cart-item__options-container {
        min-height: initial;
        label {
          font-size: 1.6rem;
        }
      }
    }

    @include breakpoint($mobile-to-tablet) {
      .cart-item__name span {
        border-bottom: 0;
        line-height: 1.3;
      }
      .cart-item__price {
        margin-top: 0;
        float: none;
      }
      .cart-item__more-info {
        display: none;
      }
    }

    @include breakpoint($mobile) {
      padding: 2rem 0 1.5rem 2rem;
      margin-left: 0;
      margin-right: 0;
      .cart-item__thumbnail {
        display: none;
      }
      .cart-item__content {
        padding-left: 0;
      }
      .cart-item__options-container {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
      }
      .cart-item__option {
        label {
          font-size: 1.5rem;
        }
        span {
          line-height: 1.4;
          font-size: 1.8rem;
        }
      }
      .cart-item__price {
        label {
          font-size: 1.5rem;
        }
        span {
          font-size: 1.8rem;
        }
      }
      .cart-item__subtitle {
        font-size: 2rem;
      }
      .cart-item__name {
        font-size: 2.6rem;
      }

      &.cart-item--location {
        .cart-item__option:not(:first-child) {
          border-right: none;
        }
      }

      &.cart-item--special {
        .cart-item__option {
          &:nth-child(4),
          &:nth-child(2) {
            border-right: none;
          }
        }
      }
    }
  }
}
