.cart-item(:class="className")
  a.cart-item__remove-btn(v-if="!display", :href="jsv", title="Remove item")
    base-svg(:src="$icons.close")
  .cart-item__thumbnail
    img(:src="data.thumbnail")
  .cart-item__content
    span.cart-item__subtitle {{data.typeName}}
    a.cart-item__name(:href="jsv")
      span {{data.name}}
    .cart-item__options-container
      template(v-for="(option, i) in data.options")
        .new-line(v-if="i > 3")
        .cart-item__option
          label {{option.name}}
          span.is-color-value(v-if="option.isColor", :style="`background-color: ${option.value}`")
          span(v-else) {{option.value}}
          span.color-name(v-if="showColorName && option.colorName") {{option.colorName}}
    .cart-item__price 
      label {{data.price.unit}}
      span {{data.price.value}}
    a.link-bold.cart-item__edit-btn(v-if="!display") edit {{data.typeAlias || data.type}}
    a.link-bold.cart-item__more-info(v-else) More info
    .clearfix