<template lang="pug" src="./CartItem.pug"></template>
<script>
import { location } from '@/constants/mock/cart-items';

export default {
  name: 'CartItem',
  props: {
    size: {
      size: String,
    },
    data: {
      type: Object,
      default: () => location,
    },
    display: {
      type: Boolean,
      default: false,
    },
    showColorName: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
    };
  },
  computed: {
    className() {
      return {
        type: '',
        [`cart-item--${this.data.type}`]: true,
        [`size-${this.size}`]: !!this.size,
        'cart-item--display': !!this.display,
      };
    },
  },
};
</script>

<style lang="scss">
  @import "~@/modules/static-html/scss/base/base";

  .cart-item {
    padding: 4vw 4rem 4rem 5vw;
    background-color: #fff;
    display: flex;
    border-left: 1rem solid;
    position: relative;
    &--special {
      border-color: $color-special;
    }
    &--gift {
      border-color: $color-gift;
    }
    &--location {
      border-color: $color-location;
    }

    label {
      color: $color-main;
    }

    &__remove-btn {
      position: absolute;
      right: 3.8rem;
      top: 3.8rem;

      svg {
        width: 2rem;
      }
      path {
        fill: $color-sub;
      }
    }
    &__thumbnail {
      width: 23.8rem;
      height: 23.8rem;
      img {
        width: 100%;
        height: 100%;
        background-color: $color-placeholder;
      }
    }
    &__content {
      flex: 1;
      padding-left: 4rem;
    }

    &__name {
      display: block;
      @extend %h3;
    }

    &__options-container {
      margin: 2.5rem -2.5rem 1.5rem;
      min-height: 12.2rem;
    }

    &__option {
      display: inline-block;
      vertical-align: top;
      padding: 0 2.5rem;
      line-height: 1.1;
      margin-bottom: 1rem;
      border-right: 1px solid $color-sub;
      &.new-line,
      &:first-child {
        border-left: 0;
      }

      &:nth-child(4),
      &:last-child {
        border-right: 0;
      }

      label {
        font-size: 1.6rem;
        margin: 0;
        vertical-align: middle;
      }
      > span {
        display: block;
        font-size: 2.1rem;
        font-weight: bold;
      }
      span.is-color-value {
        display: inline-block;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 100%;
        margin-left: 3rem;
        vertical-align: middle;
      }
      .color-name {
        margin-left: 0.5rem;
        display: inline-block;
        vertical-align: bottom;
      }
    }

    &__price {
      text-align: right;
      margin-top: -7.4rem;
      line-height: 1.2;
      label {
        margin: 0;
        display: block;
        font-weight: 600;
      }
      span {
        font-size: 2.1rem;
        font-weight: 800;
      }
    }

    &__edit-btn {
      margin-top: 6.5rem;
      float: right;
    }
  }

  // === RESPONSIVE CSS
  .cart-item {
    $this: &;
    // MIXIN
    @mixin small-size() {
      padding: 2.7rem 2.9rem 4rem 2.1rem;
      @include breakpoint($min: 1366px) {
        padding-left: 3rem;
      }
      #{$this}__thumbnail {
        width: 20rem;
        height: 20rem;
      }

      #{$this}__remove-btn {
        position: absolute;
        right: 2.9rem;
        top: 2.7rem;
      }
      #{$this}__content {
        padding-left: 2.1rem;
      }
      #{$this}__name {
        font-size: 2rem;
        margin-bottom: 0;
      }
      #{$this}__options-container {
        margin-top: 1rem;
        height: auto;
        min-height: 10.5rem;
      }
      #{$this}__option {
        display: block;
        margin-bottom: 0px;
        border-right: none;
        label {
          font-size: 1.5rem;
          &::after {
            content: ":";
            margin-right: 1rem;
          }
        }
        > span {
          font-size: 1.5rem;
          font-weight: 600;
          display: inline-block;
        }
        span.is-color-value {
          margin-top: 0.3rem;
          margin-left: 1rem;
        }
      }
      #{$this}__price {
        margin-top: 1rem;
      }
      #{$this}__edit-btn {
        margin-top: 2.2rem;
        font-size: 2.1rem;
      }
    }

    // with class size small
    &.size-small {
      @include small-size();
      #{$this}__thumbnail {
        width: 9.8rem;
        height: 9.8rem;
      }
      #{$this}__price {
        label {
          display: none;
        }
        span {
          font-size: 2rem;
        }
      }
    }

    @include breakpoint($max: 1440px) {
      &:not(.size-big) {
        @include small-size();
      }
    }

    // TABLET
    @include breakpoint($tablet) {
      #{$this}__thumbnail {
        width: 8rem;
        height: 8rem;
      }
    }

    @include breakpoint($mobile) {
      .cart-item__options-container {
        margin-left: 0;
        margin-right: 0;
        .cart-item__option {
          padding: 0;
        }
      }

      &.size-big {
        .cart-item__options-container {
          margin-left: -15px;
          margin-right: -15px;
          .cart-item__option {
            padding: 0 15px;
          }
        }
      }
    }
  }
@import "./cart-item-order-confirm";
</style>
