@import '../../../../scss/base/_base.scss';

.about-page {
  .page-hero {

    .hero {
      &__title {
        width: auto;
        @extend .h2;
      }
      &__background-wrapper {
        padding-bottom: 28.6%;
      }
      &__shape {
        .sht {
          fill: $color-heading !important;
        }
      }
    }
  }
  .breadcrumb {
    padding-top: 11.7rem;
    a,
    span {
      color: $color-main;
    }
  }
  .about {
    background-color: $white;
    margin-top: -11rem;
    position: relative;

    &__content {
      width: 50%;
      margin: 0 auto;
      color: $color-text-content;
    }
    .arrow-list {
      padding-top: 30px;
    }
  }
  /* section blog */
  .section-blog {
    color: $color-text-content;
    margin: 10rem 0 14rem;

    img {
      max-width: 100%;
    }

    p {
      margin-bottom: 3.6rem;
    }

  }
}

@include breakpoint($min: 1200px, $max: 1610px) {
  .about-page {
    .page-hero .hero__title {
      margin-top: 80px;
    }
  }
}
@include breakpoint($tablet) {
  .about-page {
    .breadcrumb {
      margin-bottom: 5.4rem;
      padding-top: 11.3rem;
    }
    .about {
      margin-top: -6rem;
      &__header {
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
    }

    .about__content {
      width: 70%;
    }

    .page-hero .hero {

      &__title {
        margin-top: 5.3rem;
      }
    }
    .section-blog {
      margin: 10rem 0rem;
    }
  }
}

@include breakpoint($mobile) {
  .about-page {
    .about {
      margin-top: -20px;
      &__header {
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
    }
    .about__content {
      width: 100%;
      padding: 0 20px;
    }
    .breadcrumb {
      padding-top: 4rem;
      margin-bottom: 4rem;
    }
    .page-hero {
      .h2 {
        font-size: 3.2rem;
        line-height: 4rem;
      }
      .hero__content {
        left: 0;
        padding-left: 0;
        top: 45%;
        transform: translateY(-50%);
        width: 100%;
        .hero__title {
          text-align: center;
          padding: 0 40px;
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .about-page .page-hero .hero__background-wrapper {
    max-height: 226px;
    .large img {
      left: 66%;
      top: 64%;
      height: 300px;
    }
  }
}
