<template lang="pug" src="./OwlCarousel.pug"></template>
<script>
import Vue from 'vue';
import { imageLoaded, triggerWindowResized } from '@/helpers/utils';

if (global.isClient) {
  require('owl.carousel');
}

const events = [
  'initialize',
  'initialized',
  'resize',
  'resized',
  'refresh',
  'refreshed',
  'update',
  'updated',
  'drag',
  'dragged',
  'translate',
  'translated',
  'to',
  'changed',
];

export default {
  name: 'Carousel',
  components: {},
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    dots: {
      type: Boolean,
      default: true,
    },
    nav: {
      type: Boolean,
      default: true,
    },
    lazyLoad: {
      type: Boolean,
      default: true,
    },
    autoRatio: {
      type: Boolean,
      default: false,
    },
    options: {
      type: Object,
      default: null,
    },
    items: {
      type: Number,
      default: 2,
    },
    margin: {
      type: Number,
      default: 0,
    },
    loop: {
      type: Boolean,
      default: true,
    },
    center: {
      type: Boolean,
      default: false,
    },
    mouseDrag: {
      type: Boolean,
      default: true,
    },
    touchDrag: {
      type: Boolean,
      default: true,
    },
    pullDrag: {
      type: Boolean,
      default: true,
    },
    freeDrag: {
      type: Boolean,
      default: false,
    },
    stagePadding: {
      type: Number,
      default: 0,
    },
    merge: {
      type: Boolean,
      default: false,
    },
    mergeFit: {
      type: Boolean,
      default: false,
    },
    autoWidth: {
      type: Boolean,
      default: false,
    },
    startPosition: {
      type: Number,
      default: 0,
    },
    uRLhashListener: {
      type: Boolean,
      default: false,
    },
    rewind: {
      type: Boolean,
      default: false,
    },
    navText: {
      type: Array,
      default: () => ['next', 'prev'],
    },
    navElement: {
      type: String,
      default: 'div',
    },
    slideBy: {
      type: [Number, String],
      default: 1,
    },
    slideTransition: {
      type: String,
      default: '',
    },
    dotsEach: {
      type: [Number, Boolean],
      default: false,
    },
    dotsData: {
      type: Boolean,
      default: false,
    },
    lazyLoadEager: {
      type: Number,
      default: 0,
    },
    autoplay: {
      type: Boolean,
      default: false,
    },
    autoplaySpeed: {
      type: Boolean,
      default: false,
    },
    autoplayTimeout: {
      type: Number,
      default: 5000,
    },
    autoplayHoverPause: {
      type: Boolean,
      default: false,
    },
    smartSpeed: {
      type: Number,
      default: 250,
    },
    fluidSpeed: {
      type: [Number, Boolean],
      default: false,
    },
    navSpeed: {
      type: [Number, Boolean],
      default: false,
    },
    dragEndSpeed: {
      type: [Number, Boolean],
      default: false,
    },
    callbacks: {
      type: Boolean,
      default: true,
    },
    responsive: {
      type: Object,
      default: () => { },
    },
    video: {
      type: Boolean,
      default: false,
    },
    videoHeight: {
      type: [Number, Boolean],
      default: false,
    },
    videoWidth: {
      type: [Number, Boolean],
      default: false,
    },
    animateOut: {
      type: [String, Boolean],
      default: false,
    },
    animateIn: {
      type: [String, Boolean],
      default: false,
    },
    fallbackEasing: {
      type: String,
      default: 'swing',
    },
    info: {
      type: Function,
      default: () => { },
    },
    itemElement: {
      type: String,
      default: 'div',
    },
    stageElement: {
      type: String,
      default: 'div',
    },
    navContainer: {
      type: [String, Boolean],
      default: false,
    },
    dotsContainer: {
      type: [String, Boolean],
      default: false,
    },
    checkVisible: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      current: 0,
      className: {},
      navDots: [],
    };
  },
  computed: {
    slider() {
      return this.$refs.slider;
    },
    uid() {
      return `carousel-wrapper--${Date.now().toString()}`;
    },
  },
  mounted() {
    this.countDots();

    const $slider = $(this.slider);

    // register event all events
    // including emit event to parent component
    events.forEach((eventName) => {
      $slider.on(`${eventName}.owl.carousel`, (event) => {
        this.$emit(eventName, event);
        if (eventName === 'changed') {
          this.onSlideChange(event);
        } if (eventName === 'initialized') {
          this.owl = event.relatedTarget;
        }
      });
    });

    this.o = $slider.owlCarousel({
      items: this.items,
      margin: this.margin,
      loop: this.loop,
      center: this.center,
      mouseDrag: this.mouseDrag,
      touchDrag: this.touchDrag,
      pullDrag: this.pullDrag,
      freeDrag: this.freeDrag,
      stagePadding: this.stagePadding,
      merge: this.merge,
      mergeFit: this.mergeFit,
      autoWidth: this.autoWidth,
      startPosition: this.startPosition,
      uRLhashListener: this.uRLhashListener,
      nav: false,
      rewind: this.rewind,
      navText: this.navText,
      navElement: this.navElement,
      slideBy: this.slideBy,
      slideTransition: this.slideTransition,
      dots: false,
      dotsEach: this.dotsEach,
      dotsData: this.dotsData,
      lazyLoad: this.lazyLoad,
      lazyLoadEager: this.lazyLoadEager,
      autoplay: this.autoplay,
      autoplaySpeed: this.autoplaySpeed,
      autoplayTimeout: this.autoplayTimeout,
      autoplayHoverPause: this.autoplayHoverPause,
      smartSpeed: this.smartSpeed,
      fluidSpeed: this.fluidSpeed,
      navSpeed: this.navSpeed,
      dragEndSpeed: this.dragEndSpeed,
      callbacks: this.callbacks,
      responsive: this.responsive,
      video: this.video,
      videoHeight: this.videoHeight,
      videoWidth: this.videoWidth,
      animateOut: this.animateOut,
      animateIn: this.animateIn,
      fallbackEasing: this.fallbackEasing,
      info: this.info,
      itemElement: this.itemElement,
      stageElement: this.stageElement,
      navContainer: this.navContainer,
      dotsContainer: this.dotsContainer,
      checkVisible: this.checkVisible,
    });
    this.$nextTick(() => {
      this.$emit('ready');
    });
  },
  methods: {
    next() {
      this.owl.next();
    },
    prev() {
      this.owl.prev();
    },
    goTo(id) {
      this.owl.to(id);
    },
    onSlideChange(e) {
      // eslint-disable-next-line no-underscore-dangle
      const subtract = e.relatedTarget._clones.length / 2;
      this.current = e.item.index - (subtract - 1);
      this.$emit('slideChange');
    },
    focusKeymask() {
      const x = window.scrollX;
      const y = window.scrollY;
      this.$refs.keymask.focus();
      window.scrollTo(x, y);
    },
    countDots() {
      this.navDots = (new Array($(this.slider).children().length)).map((e, i) => i);
    },
  },
};
</script>

<style lang="scss">
  @import "../../scss/base/_base.scss";
  @import "~owl.carousel/dist/assets/owl.carousel.css";
  @import "~owl.carousel/dist/assets/owl.theme.default.css";

  .carousel {
    position: relative;
    .owl-carousel {
      z-index: 0;
      .owl-item img {
        width: auto;
        max-width: 100%;
      }
    }

    &__dot-wrapper {
      position: absolute;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
      bottom: 18px;
      text-align: center;
      line-height: 1;
    }

    &__dot {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: $white;
      transition: transform 0.2s ease-in-out;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: $color-sub;
        border: 3px solid $white;
      }

      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }
</style>

