.carousel.carousel--owl(:class="className", @keydown.right="next", @keydown.left="prev", @keydown.esc="$emit('esc')",  @mouseover="focusKeymask")
    .carousel__items-wrapper(:id="uid" :class="['owl-carousel', 'owl-theme']", ref="slider")
        slot(v-if="data.length === 0", class="carousel__item")
    .carousel__nav-wrapper(v-if="nav && navDots.length > 1")
        .carousel__nav--next.icon-btn(@click.prevent="next")
            base-svg(:src="$icons.angleRightLg")
        .carousel__nav--prev.icon-btn( @click.prevent="prev")
            base-svg.icon-btn(:src="$icons.angleRightLg")
    .carousel__dot-wrapper(v-if="dots && navDots.length > 1")
        a.carousel__dot(v-for="(item,index) in navDots", @click="goTo(index)", :class="{'active': index === current}", :key="index")
    input.keymask(ref="keymask")
    slot(name="insert")