<template lang="pug" src="./BaseSelect.pug"></template>

<script>
import VSelect from '@/js/packages/vue-select';
import debounce from '@/helpers/javascript/debounce';

export default {
  name: 'BaseSelect',
  components: { VSelect },
  props: {
    options: Array,
    asyncSearch: Function,
    name: String,
    value: [Object, Number, String],
    disabled: [String, Boolean],
    searchable: {
      type: [Boolean, String],
      default: true,
    },
  },
  data() {
    return {
      selectedOption: {},
      richOptions: null,
      asyncSearchOptions: {
        data: [],
        loading: false,
      },
    };
  },
  mounted() {
    this.initAsyncSearch();
    this.parseRichOptions();
    this.selectedOption = this.findSelectedOption();
  },
  computed: {
    transformedOptions() {
      const { options } = this;
      let res = [];
      if (options) {
        options.concat(this.asyncSearchOptions.data).forEach((e) => {
          if (typeof e !== 'object') {
            res.push({
              label: e,
              value: e,
            });
          } else {
            res.push(e);
          }
        });
      } else if (this.richOptions) {
        res = this.richOptions;
      }
      return res;
    },
    className() {
      return {
        'is-searching': this.asyncSearchOptions.loading,
      };
    },
  },
  methods: {
    findSelectedOption() {
      const options = this.transformedOptions;
      const selected = options.find(e => e === this.value || e.value === this.value);
      return selected || null;
    },
    onChange(option) {
      this.selectedOption = option;
      this.$emit('input', option);
    },
    filterFunction(option, label, search) {
      if (this.asyncSearch) {
        return true;
      }
      return (label || '').toLowerCase().indexOf(search.toLowerCase()) > -1;
    },
    initAsyncSearch() {
      const input = this.$el.querySelector('input[type="search"]');
      input.onkeydown = debounce(async () => {
        const query = input.value;
        this.$emit('search:change', query);
        if (this.asyncSearch) {
          this.asyncSearchOptions.loading = true;
          let data = [];
          try {
            data = await this.asyncSearch(query);
            this.parseRichOptions();
          } catch (err) {
            console.error(err);
          }
          this.asyncSearchOptions.loading = false;
          this.asyncSearchOptions.data = data;
        }
      }, 200);
    },
    parseRichOptions() {
      const htmlOptions = this.$slots.options ? this.$slots.options[0] : null;
      const rich = [];
      if (htmlOptions && htmlOptions.children) {
        htmlOptions.children.forEach((e) => {
          const value = e.data.attrs.value;
          rich.push({
            value,
            label: e.elm.outerHTML,
          });
        });
      }
      this.richOptions = rich;
    },
  },
};
</script>

<style lang="scss">
  @import "../../scss/base/_base.scss";

  @mixin spinner() {
    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }

    &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border-radius: 50%;
      border-top: 2px solid $color-main;
      border-right: 2px solid transparent;
      animation: spinner 0.6s linear infinite;
    }
  }

  .base-select {
    position: relative;
    cursor: pointer;
    .base-svg {
      pointer-events: none;
      position: absolute;
      width: 1rem;
      right: 1.7rem;
      top: 50%;
      transform: translateY(-50%);
      svg {
        width: 10px;
      }
      path {
        fill: $color-sub;
      }
    }

    &.is-searching {
      .base-svg {
        @include spinner();
        svg {
          opacity: 0;
        }
      }
    }
    .dropdown-toggle {
      height: 100%;
    }
  }

  .v-select.form-control {
    height: 4.8rem;
    padding: 0;
    cursor: pointer;

    &.vs--no-action {
      .vs__actions {
        display: none;
      }
    }
    &.single {
      .selected-tag {
        height: 100%;
        color: $color-main;
        margin: 0;
        padding: 0;
      }
    }

    &.disabled {
      opacity: 0.5;
    }

    &.open + .base-svg svg {
      transform: rotate(180deg);
    }

    &.open,
    &:hover:not(.disabled) {
      border: 0.1rem solid $color-main;
      + .base-svg {
        path {
          fill: $color-main;
        }
      }
    }

    &.searchable {
      input {
        height: 30px;
        padding-left: 0 !important;
        cursor: pointer;
      }
    }

    .dropdown-toggle {
      padding: 0.8rem 1.6rem;
      border: none;
      background-color: transparent !important;
      width: 100%;
      cursor: pointer;
    }

    .vs__selected-options {
      padding-left: 0;
      pointer-events: none;
      input {
        margin-top: 0;
      }
    }

    ul.dropdown-menu {
      padding: 0;
      margin-left: -0.1rem;
      border: 0.1rem solid $color-main;
      background-color: $white;
      border-radius: 0;
      overflow: auto;
      width: calc(100% + 0.2rem);
      li {
        margin: 0;
        a {
          cursor: hand;
          color: $color-main;
          padding: 1.6rem;
          font-size: 2rem;
        }
        @at-root.searchable.open ul.dropdown-menu li:first-child:not(.active),
                                                        &:hover:not(.active) {
          a {
            background-color: $color-sub !important;
          }
        }
        &.highlight {
          a {
            background-color: transparent;
          }
        }
        &.active {
          a {
            background-color: $color-main;
            color: $white;
          }
        }
      }
    }
  }

  .base-select.btn-select {
    display: inline-flex;
    align-items: center;
    &:hover {
      .v-select {
        .selected-tag {
          color: $color-sub;
        }
      }
    }
    .v-select {
      border: none !important;
      height: auto;
      padding: 0;
      height: 100%;
      background-color: transparent;
      color: inherit;
      border: none;
      padding: 0;
      .selected-tag {
        color: $white;
      }
    }
    .dropdown-toggle {
      height: 100%;
    }
  }

  // rich options
  .rich-option {
    color: $color-main;
    display: inline-flex;
    align-items: center;

    .option__color {
      $w: 18px;
      display: inline-block;
      margin-right: 14px;
      padding: 0;
      width: $w;
      height: $w;
      border-radius: 100%;
      background-color: #db7676;
    }
    li.active & {
      color: #fff;
    }
  }
</style>
