div.base-select(:class="className")
  input.visual-hidden(:name="name", :value="selectedOption && selectedOption.value")
  v-select.form-control.vs--no-action(:options="transformedOptions",
    ref="select",
    :value="selectedOption",
    @input="onChange",
    :filterBy="filterFunction"
    :name="name",
    :searchable="searchable",
    :placeholder="$attrs.placeholder || 'Select option'",
    :disabled="disabled",
    transition="false")
      template(slot="option" slot-scope="option")
        span(v-html="option.label")
      template(slot="selected-option" slot-scope="option")
        span(v-html="option.label")

  base-svg(:src="$icons.angleDown")


  div(v-show="richOptions === null")
    slot(name="options", )