.light-box(:class="className", @keydown.esc="close", v-if="isShow")    
  body-class(:className="{'has-light-box--open': isShow}")
  .light-box__overlay(@click="close")
  .light-box__fixed-block
    .container
      .wrapper
        .light-box__caption
          span(@click.stop="") {{subtitle}}
          p 
            span(@click.stop="") {{title}}
        .light-box__close-btn.hand(slot="prepend", @click="close")
          span close
          base-svg.icon-btn(:src="$icons.close")  
        base-carousel(:nav="true", :loop="true", v-lazy-container)
          .light-box__image(v-for="img in images", :style="ratio")
            img.no-effect(:data-src="img.src")