<template lang="pug" src="./LightBox.pug"></template>
<style lang="scss" src="./styles/light-box.scss"></style>
<script>
import { imageLoaded } from '@/helpers/utils';

export default {
  name: 'LightBox',
  data() {
    return {
      isShow: false,
      images: [],
      title: null,
      subtitle: null,
      ratio: {
        paddingBottom: 'auto',
      },
    };
  },
  computed: {
    className() {
      return {
        'light-box--show': this.isShow,
      };
    },
  },
  mounted() {
    const handler = (event) => {
      const $target = $(event.currentTarget);
      const selector = $target.attr('light-box-selector') || 'img';
      this.title = $target.attr('title');
      this.subtitle = $target.attr('subtitle');
      this.onShow(selector, event);
    };
    $(document).on('click', '[light-box]', handler);
    this.unlisten = () => $(document).off('click', '[light-box]', handler);
  },
  beforeDestroy() {
    return this.unlisten && this.unlisten();
  },
  methods: {
    close(event) {
      this.isShow = false;
      this.images = [];
    },
    onShow(selector, { currentTarget, target: clickedTarget }) {
      const $images = $(currentTarget).find(selector).not('.base-svg img');
      if ($images.length) {
        const isDuplicated = {};
        this.images = $images.toArray().map((e) => {
          const src = e.getAttribute('data-src') || e.src;
          if (src && !isDuplicated[src]) {
            isDuplicated[src] = src;
            return {
              src,
            };
          }
          return null;
        }).filter(e => e !== null && e.src);
        if ($images.has(clickedTarget)) {
          const src = clickedTarget.getAttribute('data-src') || clickedTarget.src;
          this.images = this.images.filter(e => e.src !== src);
          this.images.unshift({
            src,
          });
        }
        if (this.images.length) {
          this.isShow = true;
          this.$nextTick(this.refineRatio);
          this.$emit('show', this);
        }
      }
    },
    refineRatio() {
      const doRefine = async (start) => {
        try {
          if (this.images[start]) {
            const image = await imageLoaded(this.images[start].src);
            this.ratio.paddingBottom = `${100 * (image.naturalHeight / image.naturalWidth)}%`;
          }
        } catch (error) {
          doRefine(start + 1);
        }
      };
      // doRefine(0);
    },
  },
};
</script>
