<template lang="pug" src="./OrderDetail.pug"></template>

<script>
import { gift2, special, location } from '@/constants/mock/cart-items';
import CartItem from '@/modules/cart-checkout/components/CartItem';

export default {
  name: 'OrderDetail',
  components: {
    CartItem,
  },
  props: {
    showContact: {
      type: Boolean,
      default: true,
    },
    showHeader: {
      type: Boolean,
      default: false,
    },
    isHidden: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      products: [gift2, location, special],
      ishide: this.isHidden,
    };
  },
  methods: {
    print() {
      window.print();
    },
  },
};
</script>
<style lang="scss" src="./order-detail.scss"></style>