.order-detail
  .order__header.hand(v-if="showHeader", @click="ishide = !ishide")
    .row.oc-text
      .col-sm-2.col-lg-5.col-xl-2
        .oc-info.mb
          p.order__collapse 30.11.2018
      .col-sm-3.col-xl-3
        .oc-info.mb.order-id
          p.order__collapse 12345
      .col-sm
        .order__status.text-right
          span.checked Sent
          .order__collapse
            span {{ishide ? '-' : '+'}}
  .order-content(v-if="ishide")
    .row.oc-text
      .col-sm-11.col-lg-11.col-xl-2.date-cols
        .oc-info.mb.order__date
          p.title Date
          p 30.11.2018
        .oc-info.mb
          p.title Customer-Nr.
          p 30.11.2018
        .oc-info.mb
          p.title Order-Nr.
          p 12345
      .col-sm-10.col-lg-12.col-xl
        .row
          .col-lg-5.col-md-5
            .oc-info.mb
              p.title Name and address
              p Name Surname
                br
                | Street 123
                br
                | 1234 City
                br
                | Country
          .col-lg.col-md-7
            .oc-info.mb
              p.title Name and address delivery
              p [Same address]
        .oc-info.mb
          p.title Remarks
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem.
        .oc-info
          p.title Gift voucher
          p We will send your gift voucher in about 10 days to your delivery address.
    .cart-items-order
      cart-item(v-for="(p,i) in products", :key="i", :data="p", size="big" :display="true", :showColorName="true")
    .row.oc-footer-info
      .col-sm-5.contact-cols(:class="showContact ? 'col-xl-7 col-lg-8' : 'offset-lg-2'")
        .our-contact-col
          .oc-info.oc-info--contact(v-if="showContact")
            p.title Our contact
            p Luna e Stella
              br
              | Street 123
              br
              | 1234 City
              br
              | Country
              br
              a.link-bold info@lunaestella.com
              br
              a.link-bold 0041 31 123 45 67
        .oc-info.oc-info--pay-tax
          .info-tax
            p.title Mehrwertsteuer (Taxes) included:
            p 8.0% Gift
              br
              | 3.8 % Location
              br
              | 8.0% Special
          p.title Paid per Credit card:
          p Mastercard Nr. 5260********4684
      .col-xl.col-sm-7.col-lg-4.total-price-col
        .total-price
          p Total costs
          p.price-value 1096 CHF
          p for two persons
    .text-center
      base-button.print-btn(@click="print") PRINT CONFIRMATION
  .order-line

