@import '~@/modules/static-html/scss/base/base';

.order-detail {
  .order__header {
    margin: 15px 0;
    .oc-info.mb {
      margin-bottom: 0;
    }
  }
  .order__collapse {
    cursor: pointer;
  }
  .order__status {
    .order__collapse {
      margin-left: 2.4rem;
      margin-right: 1rem;
      color: $color-sub;
    }
  }
  .order-line {
    border-bottom: 1px solid $color-sub;
    margin: 0 auto;
  }
  .print-btn {
    margin: 8.5rem 0 6.65rem;
  }
  .cart-items-order {
    margin-top: 8.3rem;
  }
  .oc-footer-info {
    margin-top: 7rem;
  }
  .oc-info {
    display: inline-block;
    margin-right: 4rem;
    p.title-2 {
      margin-bottom: 1rem;
      &:not(:first-child) {
        margin-bottom: 0;
      }
    }
    a.link-bold {
      font-size: inherit;
    }
    .info-tax {
      margin-bottom: 2.5rem;
    }
  }
  .back-to-btn {
    margin-top: 6rem;
  }
  .total-price {
    margin-left: auto;
    text-align: right;
    line-height: 1.2;
    font-weight: 600;
    display: inline-block;
    float: right;
    p {
      font-size: 2.1rem;
    }
    .price-value {
      font-size: 5.1rem;
    }
  }

  .oc-info,
  .oc-text {
    color: $color-text-content;
    p.title {
      font-size: 2.3rem;
      font-weight: 800;
    }
  }

  .oc-info.mb {
    margin-bottom: 3rem;
  }
  .cart-display {
    margin-top: 8rem;
  }

  @include breakpoint($desktop) {
    .oc-info--contact {
      margin-bottom: 30px;
      margin-right: 5rem;
    }
    .contact-cols {
      display: flex;
      flex: nowrap;
    }
  }

  @include breakpoint($max: 1366px) {
    .contact-cols {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .oc-info.oc-info--pay-tax {
        margin-bottom: 0;
        margin-right: 0;
      }
      .oc-info--contact {
        margin-top: 20px;
        order: 1;
      }
      .our-contact-col {
        order: 5;
      }
    }
  }

  @include breakpoint($tabletUp) {
    @include breakpoint($max: 1366px) {
      .date-cols {
        display: flex;
        .oc-info {
          width: (100%)/3;
        }
      }
    }
  }

  @include breakpoint($tablet) {
    .oc-info {
      p.title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }
      &.mb {
        margin-bottom: 4rem;
      }
    }

    .contact-cols {
      .oc-info {
        margin-bottom: 3rem;
      }
    }
    .print-btn {
      margin: 7rem auto 0px;
    }
  }

  @include breakpoint($max: 992px) {
    .oc-footer-info {
      margin-top: 2rem;
      display: flex;
      .total-price-col {
        margin-bottom: 4rem;
      }
      .oc-info {
        margin-bottom: 3rem;
      }
    }
  }

  @include breakpoint($mobile) {
    .oc-footer-info {
      .total-price-col {
        order: -1;
      }
    }
    .oc-info {
      p.title {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
    .date-cols {
      .oc-info {
        display: block;
      }
    }
    .print-btn {
      margin: 4rem auto 3rem;
    }
  }
}
