.header-inner {
  border: 1px solid rgba(0,0,0,0.1);
  .col-lg-12 {
    display: flex;
    align-items: center;
  }
}
section.section-module {
  margin: 0 auto;
  clear: both;
  padding: 75px 0;
  border-bottom: 1px solid #eee;

  .section__content {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .help-title {
    color: #bbb;
    text-transform: none;
    margin: 0;
    font-size: 1.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-weight: normal;
  }
}