.testimonical-list
  owl-carousel.is--static-nav(:dots="false", :nav="true", :items="2", :center="false", :margin="40", :responsive="options")
    .testimonial-card(v-for="item in list")
      p «{{item.content}}»
      label {{item.author}}, {{item.age}}
      base-rating(:value="item.rate", :votable="false")