<template lang="pug" src="./TestimonialList.pug"></template>

<script>
import { WIDTH_MOBILE, WIDTH_TABLET } from '@/common/display';
import sampleData from './data.sample';
import OwlCarousel from '../OwlCarousel';

export default {
  name: 'TestimonialList',
  props: {
    sectionTitle: {
      type: String,
      default: '_Label_',
    },
    responsive: Object,
  },
  components: {
    OwlCarousel,
  },
  data() {
    return {
      list: sampleData.list,
      siemaOptions: {
        perPage: {
          0: 1,
          [WIDTH_MOBILE]: 2,
          [WIDTH_TABLET + 1]: 2,
        },
      },
      options: {
        0: {
          items: 1,
        },
        1200: {
          items: 2,
        },
      },
    };
  },
};
</script>

<style lang="scss">
  @import "./styles/testimonial-card.scss";
  .testimonical-list {
    margin-top: 40px;
    .owl-carousel {
      padding: 0 110px;
    }
    @include breakpoint($desktop) {
      @include carousel-arrow-size($stroke: 3px, $icon: 30px);
      .is--static-nav [class*="__nav--next"] {
        right: -20px;
      }
      .is--static-nav [class*="__nav--prev"] {
        left: -20px;
      }
    }
    @include breakpoint($mobile-to-tablet) {
      [class*="__nav--prev"] {
        left: -30px;
      }

      [class*="__nav--next"] {
        right: -30px;
      }
    }
  }
</style>
