@import '../../../scss/base/base';

.filterbox {
  padding: 0.1px;
  margin: auto;
  &.is-hidden {
    .filterbox__content {
      opacity: 0;
      height: 0;
      pointer-events: none;
      overflow: hidden;
    }
  }
  label {
    font-size: 1.6rem;
    display: block;
    color: $color-main;
  }
  .link {
    font-size: 2.1rem;
    font-weight: 600;
    padding-bottom: 5px;
  }

  .h5 {
    font-size: 2.1rem;
    font-weight: 600;
    text-align: center;
  }

  &__action {
    .icon-filters{
      margin-right: 15px;
    }
    span {
      font-size: 2.1rem;
      font-weight: 600;
      .icon-close{
        display: none;
      }
      svg {
        margin-bottom: 2px;
      }
    }
  }
  &__options {
    background-color: #fff;
    padding: 36px 12.9% 20px;
    margin-bottom: 132px;


    @include breakpoint($min: 1200px, $max: 1440px) {
      padding-left: 9%;
      padding-right: 9%;
    }

  @include breakpoint($tablet) {
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 90px;
    @include breakpoint($max: 992px) {
      padding: 36px 20px 10px;
    }
  }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
    max-width: 100%;
    &.no-calendar {
      justify-content: center;
    }
  }

  &__content {
    margin-top: 38px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    button {
      font-size: 2.6rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 70px;
      max-width: 100%;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
      filter: none;
    }
  }

  &__group {
    border-bottom: 1px solid $color-sub;
    padding: 15px 0 20px;
    position: relative;
  }

  .mobile-collapse {
    margin: 10px 0 10px;
    .base-svg {
      display: none;
    }
  }

  &__item {
    text-align: center;
    button {
      margin: 10px 10px;
      font-weight: 600;
      &.btn-main {
        &:hover {
          background-color: $color-main;
          color: $white;
          i,
          svg {
            path,
            circle {
              fill: $white;
            }
          }
        }
      }
    }
  }
  &__choice {
    text-align: center;
    &::after {
      content: ' ';
      display: block;
      height: 1px;
      background: #fff;
      width: 76.5%;
      margin: 12px auto;
    }
    .h5 {
      color: $white;
      margin-top: 0;
      margin-bottom: 20px;
    }
    button {
      font-weight: 600;
      margin-bottom: 20px;
      &:not(:last-child){
        margin-right: 20px !important;
      }
    }
  }

  .price-slider {
    padding-bottom: 10px;
    p {
      margin-bottom: 0;
    }
  }
  .filter-results-count {
    font-size: 2.1rem;
    margin-top: 31px;
    margin-bottom: 94px;
    text-align: center;
    color: #fff;
    b {
      font-weight: 600;
    }
  }
}

@include breakpoint($mobile-to-tablet) {
  .filterbox {
    &__bottom {
      button {
        margin-left: 25px;
      }
    }
  }
}

@include breakpoint($mobile) {
  .filterbox {
    label{
      font-size: 1.5rem;
      letter-spacing: -0.2px;
    }
    &.is-hidden {
      .filterbox__options{
        margin-left: -20px;
        margin-right: -20px;
      }
    }
    &.show{
      .filterbox__options{
        padding-top: 5rem !important;
      }
      .filterbox__top{
        .calendarpicker{
          display: none !important;
        }
      }

      .filterbox__content .filterbox__group:not(.toggle-active) {
        display: none;
      }
    }

    &:not(.is-hidden){
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 10vh;
      z-index: 10000;
      margin-top: 0 !important;
      .filterbox__top{
        padding-top: 10px;
        .calendarpicker{
          display: block;
        }
      }
      .filterbox__options{
        height: 100vh;
        padding-bottom: 240px;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        position: relative;
        padding-top: 5.7rem;
      }
      .filterbox__action{
        .icon-close{
          display: block;
        }
        .text, .dropdown-arrow, .icon-filters{
          display: none;
        }
        .underline{
          border: 0;
          position: absolute;
          top: 30px;
          right: 20px;
          svg{
            width: 19px;
            height: 19px;
            path{
              fill: $color-sub;
            }
          }
        }
      }

      .filterbox__content {
        background-color: $white;
        // position: relative;
        // height: 100vh;
        .toggle-active{
          background-color: $white;
          position: static;
          display: block;
          border-bottom: none;
          .filterbox__item{
            display: block;
            margin-top: 25px;
          }
          .mobile-collapse.show-collapse{
            .base-svg{
                position: absolute;
                left: -5px;
                right: auto;
                top: -90px;
                z-index: 10;
                padding: 5px;
                cursor: pointer;
                svg{
                  width: 15px;
                  height: 30px;
                  transform: rotate(180deg);
                  max-width: 15px;
                }
              }
          }
          .mobile-collapse .base-svg.show-collapse{
            right: auto;
            left: 20px;
            position: fixed;
            top: 30px;
            svg{
              width: 15px;
              height: 30px;
              transform: rotate(180deg);
              max-width: 15px;
            }
          }
        }


        .filterbox__bottom {
          position: fixed;
          bottom: 0;
          background: white;
          width: auto;
          margin: 0;
          padding: 30px 0;
          z-index: 1002;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
        }
      }
    }
    &__group{
      position: static;
    }
    &__options {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      margin-bottom: 40px;
    }
    &__content {
      border-top: 1px solid $color-sub;
    }
    &__action {
      .dropdown-arrow {
        &.active{
          transform: rotate(90deg);
        }
      }
    }
    &__top {
      display: block;
      text-align: center;
      margin-bottom: 20px;
      .calendarpicker {
        text-align: left;
        margin-bottom: 30px;
      }
    }
    .mobile-collapse {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 0;
      + * {
        display: none;
      }

      &.show-collapse {
        + * {
          display: block;
        }
        svg {
          transform: rotate(180deg);
        }
      }

      .base-svg {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        svg {
          max-width: 1rem;
          height: 10px;
        }
      }
    }

    &__item {
      display: none;
    }

    &__bottom {
      display: block;
      text-align: center;
      .link {
        margin-bottom: 30px;
      }
      button {
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 2.3rem;
      }
    }
    &__choice {
      border-top: 1px solid #f5f5fa;
      border-bottom: 1px solid #f5f5fa;
      padding: 15px 0 10px;
      &::after {
        display: none;
      }
      button {
        margin: 10px 10px;
      }
      .mobile-collapse {
        .base-svg {
          top: 12px;
        }
      }
      .h5 {
        position: relative;
        margin-bottom: 10px;
      }
    }
    .filterbox__choice{
      margin-bottom: 35px;
    }
    .filter-results-count {
      display: none;
      margin-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 0;
    }
  }
}

@include breakpoint($max: 330px) {
  .calendarpicker__datefrom,
  .calendarpicker__nights {
    border-right: 1px solid #aba093;
    padding-right: 10px;
    margin-right: 10px;
  }
  .filterbox__bottom button {
    width: auto;
  }
}

// OTHER
.filterbox {
  .btn.btn-tag.btn-price {
    text-transform: none;
  }
}


// Some group rule
.filterbox {
  .checkbox-group {
    .form-check {
      margin: 20px 0;
      margin-left: 18%;
      text-align: left;
      display: block;
      padding-left: 0;
      @include breakpoint($mobile) {
        margin-left: 30px;
      }
    }
  }
}
@import './filter-overlap.scss';