.filter-overlap {
  .filterbox {
    display: inline-block;
    max-width: 100%;
    width: 100%;

    @include breakpoint($desktop) {
      margin-top: -468px;
      &.is-hidden {
        margin-top: -175px;
      }

      // special fix
      @include breakpoint($max: 1900px) {
        margin-top: -20vw;
        &.is-hidden {
          margin-top: -9.1vw;
        }
      }
    }
    @include breakpoint($tablet) {
      margin-top: -55px;
      &.is-hidden {
        margin-top: -55px;
      }
    }

    @include breakpoint($mobile) {
      margin-top: -20px;
      // display: none;
      width: 100%;
      &.is-hidden {
        margin-top: -20px;
      }
    }
  }
}