.checkoptions
    .attribute__item(v-for="item in data.attribute" )
        label {{item.name}}
        .attribute__inner
            .attribute__value(v-for="value in item.value" :class="item.name")
                .form-check
                    input(:name='item.name', type="radio", :value='value')
                    label
                        span(:style="`background-color: ${value};border-color: ${value}`", v-if='item.name == "color"')
                        span(v-else) {{value}}