<template lang="pug" src="./CheckOptions.pug"></template>
<script>
import gift from '@/constants/mock/products-special';

export default {
  name: 'CheckOptions',
  data() {
    return {
      data: {
        ...gift[7],
      },
      isColor: false,
    };
  },
  mounted() {
  },
};
</script>
<style lang="scss">
    @import "../../scss/base/_base.scss";
    .attribute__item{
        border-bottom: 1px solid $color-sub;
        margin-bottom: 2.2rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: flex-start;
        > label{
            font-size: 1.6rem;
            margin-bottom: 0;
            margin-right: 1rem;
            padding-top: 13px;
            min-width: 50px;
            text-transform: capitalize;
        }
        @include breakpoint($mobile-to-tablet){
            padding-bottom: 0;
        }
        @include breakpoint($mobile){
            padding-bottom: 10px;
            padding-top: 38px;
            margin-bottom: 2rem;
            > label{
                margin-right: 2.8rem;
            }
            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
                padding-top: 5px;
            }
        }

        .attribute__inner{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .attribute__value{
            .form-check{
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 45px;
                    height: 45px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    background-color: $color-main;
                    border: 4px solid $white;
                    border-radius: 100px;
                    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
                    color: $white;
                    font-size: 1.8rem;
                    font-weight: 700;
                    @include breakpoint($mobile){
                        width: 39px;
                        height: 39px;
                    }
                }
                input[type="radio"]{
                    ~ label{
                        padding-left: 0;
                        margin-bottom: 0;
                        &:before{
                            content: none;
                        }
                    }
                    &:checked{
                        ~ label{
                            span{
                                background-color: $white;
                                color: $color-main;
                                border-color: $color-main;
                            }
                        }
                    }
                }
            }
            &.color{
                .form-check {
                    input[type="radio"]:not(:checked) ~ label span{
                        border-color: $white !important;
                    }
                    input[type="radio"]:checked ~ label{
                        padding-left: 0;
                        position: relative;
                        span:before{
                            content: "";
                            left: 7px;
                            top: 10px;
                            width: 3.3rem;
                            height: 3.3rem;
                            border: 4px solid $white;
                            border-radius: 100px;
                            @include breakpoint($mobile){
                                width: 27px;
                                height: 27px;
                            }
                        }
                        span:after{
                            content: '';
                            display: block;
                            width: 6px;
                            height: 10px;
                            border: solid #fff;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            position: absolute;
                            top: 20px;
                            z-index: 1;
                            left: 20px;
                            @include breakpoint($mobile){
                                width: 5px;
                                height: 9px;
                                top: 17px;
                                left: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
</style>
