@import './mixins';
@import '../components/generals/text/text-extendable';

@mixin underline() {
  border-bottom: 2px solid $color-sub;
  padding-bottom: 0.1em;
}

%underline {
  @include underline;
}

%drop-shadow {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.4));
}

@mixin drop-shadow {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.4));
}

@mixin light-shadow {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
}

@mixin full-viewport {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

%full-viewport {
  @include full-viewport();
}

%full-viewport-on-mobile {
  @include breakpoint($mobile) {
    @include full-viewport();
  }
}

%image-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

@mixin image-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

@mixin hover() {
  @include breakpoint($desktop) {
    &.active,
    &:active,
    &:hover {
      @content;
    }
  }
  @include breakpoint($mobile-to-tablet) {
    &.active,
    &:active {
      @content;
    }
  }
}

@mixin default() {
  &:not(:hover) {
    @content;
  }

  @include breakpoint($mobile-to-tablet) {
    &:hover {
      @content;
    }
  }
}

@mixin makeImportant() {
  html {
    @content;
  }
}

@mixin deep() {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@mixin image-frame($size) {
  height: 0;
  position: relative;
  padding-bottom: $size;
  width: 100%;
  img {
    @extend %image-center;
    height: 100%;
    width: 100%;
  }
}

@mixin hover-bold() {
  transition: text-shadow 0.1s;
  &:hover,
  &.active {
    border-color: $color-sub;
    text-shadow: 0 0 0px $color-main, 0 0 0.3px $color-main;
  }
}
// carousel arrow size
@mixin carousel-arrow-size($space: 20px, $icon: 20px, $stroke: 5px) {
  .carousel__nav-wrapper {
    .icon-btn {
      svg {
        width: $icon;
        path {
          stroke-width: $stroke;
        }
      }
      &.carousel__nav--next {
        padding-right: $space;
      }
      &.carousel__nav--prev {
        padding-left: $space;
      }
    }
  }
}

// header setting
@mixin custom-header($color: $color-main) {
  .header .header__inner {
    background-color: $color;
  }
  @include breakpoint($mobile-to-tablet) {
    .header__dropdown {
      background-color: $color;
    }
  }
}

@mixin desktop-small() {
  @include breakpoint($min: 1200, $max: 1366px) {
    @content;
  }
}