@mixin breakpoint($min: 0, $max: 0) {
    $type: type-of($min);
    @if $type==string {
        $class: $min;
        @if $class==xs {
            @media (max-width: 575px) {
                @content;
            }
        }
        @else if $class==sm {
            @media (max-width: 767px) {
                @content;
            }
        }
        @else if $class==md {
            @media (max-width: 991px) {
                @content;
            }
        }
        @else if $class==lg {
            @media (max-width: 1199px) {
                @content;
            }
        }
        @else if $class==sm-up {
            @media (min-width: 576px) {
                @content;
            }
        }
        @else if $class==md-up {
            @media (min-width: 768px) {
                @content;
            }
        }
        @else if $class==lg-up {
            @media (min-width: 992px) {
                @content;
            }
        }
        @else if $class==hlg-up {
            @media (min-width: 1200px) {
                @content;
            }
        }
        @else if $class==tablet {
          @media (min-width: 768px) and (max-width: 1199px) {
              @content;
          }
      }
        @else {
            @warn "Breakpoint mixin supports: xs, sm, md, lg, mxs, msm, mmd, mlg";
        }
    }
    @else if $type==number {
        $query: "all" !default;
        @if $min !=0 and $max !=0 {
            $query: "(min-width: #{$min}) and (max-width: #{$max})";
        }
        @else if $min !=0 and $max==0 {
            $query: "(min-width: #{$min})";
        }
        @else if $min==0 and $max !=0 {
            $query: "(max-width: #{$max})";
        }
        @media #{$query} {
            @content;
        }
    }
}

@mixin hover-light($isActive) {
    @if $isActive==1 {
        &.active {
            @extend %theme-color-primary;
        }
    }
    @include breakpoint(md-up) {
        &:hover {
            @extend %theme-color-primary;
        }
    }
    @include breakpoint(md) {
        &:active {
            @extend %theme-color-primary;
        }
    }
}

@mixin hover-opacity() {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    @include breakpoint(md-up) {
        &:hover {
            opacity: 0.6;
        }
    }
    @include breakpoint(md) {
        &:active {
            opacity: 0.6;
        }
    }
}

@mixin hover-mobile() {
    @include breakpoint(md-up) {
        &:active,
        &:hover {
            @content;
        }
    }
    @include breakpoint(md) {
        &:active {
            @content;
        }
    }
}

@mixin clearfix() {
    .void,
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin last() {
    &:last-child {
        @content;
    }
}

@mixin not-last() {
    .void,
    &:not(:last-child) {
        @content;
    }
}

@mixin list-space($value) {
    @include not-last {
        margin-right: $value;
    }
}

@mixin list-enter($value) {
    @include not-last {
        margin-bottom: $value;
    }
}

@mixin self-clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin central {
    & {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin isProduction() {
    @if $env==production {
        @content;
    }
}

@mixin isDevelopment() {
    @if $env==development {
        @content;
    }
}

@mixin primaryGradient() {
    @extend %theme-bg-primary;
    background-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0) 0,
                    rgba(0, 0, 0, 0) 55%,
                    rgba(0, 0, 0, 0.3) 100%
    );
}

@mixin multi-row($row, $lineheight){
    height: ($row * $lineheight) + px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    line-height: $lineheight + px;
}

@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    -ms-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}

@mixin transform($deg) {
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@function em($target, $context: $font-size-base) {
    @if $target == 0 { @return 0 }
    @return $target / $context + 0em;
}

