@import "variables";

@mixin rootColor {
  :root {
    --primary: #{$theme-primary};
    --primary-light: #{rgba($theme-primary, 0.8)};
    --primary-lighter: #{rgba($theme-primary, 0.5)};
    --primary-lightest: #{rgba($theme-primary, 0.2)};
    --secondary: #{$theme-secondary};
    --secondary-light: #{rgba($theme-secondary, 0.8)};
  }
}

%theme-bg-primary{
/*!
  ====== BEGIN THEME COLORS ======
   :root {
    --primary: {$theme-primary};
    --primary-light: {rgba($theme-primary, 0.8)};
    --primary-lighter: {rgba($theme-primary, 0.5)};
    --primary-lightest: {rgba($theme-primary, 0.2)};
    --secondary: {$theme-secondary};
    --secondary-light: {rgba($theme-secondary, 0.8)};
   }
------------------------------
  current static colors
  $primary: #{$theme-primary};
  $secondary: #{$theme-secondary};
*/

  /*! theme primary */
  background-color: var(--primary);
}

%theme-bg-secondary{
  /*! theme secondary */
  background-color: var(--secondary);
}

%theme-bg-primary-light{
  /*! theme primary */
  background-color: var(--primary-light)!important;
}

%theme-bg-primary-lighter{
  /*! theme primary */
  background-color: var(--primary-lighter)!important;
}

%theme-bg-primary-lightest{
  /*! theme primary */
  background-color: var(--primary-lightest) !important;
}

%theme-border-color-primary{
  /*! theme primary */
  border-color: var(--primary);
  &:hover{
    border-color: var(--primary) !important;
  }
}
%theme-border-primary-light{
  /*! theme primary */
  border: 1px solid var(--primary-light) !important;
}


%theme-border-color-secondary{
  /*! theme secondary */
  border-color: var(--secondary)!important;
}

%theme-color-primary{
  /*! theme primary */
  color: var(--primary);
}

%theme-color-primary-light{
  /*! theme primary */
  color: var(--primary-light);
}

%theme-color-secondary{
  /*! theme secondary */
  color: var(--secondary);
}

%theme-gradient-primary{
  /*! theme primary */
  background-color: var(--primary);
  background-image: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 0,
                  rgba(0, 0, 0, 0) 55%,
                  rgba(0, 0, 0, 0.3) 100%
  );
}

%theme-gradient-linear-primary{
  /*! theme primary */
  background: rgba(var(--primary), 1);
  /*! theme primary to secondary */
  background: linear-gradient(
                  to bottom,
                  var(--primary) 0%,
                  var(--secondary) 100%
  )!important;
}

%theme-gradient-hybrid{
  /*! theme primary */
  background-color: var(--primary);
  /*! theme primary to secondary */
  background: linear-gradient(
                  to bottom,
                  var(--primary) 0%,
                  var(--secondary-light) 100%
  )!important;

  /*!
  ====== END THEME COLORS ======
  */
}

/*
HOC THEME COLORS
*/
%theme-border-color-top{
  @extend %theme-border-color-primary;
  border-right-color: transparent!important;
  border-bottom-color: transparent!important;
  border-left-color: transparent!important;
}

%theme-border-primary{
  border: 1px solid var(--primary);
}

%theme-border-primary-2px{
  border: 2px solid transparent;
  @extend %theme-border-color-primary;
}

%theme-border-primary-4px{
  border-top: 4px solid transparent;
  @extend %theme-border-color-primary;
}

%theme-border-primary-7px{
  border: 7px solid transparent;
  @extend %theme-border-color-primary;
}

%theme-border-top-primary{
  @extend %theme-border-color-primary;
  border-top-color: transparent!important;
  border-right-color: transparent!important;
  border-left-color: transparent!important;
}

%theme-border-color-primary-bottom{
  @extend %theme-border-color-primary;
  border-top-color: transparent!important;
  border-right-color: transparent!important;
  border-bottom-color: transparent!important;
}

%theme-border-color-primary-3corner{
  @extend %theme-border-color-primary;
  border-left-color: transparent!important;
}

%theme-border-top-primary-15px{
  border-top: 15px solid transparent;
  @extend %theme-border-color-primary;
}

%theme-border-secondary{
  border: 1px solid transparent;
  @extend %theme-border-color-secondary;
}
