// ==========================================================================
// Bootstrap variable
// ==========================================================================

// Grid
$grid-gutter-width: 40px;
$grid-columns: 12;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1367px,
) !default;

// app container
$desktop-container-width: 1678px;

// ==========================================================================
// Colors
// ==========================================================================
// themes
$color-main: #333f65;
$color-sub: #aba093;
// text
$color-text-content: #262124;
$color-text: $color-main;
$color-text-button: #5f5851;
$color-label: #5f5851;
$color-heading: #f5f5fa;
$color-link-underline: #aba093;
// states
$color-success: #00a433;
$color-error: #bd2519;
// backgound
$color-bg: #f5f5fa;
$color-bg-special: #8e5885;
$color-bg-location: #5f7142;
$color-bg-suprise: #8d6d16;

// specials
$color-special-yellow: #8d6d16;
$color-special-lighter-yellow: #d4b050;
$color-special-green: #5f7142;
$color-special-purple: #521e44;
$color-special-blue: #333f65;

$color-location: #5f7142;
$color-gift: #8d6d16;
$color-special: #521e44;

$color-placeholder: #8e8e8e;

// other
$color-white: #fff;
$border-radius: 4px;

// Theme color
$white: #fff;
$theme-primary: $color-main;
$theme-secondary: $color-sub;
$secondary: $white;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    'primary': $color-main,
    'secondary': $color-sub,
    'light': $color-sub,
    'dark': $color-main,
  ),
  $theme-colors
);

// image ratio
$radio-small: (329/565) * 100%;
$ratio-medium: (477.24/819) * 100%;
$ratio-large: (705/1082) * 100%;

// font weight
$semibold: 600;
$bold: 800;

// z index
$z-index-header: 1010;
$z-index-header-with-dropdown: 1020;
$z-index-fixed-bottom: 1010;
$z-index-section-menu: 90;
$z-index-section-menu-sticky: 90;
$z-index-datepicker: 1010;
$z-index-loading: 1000;
$z-index-modal: 1030;
$z-index-toast: 1040;

// End theme color
// ==========================================================================

// ==========================================================================
// Breakpoints
// used by the mixin
// @inlcude breakpoint($mobile-to-tablet) {}
// @inlcude breakpoint($desktop) {}
// @inlcude breakpoint($tablet) {} less used, only fix for tablet devices
// ==========================================================================
$mobile-to-tablet: 'lg';
$mobile: 'sm';
$tabletUp: 'md-up';
$tablet: 'tablet';
$desktop: 'hlg-up';
