include ../../../static-html/components/mixins/_page-hero.pug

-
  const images = ['@/assets/images/1px.png','@/assets/images/1px.png'];

.my-account-page
  .has-small-page-hero
    +page-hero({title: 'My account', images, titleCenter: true})
  .container.page-container
    .tabs(v-tabs, ref="tabs")
      .tab.active(name="overview")
        .tab__title Overview
        div
          include ./inc/_overview.pug
      .tab(name="personal-info")
        .tab__title Personal Information
        div
          include ./inc/_personal-info
      .tab(name="orders")
        .tab__title Orders
        div
          include ./inc/_orders
      .tab(name="directory")
        .tab__title Directory
        div
          include ./inc/_directory
      .tab(name="payment")
        .tab__title Credit card details
        div
          h4.text-center.pb-5 Awaiting the updates of the designer
      .tab(name="setting")
        .tab__title My settings
        div
          include ./inc/_my-setting
