<template lang="pug" src="./MyAccount.pug"></template>

<script>
import { gift2, special, location } from '@/constants/mock/cart-items';
import OrderDetail from '@/modules/cart-checkout/components/OrderDetail';
import locationHelper from '@/helpers/location';
import DatePickerControl from '../../components/DatePickerControl';

const salutationOptions = [
  { value: '1', label: 'Mister' },
  { value: '2', label: 'Salutation' },
];
export default {
  name: 'MyAccount',
  components: {
    DatePickerControl,
    OrderDetail,
  },
  metaInfo: {
    title: 'My Account',
  },
  mounted() {
    this.trackActiveTab();
  },
  methods: {
    trackActiveTab() {
      const query = locationHelper.getUrlParams();
      const $tabs = $(this.$refs.tabs);
      if (query.page) {
        $tabs.trigger('set', query.page);
      } else {
        $tabs.trigger('set', 'overview');
      }
      $tabs.on('change', (event, name, id) => {
        locationHelper.setUrlParams({
          page: name,
        });
      });
    },
  },
  data() {
    return {
      orderList: [
        {
          orderDate: '30.10.2018',
          orderNumber: 12345,
          orderTotal: '522.000 CHF',
          orderStatus: 1,
        },
        {
          orderDate: '30.11.2018',
          orderNumber: 12346,
          orderTotal: '52.000 CHF',
          orderStatus: 0,
        },
      ],
      salutationOptions,
      salutationOption: salutationOptions[0],
      products: [gift2, location, special],
    };
  },
};

</script>

<style lang="scss" src="./scss/my-account.scss"></style>
<style lang="scss" src="./scss/_overview.scss"></style>
<style lang="scss" src="./scss/_tab-general.scss"></style>
<style lang="scss" src="./scss/_orders.scss"></style>
