.tab-content.tab-general.directory
    .row
        .col-lg-8.col-content
            h3 Directory
            .label Name and address
            form.form-directory
                .row
                    .col-lg-6
                        .form-group
                            label Address *
                            input.form-control(placeholder="Street 123")
                    .col-lg-6
                        .form-group
                            label * Required fields
                    .col-lg-6
                        .row
                          .col-xl-6.col-lg-5.col-6
                            .form-group
                              label.required City
                              input.form-control(name="city", placeholder="3456 City")
                          .col-xl-6.col-lg-7.col-6
                            .form-group
                              label.required Postcode
                              input.form-control(name="postcode", placeholder="Postcode")
                    .col-lg-6
                        .form-group
                            label Country *
                            input.form-control(placeholder="Switzerland")
            .label Delivery address
            p.intro-text No delivery address saved.

            .form-actions
                base-button(type="submit") ADD NEW ADDRESS
