.tab-content.tab-general.my-settings
    .row
        .col-lg-8.col-content
            h3 My settings
            p.intro-text You can change your account and newsletter settings here.
            .label My newsletters
            .listing-check
                .row
                    .col-md-6
                        .form-check
                            input(name="newsletter", type="checkbox", value="new offers" :checked="true")
                            label New offers
                    .col-md-6
                        .form-check
                            input(name="newsletter", type="checkbox", value="new locations")
                            label New locations
                    .col-md-6
                        .form-check
                            input(name="newsletter", type="checkbox", value="spring specials")
                            label Spring specials
                    .col-md-6
                        .form-check
                            input(name="newsletter", type="checkbox", value="x-mas specials" :checked="true")
                            label X-mas specials
                    .col-md-6
                        .form-check
                            input(name="newsletter", type="checkbox", value="summer specials")
                            label Summer specials
                    .col-md-6
                        .form-check
                            input(name="newsletter", type="checkbox", value="winter specials" :checked="true")
                            label Winter specials
                    .col-md-6
                        .form-check
                            input(name="newsletter", type="checkbox", value="another newsletter")
                            label Another newsletter
            .label My Luna e Stella account
            .row
                .col-lg-6
                    .form-group
                        label Email for your account*
                        input.form-control(placeholder="peter.mueller@mail.com")
            .form-actions
                a.link Delete account
