.tab-content.cart-items-order.tab-orders
    .order__info
        h3.title Orders
        p Show all current and prevous orders
        .sp-line
    order-detail(:showContact="false", :showHeader="true", :isHidden="true")
    order-detail(:showContact="false", :showHeader="true", :isHidden="false")
