.tab-content
    .row
        .col-lg-4.col-side
            .section-module
                h3 Hello [Customer]!
                p Nice to see you here. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            .section-module
                h3 Account settings
                p.label Mail
                p peter.mueller@mail.com
                p.label Phone
                p 0041 123 456 78 90
                .readmore
                    base-button More
        .col-lg-1
        .col-lg-7.col-content
            .section-group.order-history
                h3 Orders
                .order__item(v-for="item in orderList")
                    .order__date {{item.orderDate}}
                    .order__number
                        a.underline(href="javascript:;") {{item.orderNumber}}
                    .order__total.text-right {{item.orderTotal}}
                    .order__status.text-right
                        template(v-if="item.orderStatus")
                            span.checked Sent
                        template(v-else)
                            span Not sent
            .section-group.account-info
                .row
                    .col-lg-6
                        h3 Directory
                        p
                            a.link Show all
                        p.label Address
                        p Street 123
                            br
                            | 3456 City
                            br
                            | Switzerland
                    .col-lg-6
                        h3 Credit card details
                        p
                            a.link Show all
                        p.label Payment
                        p.card__name Credit Card
                        p.card__desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
            .section-group.acount-seting
                h3 My settings
                .row
                    .col-lg-6
                        p
                            a.link.long-link
                              span  Show my account setting
                        p You can change your account and newsletter settings here.
