.tab-content.tab-general
    .row
        .col-lg-8.col-content
            h3 Personal information
            .label Name and address
            .row
                .col-lg-6
                    .form-group
                        label Email*
                        input.form-control(placeholder="peter.mueller@mail.com")
                .col-lg-6
                    .form-group
                        label * Required fields
            .row
                .col-lg-6
                    .form-group
                        label Salutation
                        base-select(name="gender", :options="salutationOptions", v-model="salutationOption")
            .row
                .col-lg-6
                    .form-group
                        label First name *
                        input.form-control(placeholder="Peter")
                .col-lg-6
                    .form-group
                        label Surname *
                        input.form-control(placeholder="Mueller")
            .row.date-group
                .col-lg-6
                    date-picker-control(title="Birthday")
                .col-lg-6
                    .form-group
                        label Phone *
                        input.form-control(placeholder="0041 123 456 78 90")
            .label Confirm password
            p.intro-text Only necessary if you changed your mailaddress.
            .row.password-group
                .col-lg-6
                    .form-group
                        label Password *
                        input.form-control.h3( type="password", value="12345678")
                .col-lg-6
                    .form-check
                        input.checkbox(type="checkbox")
                        label Show password
            .form-actions
                base-button(type="submit") Save changes
