<template lang="pug" src="./BaseCarousel.pug"></template>
<script>
import Vue from 'vue';
import Siema from 'vue2-siema';
import { imageLoaded } from '@/helpers/utils';

Vue.use(Siema);

export default {
  name: 'BaseCarousel',
  props: {
    dots: {
      type: Boolean,
      default: false,
    },
    nav: {
      type: Boolean,
      default: false,
    },
    center: {
      type: Boolean,
      default: true,
    },
    perPage: {
      type: Number,
      default: 1,
    },
    siemaOptions: {
      type: Object,
      default: null,
    },
  },
  data() {
    const { $slots } = this;
    const navDots = $slots.default && $slots.default.length ? (new Array($slots.default.length)) : [];
    return {
      current: 0,
      navDots,
      className: {
        'is--items-center': this.center,
      },
      // slider options
      sliderOptions: {
        loop: navDots.length > 1,
        draggable: navDots.length > 1,
        duration: 300,
        perPage: this.perPage,
        ...this.siemaOptions,
      },
    };
  },
  computed: {
    slider() {
      return this.$refs.slider;
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.$emit('ready');
    });
  },
  beforeDestroy() {
    // hot fix vue2-siema error
    this.$refs.slider.siema = {
      destroy: () => null,
    };
  },
  methods: {
    next(event) {
      this.slider.next();
    },
    prev(event) {
      this.slider.prev();
    },
    goTo(id) {
      this.slider.goTo(id);
    },
    onSlideChange(newId) {
      this.current = newId;
      this.fixLazyLoad();
    },
    onInit() {
      this.current = this.slider.current;
      this.$forceUpdate();
    },
    focusKeymask() {
      if (this.$refs.keymask) {
        const x = window.scrollX;
        const y = window.scrollY;
        this.$refs.keymask.focus();
        window.scrollTo(x, y);
      }
    },
    fixLazyLoad() {
      const pendingImages = this.$el.querySelectorAll('[data-src][lazy="loading"]');
      if (this.$el.querySelectorAll('[data-src][lazy="loading"]')) {
        pendingImages.forEach((e) => {
          imageLoaded(e.src).then(() => {
            e.src = e.getAttribute('data-src');
            e.setAttribute('lazy', 'loaded');
          });
        });
      }
    },
  },
};
</script>


<style lang="scss">
  @import "../../scss/base/_base.scss";

  .base-carousel {
    position: relative;
    &__dot-wrapper {
      position: absolute;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
      bottom: 18px;
      text-align: center;
      line-height: 1;
    }

    &__dot {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: $white;
      transition: transform 0.2s ease-in-out;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: $color-sub;
        border: 3px solid $white;
      }

      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }

  .is--items-center {
    [class*="__items-wrapper"] {
      > div > div {
        display: flex;
        justify-content: center;
      }
    }
  }

</style>

