.base-carousel(:class="className", @keydown.right="next", @keydown.left="prev", :n-dots="navDots.length", @mouseover="focusKeymask")
  slot(name="prepend")
  siema.base-carousel__items-wrapper(ref="slider",
  :options="sliderOptions",
  @update:current="onSlideChange",
  @init="onInit")
    slot
  .carousel__nav-wrapper(v-if="nav && navDots.length > 1")
    .carousel__nav--next.icon-btn(@click.stop.prevent="next")
      base-svg(:src="$icons.angleRightLg")
    .carousel__nav--prev.icon-btn( @click.stop.prevent="prev")
      base-svg.icon-btn(:src="$icons.angleRightLg")
  .base-carousel__dot-wrapper(v-if="dots && navDots.length > 1")
    a.carousel__dot(v-for="(item,index) in navDots", @click.stop="goTo(index)", :class="{'active': index === current}", :key="index")
  input.keymask(ref="keymask", v-if="$viewport.isDesktop")
  // if one item
  slot(name="append")

