<style lang="scss" src="../scss/style.scss">
</style>

<script>
import globalStore from '@/store/global';
import { useStores } from '@/helpers/vue/store-mapper';

export default {
  name: 'StaticWrapper',
  mixins: [
    useStores({
      global: globalStore,
    }),
  ],
  render(h) {
    return <div>{this.$slots.default}</div>;
  },
  async mounted() {
    const { actions, state, getters } = this.stores.global;
  },
};
</script>
