.cart-page-empty 
  .cart-empty-heading.h2 Planning your romantic surprise has never been so easy…
  p Customize your romantic package in only 3 steps or book one of our individual items or packages tailored to your interest, style and taste.
  .is-small
    category-block
