.cart-recommend.size-small
  .center-block
      base-popover(:show="true", placement="top", :maxWidth="436", :flip="false", :zIndex="1009", trigger="manual")
        template(slot="popover")
          .cart-recommend__popover
            .cart-recommend__content
              span.svg-icon.icon-gift
              .cart-recommend__text
                .bold.title-1 Add a gift
                p Coupons are nice, but unpacking presents is wonderful ...
            base-button.btn-sub.close-popover NO, THANKS
  .full-viewport-custom
    .section-recommend-list
      recommendation-list(:listData="recommendGifts")
      base-button.btn-show-more Show more