.cart-form {
  &__inner {
    padding: 40px 70px;
    background-color: #ffffff;
  }
  label {
    color: inherit;
  }
  &__note {
    margin-top: 90px;
    p {
      font-size: 1.6rem;
    }
    a {
      font-size: inherit;
    }
  }
  .add-promo-btn {
    margin-top: 26px;
    margin-bottom: 80px;
    text-align: center;
  }
  .cart-info {
    margin-bottom: 17px;
    @include clearfix();
    label {
      font-size: 2rem;
    }
    span {
      float: right;
    }
  }
  .total-price {
    margin: 33px 0 38px;
  }
  .sticky-block__fixed {
    &.is-sticky {
      position: static !important;
    }
  }
  @include breakpoint($min: 992px, $max: 1024px) {
    &__inner {
      padding: 30px 40px;
      margin-right: -40px;
    }
  }
  @include breakpoint($mobile) {
    &__inner {
      padding: 40px 22px;
      margin-left: -20px;
      margin-right: -20px;
    }
    .add-promo-btn {
      margin-bottom: 27px;
    }
    &__note {
      margin-top: 41px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .cart-form__sticky {
      position: static !important;
      height: 128px;
      .sticky-block__fixed {
        &.is-sticky {
          .cart-form__footer {
            position: static;
          }
        }
        &:not(.is-sticky) {
          .cart-form__footer {
            padding: 15px 20px;
            position: fixed;
            bottom: 0;
            z-index: 10000;
            background-color: #fff;
            left: 0;
            right: 0;
            border-top: 1px solid $color-sub;
            .cart-info {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
