.cart-recommend {
  margin-top: 300px;
  .recommendation-list {
    margin-top: 20px;
    h3 {
      font-size: 3.2rem;
    }
    
    p.product-card__location {
      margin-bottom: 0 !important;
    }
    .base-rating {
      display: none;
    }
    .from {
      display: inline-block !important;
      text-transform: capitalize;
      margin-right: 5px;
    }
    .unit {
      display: none;
    }
  }
  .btn-show-more {
    margin-bottom: 50px;
  }

  .section-recommend-list {
    text-align: center;
    background-color: #fff;
  }

  @include breakpoint($tabletUp) {
    .product-card {
      width: 435px;
    }
  }

  // expand full viewport, recommend slider
  @include breakpoint($min: 767px, $max: 1366px) {
    height: 600px;
    .full-viewport-custom {
      @include full-viewport();
      background-color: #fff;
      z-index: 1;
      position: absolute;
    }
  }
  @include breakpoint($mobile) { 
    .section-recommend-list {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

.cart-recommend__popover {
  .svg-icon {
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .cart-recommend__content {
    position: relative;
    display: flex;
  }
  .cart-recommend__text {
    display: block;
    flex: 1;
    padding-left: 35px;
  }
  .title-1 {
    margin-bottom: 10px;
    font-size: 2.6rem;
  }
  .icon-gift {
    width: 53px;
    height: 46px;
    background-image: url('~@/assets/icons/icon-gifts.svg');
  }
  
  @include breakpoint($tabletUp) { 
    @include clearfix();
    .cart-recommend__content {
      padding-left: 15px;
    }
    .btn {
      margin-top: 30px;
      float: right;
    }
  }
  @include breakpoint($mobile) {
    margin: -10px;
    .btn {
      margin-top: 15px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    .svg-icon {
      display: none;
    }
    .cart-recommend__text {
      padding-left: 0px;
    }
  }
}
