form.cart-form
  .cart-form__inner
    .form-group
      label.bold Fill in promotion code
      input.form-control(type="text", placeholder="0000-0000-0000-XX")
    .add-promo-btn
      base-button ADD PROMO CODE
    .cart-info.bold-semi
      label Value
      span 0.00 CHF
    .cart-info
      label Shipping
      span 0.00 CHF
    componen.cart-form__sticky(:is="$viewport.isMobile ? 'StickyBlock' : 'div'", :marginTop="vpHeight")
      .cart-form__footer
        .cart-info.bold.total-price
          label Total costs
          span 0.00 CHF
        .submit-btn.text-center
          base-button.btn-sub(type="submit", :disabled="!isFull") CHECK OUT
    .cart-form__note
      p The estimated tax will be confirmed once you added your shipping address in checkout.
        br 
        br 
        | 30 day return. Read more about our policy #[a.link-bold return and refund.]	