.item-checklist {
  margin-top: -120px;
  padding-bottom: 40px;
  ul {
    padding: 0;
    display: inline-flex;
  }
  li {
    padding: 20px 0;
    display: inline-flex;
    align-items: center;
    &.is-active span {
      position: relative;
      background-color: $color-main;
      border: 5px solid #fff;
      color: transparent;

      &:after {
        content: ' ';
        display: block;
        width: 10px;
        height: 16px;
        border: solid #fff;
        border-width: 0 4px 4px 0;
        transform: rotate(45deg);
        position: absolute;
        top: 8px;
        left: 14px;
        z-index: 1;
      }
    }

    span {
      color: $color-main;
      background-color: #fff;
      border-radius: 100%;
      margin-right: 30px;
      margin-left: 30px;
      width: 48px;
      height: 48px;
      filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.4));
      font-size: 36px;
      line-height: 48px;
    }
    label {
      color: inherit;
      font-size: 2.4rem;
      font-weight: bold;
      margin: 0 30px 0 28px;
    }
  }
  .tab-gift {
    color: $color-gift;
    svg {
      width: 53px;
    }
  }
  .tab-location {
    color: $color-location;
    svg {
      width: 32px;
    }
  }
  .tab-special {
    color: $color-special;
    svg {
      margin-bottom: -5px;
      width: 73px;
    }
  }

  @include breakpoint($tablet) {
    margin-top: -80px;
    ul {
      display: flex;
      justify-content: center;
    }
  }

  @include breakpoint($max: 768px) {
    margin-top: -40px;
    ul {
      display: block;
      justify-content: center;
      padding: 10px 0;
      li.is-active span {
        border-width: 3.5px;
        &::after {
          border-width: 0 3px 3px 0;
          width: 8px;
          height: 12px;
          top: 6px !important;
          left: 10px !important;
        }
      }
    }

    li {
      padding: 10px 0;
      @include breakpoint($max: 600px) {
        &:nth-child(2):after {
          display: none;
        }
      }
      
      span {
        margin-left: 15px;
        margin-right: 15px;
        width: 36px;
        height: 36px;
        line-height: 3.6rem;
        font-size: 2.4rem;
      }

      label {
        font-size: 1.6rem;
        margin-left: 15px;
        margin-right: 20px;
      }
    }
    .tab-gift {
      svg {
        width: 21px;
      }
    }
    .tab-location {
      svg {
        width: 13px;
      }
    }
    .tab-special {
      svg {
        width: 30px;
      }
    }
  }
}
