.item-checklist.tab-style
  ul
    li.tab-gift(:class="{'is-active': giftProducts.length}")
      span 1
      base-svg(:src="$icons.iconGifts")
      label gifts
    li.tab-location(:class="{'is-active': locationProducts.length}")
      span 2
      base-svg(:src="$icons.iconLocations")
      label location 
    li.tab-special(:class="{'is-active': specialProducts.length}")
      span 3
      base-svg(:src="$icons.iconSpecials")
      label special 