<template lang="pug" src="./CartPage.pug"></template>
<script>
import { location, gift, special, cartPackage } from '@/constants/mock/cart-items';
import CategoryBlock from '@/modules/static-html/components/CategoryBlock';
import RecommendationList from '@/modules/static-html/components/RecommendationList';
import { recommendGifts } from '@/constants/mock/recommendation-products';
import StickyBlock from '@/modules/static-html/components/StickyBlock';
import locationHelper from '@/helpers/location/index';
import CartItem from '../../components/CartItem';
import packages from '../../../static-html/components/FilterBox/configs/packages';

const demo = {
  full: {
    cartPackage,
    products: [],
  },
  half: {
    cartPackage: null,
    products: [
      location,
      special,
    ],
  },
  single: {
    cartPackage: null,
    products: [
      location,
    ],
  },
  empty: {
    cartPackage: null,
    products: [],
  },
};

export default {
  name: 'CartPage',
  components: {
    CartItem,
    CategoryBlock,
    RecommendationList,
    StickyBlock,
  },
  metaInfo() {
    return {
      title: `My Cart - ${this.demoName.toCapitalize()}`,
    };
  },
  data() {
    const demoName = locationHelper.getUrlParams().demo || 'empty';
    const demoData = demo[demoName] || demo.empty;
    return {
      demoName,
      title: demoName !== 'full' ? 'Complete your Package for your unique moment' : 'Well done! Your Package is complete',
      cartPackage: demoData.cartPackage,
      recommendGifts,
      products: demoData.products,
      vpHeight: global.isClient ? window.innerHeight : 0,
    };
  },
  computed: {
    isEmpty() {
      return !(this.cartPackage || this.products.length);
    },
    isFull() {
      return this.locationProducts.length && this.giftProducts.length && this.specialProducts.length;
    },
    locationProducts() {
      return this.getProductByType('location');
    },
    giftProducts() {
      return this.getProductByType('gift');
    },
    specialProducts() {
      return this.getProductByType('special');
    },
    allProducts() {
      const { cartPackage } = this;
      const packageProducts = cartPackage && cartPackage.products ? cartPackage.products : [];
      const allProducts = [...packageProducts, ...this.products];
      return allProducts;
    },
  },
  methods: {
    getProductByType(type) {
      const res = [];
      this.allProducts.forEach((e) => {
        if (e.type === type) {
          res.push(e);
        }
      });
      return res;
    },
  },
};
</script>

<style lang="scss">
  @import "~@/modules/static-html/scss/base/base";
  @import "./_item-checklist.scss";
  @import "./_cart-form.scss";
  @import "./_cart-recommend.scss";
  @import "./_cart-page-empty.scss";

  .cart-page {
    .page-hero {
      background-color: #4a5a8d;
    }
    .col-main {
      position: static;
    }
    .cart-item {
      margin-bottom: 50px;
    }
    .cart-package-message {
      letter-spacing: -1px;
      margin-bottom: 40px;
    }
    .cart-package-desc {
      max-width: 798px;
      margin: auto;
      p.title-1 {
        margin-bottom: 0rem;
      }
    }
    .cart-items-group {
      margin-bottom: 50px;
      .add-btn {
        text-align: center;
        a {
          vertical-align: bottom;
        }
        .base-svg {
          margin-right: 18px;
          vertical-align: bottom;
          svg {
            width: 25px;
          }
        }
      }
    }

    .cart-recommend-section {
      text-align: center;
      .center-block {
        display: inline-block;
      }
    }

    @include breakpoint($min: 1200px, $max: 1440px) {
      .page-hero .hero__title {
        margin-top: 70px;
      }
    }
    @include breakpoint($tablet) {
      .page-hero .hero__background-wrapper {
        padding-bottom: 300px;
      }
      .cart-item > .cart-item__thumbnail {
        width: 80px;
        height: 80px;
      }
    }

    @include breakpoint($mobile) {
      .page-hero {
        .hero__title {
          margin-top: 80px;
          padding: 0 20px;
        }
        .hero__background-wrapper {
          padding-bottom: 300px;
        }
      }
      .cart-package-message,
      .cart-package-desc {
        display: none;
      }
      .cart-items-group {
        .add-btn {
          font-size: 2.1rem;
        }
      }

      .cart-item {
        $this: ".cart-item";
        #{$this}__content {
          padding-left: 0px;
        }
        #{$this}__subtitle {
          font-size: 1.5rem;
        }
        #{$this}__thumbnail {
          display: none;
        }
        .is-color-value {
          margin-top: 10px;
          margin-left: 0px;
          transform: translateY(-5px);
          width: 25px;
          height: 25px;
        }
      }
    }

    @include breakpoint($max: 480px) {
      .page-hero .hero__background-wrapper {
        padding-bottom: 350px;
      }
    }
  }
</style>

