include ../../../static-html/components/mixins/_page-hero.pug
-
  const images = ['@/assets/images/1px.png','@/assets/images/1px.png'];

.cart-page
  .has-small-page-hero
    +page-hero({title: '{{title}}', images, titleCenter: true})
  include _item-checklist
  .container
    .row
      .col-xl-8.col-md-6.col-lg-7.col-main
        template(v-if="isEmpty")
          include _cart-page-empty
        template(v-else)
          p.cart-package-message.h3(v-if="cartPackage") You just choosed a package {{cartPackage.name}}, which contains the following:
          section.cart-items__wrapper
            .cart-items-group(v-if="giftProducts.length")
              cart-item(v-for="item in giftProducts", :data="item", :key="item.name")
              .add-btn
                base-svg(:src="$icons.add")
                a.link-bold add gift
            .cart-items-group
              template(v-if="locationProducts.length")
                cart-item(v-for="item in locationProducts", :data="item", :key="item.name")
              .add-btn(v-else)
                base-svg(:src="$icons.add")
                a.link-bold add location
            .cart-items-group(v-if="specialProducts.length")
              cart-item(v-for="item in specialProducts", :data="item", :key="item.name")
              .add-btn
                base-svg(:src="$icons.add")
                a.link-bold add special
          section.cart-recommend-section
            template(v-if="giftProducts.length === 0")
              include _cart-recommend
          .cart-package-desc(v-if="cartPackage")
            p.title-1 {{cartPackage.content.title}}
            p.title-2 {{cartPackage.content.text}}
      .col-md.col-aside
        include _cart-form
        