@import '../../../scss/base/_base.scss';
.light-box {
  &--show {
    .light-box__fixed-block {
      visibility: visible;
      opacity: 1;
    }
  }

  img[lazy="loading"] {
    width: 100%;
    height: 100%;
    background-image: url('~@/assets/icons/spinner-white.svg');
  }

  &__caption {
    color: $white;
    font-size: 1.8rem;
    margin-bottom: 20px;
    padding: 0 20px;
    display: inline-block;
    p {
      margin: 0;
      font-weight: 800;
    }
  }

  &__close-btn {
    position: absolute;
    z-index: 1;
    padding: 5px;
    top: 15px;
    right: 20px;
    span {
      display: none;
      border-bottom: 2px solid;
      font-size: 2.1rem;
      font-weight: 600;
      margin-right: 15px;
      color: #fff;
    }
    svg {
      width: 20px;
      path {
        fill: $white;
      }
    }
    @include hover() {
      span {
        color: $color-sub;
      }
      svg path {
        fill: $color-sub;
      }
    }
  }

  .wrapper {
    position: relative;
  }

  &__fixed-block {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    background-color: rgba(#262124, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .container {
      padding: 30px 15px 50px;
    }

    .light-box__image {
      width: 100%;
      position: relative;
      height: 0;
      padding-bottom: calc(100% * 921 / 1638);
      border: 1px solid rgba(255, 255, 255, 0.1);
      img {
        @extend %image-center;
      }
    }
  }

  // Responsive for desktop only
  @include breakpoint($desktop) {
    &__fixed-block {
      padding-top: 10px;
      padding-bottom: 40px;
      .light-box__image {
        background-color: #000;
        height: 100%;
        display: block;
        max-height: 100%;
      }

      .wrapper {
        max-width: 60vw;
        margin: auto;
      }

      [class*='__nav-wrapper'] > div {
        padding: 0 30px;
        svg {
          width: 20px;
        }
      }
    }
    &__caption {
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 10px;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    }
    &__close-btn {
      text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
      svg {
        width: 19px;
      }
      span {
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }

  // Responsive mobile and tablet
  @include breakpoint($mobile-to-tablet) {
    &__fixed-block {
      padding: 20px 0px;
      .container {
        position: absolute;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        max-width: initial;
      }
    }

    .base-carousel {
      height: auto;
      flex: initial;
    }

    &__caption {
      position: static;
      padding-right: 40px;
    }
    .light-box__close-btn {
      right: 10px;
      top: 0;
    }

    // Responsive mobile and tablet landscape
    @media (orientation: landscape) {
      &__fixed-block {
        .container {
          position: relative;
        }

        .base-carousel {
          height: auto;
          max-height: 100%;
          @include breakpoint($mobile) {
            height: 100%;
          }
        }
        .wrapper {
          max-width: 95vw;
          margin: auto;
        }
      }
      &__caption {
        padding: 0 40px;
        top: 20px;
        position: absolute;
        z-index: 1;
        line-height: 2.7rem;
      }
     
      // mobile lanscape
      @include breakpoint($mobile) {
        &__caption {
          text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
        }
        .light-box__close-btn {
          right: 40px;
          top: 20px;
        }
      }
    }
  }

  @include breakpoint($tablet) {
    // tablet lanscape
    @media (orientation: landscape) {
      .light-box__image {
        background-color: #000;
        display: block;
      }
      &__caption {
        top: 15px;
        position: static;
        z-index: 1;
        line-height: 2.7rem;
      }
      .light-box__caption {
        padding-left: 40px;
      }
      .light-box__close-btn {
        right: 40px;
        top: 0;
      }
    }
  }
}

// fix for static-html
.static-html {
  .light-box {
    @include breakpoint($desktop) {
      .light-box__image {
        background-color: #000;
        display: block;
        padding-bottom: 0 !important;
        height: calc(100vh - 80px);
        max-height: 100%;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .wrapper {
      max-width: 1638px;
    }
  }
}
