<template lang="pug" src="./DefaultLayout.pug"></template>
<script>
import TheHeader from '../../components/TheHeader';
import TheFooter from '../../components/TheFooter';
import LightBox from '../../components/LightBox';

export default {
  name: 'DefaultLayout',
  components: {
    TheHeader,
    TheFooter,
    LightBox,
  },
};
</script>
