@import '../../base/base.scss';

/* 
  Buttons
*/
.btn {
  letter-spacing: 0;
  padding: 1.5rem 5.2rem;
  line-height: 2.4rem;
  letter-spacing: 0;
  font-weight: 600;
  font-size: 2.6rem;
  color: $color-text-button;
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
  transition: 0.1s all ease-in-out;

  @include breakpoint($mobile) {
    font-size: 2.3rem;
  }

  @mixin hover-effect {
    background-color: $color-sub;
    color: $white;
    i,
    svg path,
    svg circle {
      color: $white;
      fill: $white;
    }
    &:active {
      filter: none;
    }
  }

  &:active {
    @include hover-effect;
  }

  @include hover-mobile {
    @include hover-effect;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($color-sub, 0.2);
  }

  &[disabled] {
    pointer-events: none;
  }
}

.btn-default {
  text-transform: uppercase;
}

.btn-icon {
  width: 45px;
  height: 45px;
  min-width: initial;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  justify-content: center;
  padding: 0 !important;
  border-radius: 100%;
  i {
    font-size: 27px;
    color: $color-sub;
    svg {
      width: 27px;
      path {
        fill: $color-sub;
      }
    }
    &.facebook-f {
      svg {
        width: 12px;
      }
    }
    &.twitter {
      svg {
        width: 24px;
      }
    }
    &.instagram {
      svg {
        width: 22px;
      }
    }
  }
  &.btn-lg {
    width: 98px;
    height: 98px;
    i {
      font-size: 40px;
    }
    .base-svg {
      svg {
        width: 40px;
      }
    }
  }
  .base-svg {
    svg {
      width: 27px;
    }
  }
}

.btn-tag {
  font-size: 1.8rem;
  padding: 0rem 0.8rem;
  letter-spacing: -0.1px;
  line-height: 35px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid $color-sub;
  font-weight: 500;
  box-shadow: none;
  filter: none;
  @include default() {
    color: $color-sub;
  }

  @include hover() {
    background-color: $color-main;
    color: #fff;
    box-shadow: none;
    border-color: $color-main;
  }

  .base-svg:first-child {
    margin-right: 8px;
  }
  .base-svg:last-child {
    margin-left: 5px;
    margin-right: 5px;
  }

  &.btn-main {
    @include default() {
      color: $color-white;
    }

    border: 1px solid $color-main;
    i,
    svg {
      path,
      circle {
        fill: $white;
      }
    }
    @include hover() {
      background-color: $white;
      box-shadow: none;
      border-color: $color-sub;
      color: $color-sub;
      i,
      svg {
        path,
        circle {
          fill: $color-sub;
        }
      }
    }
  }
  &.btn-default {
    @include default() {
      .icon-close {
        svg path {
          fill: $color-sub;
        }
      }
    }
  }
  &.btn-transparent {
    @include default() {
      color: $color-white;
    }
    @include hover() {
      background-color: #fff;
      color: $color-sub;
      border-color: $color-sub;
      svg {
        path,
        circle {
          fill: $color-sub !important;
        }
      }
    }
  }
}

.btn-closable {
  .icon-close {
    svg {
      width: 10px;
      margin-left: 5px;
    }
  }
}

.btn-transparent {
  color: $white;
  border-color: $white;
  @include hover-mobile() {
    background-color: $white;
    border-color: $white;
    color: $color-main;
    .base-svg {
      svg path,
      svg circle {
        fill: $color-main;
      }
    }
  }
  .base-svg {
    svg path,
    svg circle {
      fill: $white;
    }
  }
}

.btn-main {
  background-color: $color-main;
  color: $color-white;
}

.btn-sub {
  background-color: $color-sub;
  color: $color-white;
  @include hover() {
    background-color: #fff;
    color: $color-text-button;
    svg path {
      color: $color-text-button;
    }
  }
}

.btn-default .btn-light {
  background-color: $color-bg;
  color: $color-text-button;
}

.icon-btn {
  cursor: pointer;
  &:hover {
    svg * {
      fill: $color-sub;
    }
  }
}
