@import '../../base/base';

.bg-main {
  background-color: $color-main!important;
}

.bg-sub {
  background-color: $color-sub!important;
}

.bg-special {
  background-color: $color-bg-special!important;
}

.bg-location {
  background-color: $color-bg-location!important;
}

.color-main {
  color: $color-main!important;
}

.color-sub {
  color: $color-sub!important;
}

.color-success {
  color: $color-success!important;
}

.color-error {
  color: $color-error!important;
}
