// =================================
// GRID
// =================================

.container {
  max-width: $desktop-container-width;
}

@include breakpoint($min: 1024px, $max: 1200px) {
  .container,.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@include breakpoint($tablet) {
  @include breakpoint($min: 1000px) {
    .container {
      // max-width: 994px;
    }
  }
}