.link-btn,
a {
  color: inherit;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  @include hover() {
    color: $color-main;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

.link-btn,
.link-bold,
a.link {
  color: $color-main;
  cursor: pointer;
  @extend %underline;
}

a.long-link {
  border: none!important;
  > span {
    @extend %underline;
    line-height: 1.4;
  }
}

.link-bold {
  font-size: 2.1rem;
  font-weight: 600;
}

.btn-link {
  color: $color-main;
  text-decoration: none !important;
}

.link-btn,
.btn-link {
  background: transparent;
  border: 0;
}

.left-link {
  &::before {
    content: '‣';
    transform: rotate(180deg);
    display: inline-block;
    padding-left: 1.5rem;
    font-size: 2.6rem;
    text-decoration: none;
  }
}
