
body {
  @include breakpoint($min: 1024px) {
    @include from-right();
  }
  @include breakpoint($min: 768px, $max: 1023px) {
    @include from-top-right();
  }
  .filterbox {
    @include from-top();
  }
  @include breakpoint($mobile) {
    @include from-top();
  }
} 

.location-detail-page {
  @include breakpoint($min: 768px, $max: 1023px) {
    @include from-top-right();
  }
}

.checkout-page {
  @include breakpoint($min: 1024px) {
    @include from-right();
  }
}
.my-account-page {
  @include from-left();
}