.date-picker(:class="className", v-click-outside="close")
  span.date-picker__value.hand(@click="showCalendar") {{formatDateValue(value)}}
  span
    datepicker(ref="datepicker", @closed="checkOpen" :value="value", @input="bindToModel", @changedMonth="onMonthChange", :format="formatDate", :highlighted="highlighted", :disabledDates="disabledDates", monday-first=true, full-month-name=true, :day-cell-content="cellContent")
