<template lang="pug" src="./DatePicker.pug"></template>
<script>
import { formatDate, stringToDate } from '@/helpers/utils/datetime';
import Datepicker from 'vuejs-datepicker';
import { DATE_FORMAT } from '../../../../constants/business';
import { onResize } from '../../../../helpers/dom/resize';

const dateFormat = DATE_FORMAT;

export default {
  name: 'DatePicker',
  components: {
    Datepicker,
  },
  props: ['value', 'format', 'highlighted', 'disabledDates', 'monday-first', 'full-month-name', 'day-cell-content', 'dailyRates'],
  data() {
    return {
      isOpen: false,
      date: this.value || Date.now(),
      formatDateValue: value => formatDate(value, DATE_FORMAT),
    };
  },
  mounted() {
    this.appendPriceLabel();
    this.fixPosition();
    this.listenResize = onResize(() => {
      this.fixPosition();
    });
  },
  beforeDestroy() {
    if (this.listenResize) {
      this.listenResize.remove();
    }
  },
  computed: {
    className() {
      return {
        'with-rates': !!this.dailyRates,
        'is-open': this.isOpen,
      };
    },
  },
  methods: {
    close() {
      this.$refs.datepicker.close(true);
    },
    checkOpen() {
      const { datepicker } = this.$refs;
      return this.isOpen = datepicker && datepicker.isOpen;
    },
    fixPosition() {
      const $calendar = $(this.$el).find('.vdp-datepicker__calendar');
      const container = this.$el;
      $calendar.each((i, e) => {
        if (this.$viewport.isMobile) {
          const rectsContainer = container.getBoundingClientRect();
          e.style.left = `-${rectsContainer.x}px`;
        } else {
          e.style.left = '';
        }
      });
    },
    showCalendar() {
      this.$refs.datepicker.showCalendar();
      this.fixPosition();
      this.checkOpen();
    },
    cellContent(e) {
      const date = this.formatDate(e.timestamp);
      let content = `<span>${e.date}</span>`;
      if (this.dailyRates) {
        content += `<span class="price">${this.dailyRates[date] || ''}.-</span>`;
      }
      return content;
    },
    formatDate(date) {
      return formatDate(date, 'dd.mm.yyyy');
    },
    bindToModel(value) {
      this.date = value;
      this.$emit('input', value);
    },
    // hot fix for lib issue,
    appendPriceLabel() {
      const message = 'Prices by lowest settings of add-ons and room types.';
      let closebtn = '<div id="close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19"> <defs></defs>';
      closebtn += '<path class="close" d="M24,6.914,22.087,5,14.5,12.587,6.914,5,5,6.914,12.587,14.5,5,22.087,6.914,24,14.5,16.414,22.087,24,24,22.087,16.414,14.5Z"';
      closebtn += 'transform="translate(-5 -5)"/></svg></div>';
      const labelBlock = `<div class="calendar-header"><p>${message}</p></div>${closebtn}`;
      $(this.$el).find('.vdp-datepicker__calendar').eq(0).append(labelBlock);
      $('#close').click(() => {
        this.close();
      });
    },
    onMonthChange() {
      this.$emit('changedMonth');
    },
  },
};

</script>
<style lang="scss">
  @import "../../scss/base/_base.scss";
  $color-sub-dark: #5f5851 !default;

  $arrow: ".date-picker.is-open .vdp-datepicker:before";

  //default
  #{$arrow} {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    z-index: 20000;
    box-sizing: border-box;
    border: 10px solid black;
    border-color: $white transparent transparent $white;
    transform-origin: 0 0;
    transform: rotate(45deg);
    filter: drop-shadow(-2px -2.1px 2px rgba(0, 0, 0, 0.2)) !important;
  }

  //show from right
  @mixin from-right {
    #{$arrow} {
      right: calc(100% + 24px);
      left: initial;
      right: calc(100% - 10px);
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
    }
    .vdp-datepicker .vdp-datepicker__calendar {
      top: -200px;
      right: calc(100% + 20px);
      left: initial;
    }
  }

  @mixin from-top {
    #{$arrow} {
      top: calc(100% + 9px);
      left: 50%;
      transform: rotate(45deg);
    }
    .vdp-datepicker .vdp-datepicker__calendar {
      top: calc(100% + 20px);
      left: 20%;
      right: initial;
    }
  }

  @mixin from-left {
    #{$arrow} {
      top: 50%;
      left: 100%;
      transform: translateY(-50%) rotate(-45deg);
    }
    .vdp-datepicker .vdp-datepicker__calendar {
      top: -200px;
      left: calc(100% + 10px);
      right: initial;
    }
  }

  @mixin from-top-right {
    #{$arrow} {
      top: calc(100% + 9px);
      left: 50%;
      right: 100px;
      transform: rotate(45deg);
    }

    .vdp-datepicker .vdp-datepicker__calendar {
      top: 20px;
      left: initial;
      right: -100px;
    }
  }

  @include from-top();

  .date-picker {
    position: relative;
    &.is-open {
      z-index: $z-index-datepicker;
    }
    display: inline-block;
    left: initial;
    right: initial;

    .date-picker__value {
      @include underline;
      font-weight: 600;
    }

    input {
      opacity: 0;
      max-width: 100%;
      z-index: -1;
      cursor: pointer;
      position: absolute;
      width: 115px;
    }
  }

  .vdp-datepicker {
    .vdp-datepicker__calendar {
      @include breakpoint($mobile) {
        top: 100%;
        width: 100vw;
      }
      @include breakpoint($max: 580px) {
        > header {
          width: 100%;
          background-color: white;
          z-index: 9;
          margin-top: 11px;
          padding-top: 25px;
          position: static;
          span:not(.prev),
          span:not(.next) {
            width: 45%;
          }
        }
      }
      @include breakpoint($max: 480px) {
        #close {
          display: none;
        }
      }
    }
  }

  .date-picker:not(.with-rates)
    .vdp-datepicker
    .vdp-datepicker__calendar
    .cell.day
    span {
    transform: translateY(10px);
    @include breakpoint($mobile) {
      display: inline-block;
      transform: translateY(4px);
    }
  }

  .vdp-datepicker header {
    + div {
      margin-left: -40px;
      margin-right: -40px;
      padding-left: 40px;
      padding-right: 40px;
      position: relative;
      z-index: 100;
      background-color: #fff;
    }
  }

  .vdp-datepicker .vdp-datepicker__calendar {
    border: 0 none;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.4);
    padding: 50px 40px 82px;
    width: 530px;
    top: 20px;
    left: 0;
    z-index: 10000;
    #close {
      right: 20px;
      top: 15px;
      position: absolute;
      svg {
        path {
          fill: $color-sub;
        }
      }
    }

    .calendar-header {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      p {
        font-size: 1.5rem;
        color: $color-sub;
        margin-bottom: 0;
      }
    }
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      .prev {
        &:after {
          content: "";
          background: url("~@/assets/icons/angle-left.svg") no-repeat center;
          border: 0;
          transform: none;
          top: 0;
          right: 0;
          left: auto;
          width: 15px;
          height: 40px;
        }
        &:hover {
          background-color: transparent;
        }
      }
      .day__month_btn,
      .month__year_btn,
      span:not(.next),
      span:not(.prev) {
        font-size: 2.6rem;
        font-weight: 600;
        width: auto;
        padding: 0 30px;
        line-height: 40px;
        &:hover {
          background-color: transparent;
        }
      }
      .next {
        &:after {
          background: url("~@/assets/icons/angle-right.svg") no-repeat center;
          content: "";
          border: 0;
          transform: none;
          top: 0;
          left: 0;
          width: 15px;
          height: 40px;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    .cell {
      border: 0px none !important;
      border-radius: 100px;
      padding: 0px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      margin: 8px 2px;
      &.day {
        span {
          display: block;
          line-height: 1.8rem;
          padding-top: 10px;
          &.price {
            font-size: 1.3rem;
            font-weight: normal;
            line-height: 2.3rem;
            padding-top: 0;
          }
          @include breakpoint($mobile) {
            &.price {
              line-height: 1.5rem;
            }
          }

          @include breakpoint($max: 580px) {
            padding-top: 3px;
          }
        }
        &.highlighted.sun + .highlighted {
          border-bottom-left-radius: 100px;
          border-top-left-radius: 100px;
        }
        &.today.highlight-start {
          border-bottom-left-radius: 100px !important;
          border-top-left-radius: 100px !important;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          border-radius: 0;
          margin: 0;
          padding: 2px;
          box-sizing: content-box;
        }
        &.highlighted {
          border-radius: 0;
          margin: 0;
          padding: 2px;
          box-sizing: content-box;

          &.highlight-start {
            border-bottom-left-radius: 100px;
            border-top-left-radius: 100px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
          &.sun,
          &.highlight-end,
          &:last-child {
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;
          }
        }
      }
      &.day.blank {
        &:hover {
          background-color: transparent !important;
        }
      }
      &.day-header {
        font-size: 1.5rem;
        font-weight: 600;
        color: $color-sub-dark;
        margin-top: 15px;
        height: 25px;
      }
      &.month,
      &.year {
        width: 32%;
      }
      &.day,
      &.month,
      &.year {
        font-size: 1.8rem;
        font-weight: 700;
        color: $color-text-content;
        &:hover {
          background-color: $color-sub !important;
          color: $white;
        }
        &.weekend {
          background-color: $color-heading;
          color: $color-sub-dark;
          &:hover {
            color: $white;
          }
        }
        &.highlighted,
        &.selected {
          color: $white;
          background-color: $color-sub;
        }

        &.disabled {
          color: $color-sub-dark;
          opacity: 0.2;
          &:hover {
            color: $white;
          }
        }
        &.today {
        }
      }
      &.month {
      }
      &.year {
      }
    }

    @include breakpoint($mobile) {
      position: absolute;
      width: 100vw;
      max-width: 425px;
      padding: 10px 10px 80px;
      top: calc(100% + 20px);
      left: initial;
      right: initial;

      #close {
        display: none;
      }

      @at-root .date-picker {
        position: static;
      }

      > div {
        background: transparent;
        padding: 0;
        margin: 0;
      }

      > div,
      > .calendar-header {
        width: 320px;
        margin: 0 auto;
      }
      > header {
        box-shadow: none;
        width: 100vw;
        max-width: 100%;
        margin: 0 auto;
        .day__month_btn,
        .month__year_btn,
        span:not(.next),
        span:not(.prev) {
          // min-width: 70%;
          font-size: 2.2rem;
          padding: 0;
        }

        > .prev,
        > .next {
          position: absolute;
          left: 40px;
          width: 40px !important;
        }
        > .prev {
          left: 0;
        }
        > .next {
          left: initial !important;
          right: 10px;
        }
        > :nth-child(2) {
          width: auto !important;
          margin: auto;
        }
      }
      .calendar-header {
        bottom: 20px;
      }
      .cell {
        padding: 0 2px;
        width: 40px;
        height: 40px;
        line-height: 32px;
      }
    }
  }

  @import "_datepicker-of-pages.scss";
</style>
