<template lang="pug" src="./ProfileLayout.pug"></template>
<script>
import TheHeader from '../../components/TheHeader';
import TheFooter from '../../components/TheFooter';
import LightBox from '../../components/LightBox';
import AuthModal from '../../components/AuthModal';

export default {
  name: 'DefaultLayout',
  components: {
    TheHeader,
    TheFooter,
    LightBox,
    AuthModal,
  },
  mounted() {
    this.$refs.auth.open();
  },
};
</script>
