@import "../../scss/base/_base.scss";

.section-menus {
  text-align: center;
  margin-top: -110px;
  padding-bottom: 40px;

  ul {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    z-index: $z-index-section-menu!important;
    position: relative;
    &.is-sticky {
      z-index: $z-index-section-menu-sticky!important;
      width: 100%!important;
      left: 0!important;
      @include light-shadow();
      + .ul__placeholder {
        display: block;
      }
    }
    + .ul__placeholder {
      display: none;
      width: 100%;
      height: 92px;
    }
  }

  li {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    padding: 0 13px;
    &:not(:last-child)::after {
      content:' ';
      border-right: 1px solid $color-sub;
      height: 46px;
      top: 50%;
      margin-top: -23px;
      position: absolute;
      right: 0;
    }
    a {
      border-top: 9px solid transparent;
      padding: 25px 20px;
      padding-bottom: 34px;
      font-size: 2.4rem;
      font-weight: 600;
      transition: text-shadow .1s;
      &:hover,
      &.active {
        border-color: $color-sub;
        text-shadow: 0 0  0px $color-main, 0 0 .3px $color-main;
      }
    }
  }

  @include breakpoint($min: 1200px, $max: 1366px) {
    @at-root .location-detail-page .section-menus {
      ul {        
        li {
          a {
            font-size: 2.2rem;
            padding: 20px 20px;
            padding-bottom: 24px;
          }
        }
      }
    }
  }

  @include breakpoint($tablet) {
    @at-root .location-detail-page .section-menus {
      ul {
        width: 100%;
        display: flex;
        justify-content: center;        
        li {
          padding-left: 20px;
          padding-right: 20px;
          a {
            padding-right: 15px;
            padding-left: 15px;
          }
        }
      }
    }
  }
}

@include breakpoint($max: 992px) {
  .location-detail-page {
    .section-menus {
      ul {
        width: 100%;
        li {
          padding-left: 10px;
          padding-right: 10px;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          
          a {
            padding-right: 8px;
            padding-left: 8px;
          }
        }
      }
    }
  }
}

