// Sticky action style for all
.sticky-action {
  padding: 20px 0;
  &.is-sticky {
    z-index: $z-index-datepicker;
  }
  .option-group {
    padding: 0 0 30px;
    border-bottom: 1px solid $color-sub;
    &__content {
      margin-top: 35px;
    }
  }

  a.link-bold {
    margin-top: 30px;
    font-size: 2.1rem;
  }
  .annotation {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    transform: translateY(-5px);
    svg {
      width: 25px;
    }
  }
  .action-buttons {
    a.link-bold {
      margin-top: 0;
    }
    display: flex;
    align-items: center;
  }

  .form-check {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 40px;
    }
    label {
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
    }
  }
  .sticky-action__footer {
    position: static !important;
    padding: 20px 0;
    .price {
      margin-top: 10px;
      margin-bottom: 35px;
      font-size: 2.1rem;
      font-weight: 800;
      float: right;
    }
    .action-buttons {
      float: right;
      text-align: right;
      .btn {
        z-index: 1;
        svg {
          display: none;
        }
      }
      .link-bold {
        vertical-align: middle;
        margin-right: 30px;
      }
    }
  }
}

@mixin scale-sticky-action() {
  .sticky-action {
    .option-group {
      padding-bottom: 0;
      .option-group__content {
        margin-top: 20px;
        .form-check {
          margin-bottom: 15px;
        }
      }
    }
    a.link-bold {
      margin-top: 10px;
      letter-spacing: 0;
    }
    .form-check {
      margin-bottom: 25px;
    }
    .price {
      margin-bottom: 20px;
    }
    .sticky-action__footer {
      padding: 15px 0;
      text-align: center;
    }
    .action-buttons {
      .link-bold {
        margin-top: 0;
        font-size: 1.8rem;
      }
    }
  }
}

.location-detail-page {
  .sticky-wrapper {
    height: calc(100% - 300px);
  }
  @include breakpoint($desktop) {
    @include breakpoint($max: 1366px) {
      .col-right {
        .sticky-action {
          .action-buttons {
            .btn {
              padding: 1rem 3rem;
              font-size: 2rem;
            }
          }
          .sticky-action__footer {
            padding-top: 10px;
            .price {
              margin: 0 0 10px;
            }
          }
        }
      }
    }
  }
  @include breakpoint($max: 1500px, $min: 1200px) {
    @include scale-sticky-action();
  }

  @include breakpoint($tablet) {
    .sticky-action {
      .option-group {
        padding-bottom: 0;
        .option-group__content {
          margin-top: 25px;
        }
      }
      .action-buttons {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
      }
      .btn {
        margin-top: 30px;
        align-self: center;
      }
      a.link-bold {
        margin-top: 15px;
        letter-spacing: 0;
        border-bottom: 0;
        span {
          @include underline;
        }
      }
      .form-check {
        margin-bottom: 25px;
      }
      .sticky-action__footer {
        padding: 25px 0;
        text-align: center;
        display: block;
        .price {
          margin: 0;
          float: none;
          label {
            display: block;
            font-size: 2.1rem;
            font-weight: 600;
            margin: 0;
            color: $color-main;
          }
        }
        .action-buttons {
          float: none;
          text-align: center;
          display: flex;
          flex-direction: column;
          .btn {
            margin-top: 0;
            order: 1;
          }
          .link-bold {
            margin-right: 0;
            margin-top: 3rem;
            margin-bottom: 3.5rem;
            @media (orientation: landscape) {
              margin-top: 1.5rem;
              margin-bottom: 2.3rem;
            }
          }
        }
      }
    }
    @media (orientation: landscape) {
      @include scale-sticky-action();
    }
  }

  @include breakpoint($min: 768px, $max: 992px) {
    .sticky-action a.link-bold {
      font-size: 1.8rem;
    }
  }

  @include breakpoint($mobile) {
    .sticky-action {
      position: static!important;
      .option-group {
        margin-bottom: 15px;
        padding-bottom: 25px;
        &:not(:first-child) {
          padding-bottom: 5px;
        }
        .option-group__content {
          margin-top: 22px;
        }
        &:nth-child(3) {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0px;
        }
        a.link-bold {
          letter-spacing: 0;
          margin-top: 0px;
        }
      }

      .annotation {
        margin-left: 15px;
        position: absolute;
      }

      .form-check {
        margin-bottom: 20px;
        &:not(:last-child) {
          margin-right: 35px;
        }
      }

      .sticky-action__footer {
        padding-bottom: 0;
        position: static !important;
        &.no-sticky {
          .sticky-action__inner {
            border-top: 0px solid $color-sub;
            position: static;
            background-color: transparent;
            padding: 0;
          }
        }
        .sticky-action__inner {
          background-color: #fff;
          border-top: 1px solid $color-sub;
          position: fixed;
          bottom: 0;
          padding: 12px 20px;
          left: 0;
          z-index: $z-index-fixed-bottom;
          width: 100%;
        }

        h3 {
          width: 100%;
        }

        .price {
          font-size: 1.8rem;
          display: flex;
          float: none;
          justify-content: space-between;
          font-weight: 700;
          margin-bottom: 5px;
          label {
            color: $color-main;
            font-size: 1.8rem;
          }
          .mobile-title {
            font-weight: 600;
          }
        }
        .action-buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          float: none;
          a.link-bold {
            font-size: 1.8rem;
            margin-top: 0;
          }
          .btn {
            padding: 10px 23px;
            font-size: 0;
            line-height: 0;
            svg {
              display: block;
            }
          }
        }
      }
    }
    .action__mobile {
      display: block;
      .price {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        label {
          font-weight: 600;
          color: $color-main;
        }
        span {
          font-weight: 700;
        }
      }

      .action-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 3.6rem;
        .btn {
          padding: 10px 25px;
          svg {
            width: 1.8rem;
            height: 2.3rem;
          }
        }
        .link-bold {
          font-size: 1.8rem;
        }
      }
    }
  }
}
