@import '../../scss/base/_base.scss';
@import './_section-menus.scss';
@import './sticky-action.scss';

.location-detail-page {
  .page-hero {
    .hero__shape {
      svg path {
        fill: $color-bg;
      }
    }
    .hero__background-wrapper {
      padding-bottom: (549/1920) * 100%;
      .hero__left img {
        width: (2/3) * 100%;
      }
      .hero__right img {
        width: (1/3) * 100%;
      }
    }
  }
  .location__header {
    position: relative;
    z-index: 2;
    .location__meta-info {
      position: absolute;
      z-index: 2;
      left: 40px;
      top: 24px;
      color: #fff;
    }
    .location__services {
      display: inline-block;
      .btn {
        margin-right: 20px;
      }
    }
    .rating-title {
      font-weight: 800;
      font-size: 2.1rem;
      margin-left: 15px;
      margin-right: 14px;
    }
    .base-rating .rating-star:not(.active) svg .h2b {
      fill: #fff;
    }
  }

  .product-card__number-location {
    display: none;
  }
  .breadcrumb {
    margin-bottom: 20px;
    li {
      margin-bottom: 0;
    }
  }
  .hotel__position {
    font-weight: 600;
    font-size: 2.1rem;
    margin-bottom: 30px;
  }
  p.hotel__description {
    font-weight: bold;
  }
  .section-hotel-gallery .hotel__gallery {
    @include breakpoint($mobile-to-tablet) {
      @include carousel-arrow-size($icon: 15px);
    }
  }
  .section-hotel-info,
  .section-hotel-gallery {
    padding-right: 140px;
  }

  .section-hotel-add-ons {
    .row {
      margin-left: -13px;
      margin-right: -13px;
    }
    .col-lg-4 {
      padding: 0 13px;
    }
  }

  .add-on__things-list span {
    font-weight: 600;
    font-size: 1.8rem;
  }
  .add-on__basic {
    svg path {
      fill: $color-sub;
    }
    span {
      font-size: 1.8rem;
    }
  }
  i {
    font-style: normal;
  }
  .add-on .form-check {
    label {
      padding-top: 0;
      &:before {
        top: 3px;
      }
      span {
        font-size: 1.8rem;
        margin-left: 0;
      }
    }
  }
  .show-more {
    text-align: center;
    background-color: $white;
    padding-bottom: 3rem;
  }

  .section-slider {
    height: 318px;
    margin-bottom: 0;
    @include carousel-arrow-size($icon: 15px);
    .full-viewport {
      position: absolute;
    }
    .owl-carousel {
      width: auto;
      .owl-item img {
        width: 318px;
      }
    }
  }
  .mobile-title,
  .action__mobile {
    display: none !important;
  }
  [class^='col-'] {
    position: static;
  }
  .map {
    margin: 0 -20px;
    h3 {
      display: none;
    }
    &__filter {
      max-width: 57%;
      flex: 0 0 57%;
      position: relative;
    }
    .map__content .form-validate .btn-map-filter svg {
      width: 30px;
    }
  }
  @include breakpoint($desktop) {
    .section-recommendation {
      background-color: $white;
      padding-top: 90px;
    }

    .collapse-group.collapse-group--mobile h2.group__title {
      font-size: 5.1rem;
      margin-bottom: 2rem;
    }
  }

  @include breakpoint($tabletUp) {
    .collapse-group.collapse-group--mobile h2.group__title {
      cursor: default;
      display: block;
      text-align: left;

      &:before {
        content: none;
      }
      + .row {
        display: flex;
      }
    }
  }
  @include breakpoint($tablet) {
    .collapse-group.collapse-group--mobile h2.group__title {
      font-size: 3.2rem;
      margin-bottom: 2rem;
    }

    .section-hotel-info {
      p {
        font-size: 2rem;
      }
    }
  }
}

.hotel__gallery {
  margin-top: 40px;
  margin-bottom: 50px;
  .hotel__gallery-image {
    @include image-frame($ratio-medium);
  }
}

.hotel__image-list {
  margin: 0;
  li {
    display: inline-block;
    width: 50%;
    margin-bottom: 0;
    a {
      @include image-frame($ratio-medium);
    }
    &:nth-child(5),
    &:nth-child(1) {
      background-color: #656565;
    }
    &:nth-child(2) {
      background-color: #c6c6c6;
    }
    &:nth-child(3) {
      background-color: #8e8e8e;
    }
    &:nth-child(4) {
      background-color: #656565;
    }
    &:nth-child(6) {
      background-color: #c6c6c6;
    }
  }
}

.location-detail__content {
  section {
    margin-bottom: 90px;
    &.section-fullwidth {
      margin-bottom: 0;
    }
  }
}

.section-hotel-info {
  p {
    margin-bottom: 38px;
  }
  a.readmore {
    font-size: 2.1rem;
    font-weight: 600;
    float: right;
    span span {
      @include underline;
    }
    svg {
      margin-left: 20px;
      width: 30px;
    }
  }
}

.section-room-types {
  h2 {
    margin-bottom: 50px;
  }
  .row {
    width: auto !important;
    margin-left: -13px;
    margin-right: -13px;
    > * {
      padding: 0 13px;
    }
  }
}

.room-type {
  margin-bottom: 30px;
  .title-1 {
    margin-top: -5px;
    margin-bottom: 10px;
  }
  .form-check {
    padding-left: 10px;
  }
  &__image {
    @include image-frame((198/341.56) * 100%);
  }
  p {
    line-height: 1.4;
    height: 4.2em;
    overflow: hidden;
    font-size: 1.8rem;
  }
  .base-carousel {
    margin-top: 20px;
  }
  @include carousel-arrow-size($space: 20px, $icon: 15px);
}

.tablet-title {
  display: none;
}

@include breakpoint($max: 1300px) {
  .location-detail-page {
    .section-menus li a {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

@include breakpoint($max: 1500px, $min: 1200px) {
  .location-detail-page {
    .page-hero--title-center .hero__content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .hero__title {
        margin-top: 0;
      }
    }
    .col-content {
      padding-left: 20px;
      width: 61.9%;
      .section-hotel-info,
      .section-hotel-gallery {
        padding-right: 60px;
      }
    }
    .col-right {
      width: 100% - 61.9%;
    }
    .calendarpicker {
      label {
        font-size: 1.5rem;
      }
    }
    .calendarpicker__datefrom,
    .calendarpicker__nights {
      padding-right: 15px;
      margin-right: 15px;
    }
    .calendarpicker__content {
      padding-bottom: 2.3rem;
      span {
        font-size: 1.8rem;
      }
      .icon {
        display: none;
      }
    }
  }
}

@include breakpoint($mobile-to-tablet) {
  .location-detail-page {
    .location__header .location__meta-info {
      display: none;
    }
    .section-menus {
      margin-top: -70px;
      ul {
        padding: 0;
      }
      li {
        padding-left: 28px;
        padding-right: 28px;
        a {
          font-size: 1.5rem;
          padding-right: 12px;
          padding-left: 12px;
        }
      }
    }
    .section-hotel-info,
    .section-hotel-gallery {
      padding-right: 0;
    }
    .title-1 {
      font-size: 2.6rem;
    }
    .add-on .form-check label span {
      font-size: 2rem;
    }

    .map {
      margin: 0;
      .container {
        padding: 0;
      }
    }
    .map__content {
      margin-top: 4.3rem;
      .row {
        flex-direction: column-reverse;
      }
    }
    .map__filter,
    .map__intro {
      margin-top: 0;
      max-width: 100%;
      flex: 0 0 100%;
    }
    .map__intro {
      margin-bottom: 3rem;
    }
    .map__filter {
      position: relative;
      &:after {
        height: 100%;
      }
      .form-validate .btn-group {
        justify-content: flex-start;
        .btn-map-filter {
          margin-right: 3.5rem;
          font-size: 1.5rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .is--static-nav [class*='__nav--prev'] svg path,
    .is--static-nav [class*='__nav--next'] svg path {
      stroke: #aba093;
    }
    .testimonical-list {
      .owl-carousel {
        padding: 0 62px;
        .testimonial-card {
          padding: 4.5rem 4.2rem;
          width: 100%;
          p {
            font-size: 1.8rem;
            height: auto;
          }
          label {
            font-size: 2.2rem;
          }
        }
      }
      @include breakpoint($max: 768px) {
        .owl-carousel {
          padding: 0 30px;
          .testimonial-card {
            padding: 3rem;
          }
        }

        [class*='__nav--prev'] {
          left: -20px;
        }
        [class*='__nav--next'] {
          right: -20px;
        }
      }
    }
    .recommendation-list {
      .product-card__title {
        font-size: 2.6rem;
        margin-top: -10px;
      }
    }
  }
  .location-detail__content section {
    margin-bottom: 7.5rem;
    h2 {
      font-size: 3.2rem;
      font-weight: 700;
    }
  }
  .room-type {
    margin-bottom: 4.2rem;
    p {
      font-size: 2rem;
    }
  }

  .hotel__gallery {
    margin-bottom: 3rem;
  }
}

@include breakpoint($tablet) {
  .tablet-title {
    display: block;
  }
  .location-detail-page {
    .map__image {
      height: 0;
      padding-bottom: 66.3%;
      position: relative;
      overflow: hidden;
      img {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .add-on__basic span {
      font-size: 2.1rem;
    }
    .col-content {
      padding-left: 5px;
      width: 61.9%;
    }
    .col-right {
      width: 100% - 61.9%;
      .calendarpicker {
        label {
          font-size: 1.5rem;
        }
      }
      .calendarpicker__datefrom,
      .calendarpicker__nights {
        padding-right: 15px;
        margin-right: 15px;
      }
      .calendarpicker__content {
        padding-bottom: 2.3rem;
        span {
          font-size: 1.8rem;
        }
        .icon {
          display: none;
        }
      }
    }
  }
}

@include breakpoint($max: 992px, $min: 768px) {
  .location-detail-page {
    .col-content {
      padding-left: 20px;
      width: 55%;
    }
    .col-right {
      width: 100% - 55%;
    }
    .calendarpicker__datefrom,
    .calendarpicker__nights {
      padding-right: 10px;
      margin-right: 10px;
    }
  }
}

@include breakpoint($mobile) {
  .location-detail-page {
    .page-hero .hero__background-wrapper {
      padding-bottom: 226px;
    }
    .page-hero .hero__background-wrapper .hero__left img {
      width: 100%;
    }
    .section-menus,
    .breadcrumb,
    .hotel__image-list {
      display: none;
    }
    .hotel__position {
      margin-top: 20px;
    }
    .section-slider {
      .full-viewport {
        width: auto;
        position: static;
        margin: 0;
        margin-left: -20px;
        margin-right: -20px;
      }
    }
    .section-location {
      .map__content {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .hotel-desc {
      padding-left: 15px;
      padding-bottom: 40px;
      @include clearfix();
      p {
        margin-bottom: 15px;
      }
      .readmore {
        font-size: 1.6rem;
        svg {
          width: 18px;
          margin-left: 10px;
        }
      }
    }
    .location-detail__content section {
      margin-bottom: 0;
      &.section-hotel-info {
        border-top: 1px solid $color-sub;
      }
    }
    .desktop-title {
      display: none;
    }
    .add-on .form-check label {
      font-size: 2.1rem;
      span {
        font-size: 1.8rem;
      }
    }
    .form-check label::before {
      width: 2.7rem;
      height: 2.7rem;
    }
    .mobile-title {
      display: block !important;
    }
    .collapse-group {
      padding: 0;
      &:first-child {
        border-top: 0;
      }
      .group__title {
        font-size: 1.8rem;
        padding: 15px;
        position: relative;
        margin-bottom: 0;
        text-align: left;
        &:before {
          content: none;
        }
        + * {
          opacity: 0;
          height: 0;
          visibility: hidden;
          display: block;
          position: absolute;
        }
        &:not(.show) {
          + * {
            max-width: 100vw;
            overflow: hidden;
          }
        }
        &.show {
          margin-bottom: 2rem;
          + * {
            opacity: 1;
            height: auto;
            visibility: visible;
            position: static;
          }
          &:after {
            content: '-';
          }
        }
        &:after {
          font-weight: normal;
          color: $color-sub;
          content: '+';
          position: absolute;
          right: 15px;
          top: 15px;
        }
      }
    }

    .title-1 {
      font-size: 2.1rem;
    }
    .room-type p {
      font-size: 1.6rem;
    }
    .map__image img {
      max-width: 100%;
    }
    .map__content .form-validate .btn-group,
    .map__content .form-validate .input-group .form-control {
      margin-bottom: 30px;
    }
    .map__filter .form-validate {
      padding-bottom: 50px;
    }
    .testimonical-list {
      margin-top: 0;
      .owl-carousel {
        padding: 15px;
        .testimonial-card {
          padding: 15px;
          p {
            font-size: 1.6rem;
          }
        }
      }
    }
    .calendarpicker {
      margin-bottom: 0;
    }

    .calendarpicker__datefrom,
    .calendarpicker__nights {
      padding-right: 13px;
      margin-right: 13px;
    }
    .recommendation-list {
      .product-card__title {
        margin-top: 0;
      }
      h3 {
        width: 100%;
      }
    }

    .product-card label {
      right: 0;
      bottom: 17px;
    }
    .location-detail__content .section-slider {
      margin-top: 27px;
      margin-bottom: 20px;
      height: 200px;
      .owl-carousel .owl-item img {
        width: 200px;
      }
    }

    .add-on__more,
    .add-on__brief {
      padding: 20px 20px 20px 25px;
    }
    .room-type {
      .form-check {
        padding-left: 15px;
      }
    }
    .hotel__gallery {
      margin: 0 -20px 25px;
    }
  }
}
