<template lang="pug" src="./LocationDetail.pug"></template>
<script>
import Sticky from '@/js/packages/sticky-js';
import productList from '@/constants/mock/product-list';
import Gift from '@/constants/mock/products-special';
import Special from '@/constants/mock/products-special-overview';
import { HEADER_HEIGHT_DESKTOP, HEADER_HEIGHT_TABLET_MOBILE } from '@/common/display';
import { recommendLocations, recommendLocationSpecials } from '@/constants/mock/recommendation-products';
import { onResize } from '@/helpers/dom/resize';
import Breadcrumb from '../../components/Breadcrumb';
import CalendarPicker from '../../components/CalendarPicker';
import TestimonicalList from '../../components/TestimonialList';
import packageFilter from '../../components/FilterBox/configs/packages';
import MapLocation from '../../components/MapLocation';
import RecommendationList from '../../components/RecommendationList';
import OwlCarousel from '../../components/OwlCarousel';
import initScrollSpy from './scroll-spy';

export default {
  name: 'LocationDetail',
  components: {
    Breadcrumb,
    TestimonicalList,
    CalendarPicker,
    MapLocation,
    RecommendationList,
    OwlCarousel,
  },
  metaInfo: {
    title: 'Location Detail',
  },
  mounted() {
    this.initSticky();
    this.resizeListen = onResize(() => {
      this.initSticky();
    });
  },
  computed: {
    headerHeight() {
      return this.$viewport.isDesktop ? HEADER_HEIGHT_DESKTOP : HEADER_HEIGHT_TABLET_MOBILE;
    },
  },
  methods: {
    initSticky() {
      this.destroySticky();
      this.resetStickyStyle();
      const headerHeight = this.$viewport.isDesktop ? HEADER_HEIGHT_DESKTOP : HEADER_HEIGHT_TABLET_MOBILE;
      const w = this.$viewport.width;
      this.stickyMenu = new Sticky('.section-menus ul', {
        marginTop: headerHeight,
        stickyClass: 'is-sticky',
      });
      this.stickyHotelAction = new Sticky('.sticky-action', {
        // eslint-disable-next-line
        marginTop: headerHeight + ((w >= 1200 && w <= 1366) ? 65 : (w < 1200) ? 83 : 92),
        stickyClass: 'is-sticky',
        stickyContainer: '.sticky-wrapper',
        stickyFor: 767,
      });
      this.stickyPrice = new Sticky('.sticky-action__footer', {
        marginTop: window.innerHeight - 115,
        stickyClass: 'no-sticky',
      });
      setTimeout(() => {
        this.scrollSpy = initScrollSpy('.hotel-section', {
          hrefContainer: '.section-menus',
          offset: 30,
        });
      }, 2000);
    },
    destroySticky() {
      if (this.stickyMenu) {
        this.stickyMenu.destroy();
      }
      if (this.stickyHotelAction) {
        this.stickyHotelAction.destroy();
      }
      if (this.stickyPrice) {
        this.stickyPrice.destroy();
      }
      if (this.scrollSpy) {
        this.scrollSpy.remove();
      }
    },
    resetStickyStyle() {
      const stickyAction = this.$el.querySelector('.sticky-action');
      const stickyPrice = this.$el.querySelector('.sticky-action__footer');
      stickyAction.style = '';
      stickyPrice.style = '';
    },
  },
  beforeDestroy() {
    if (this.resizeListen) {
      this.resizeListen.remove();
    }
    this.destroySticky();
  },
  data() {
    return {
      packageFilter,
      data: {
        ...productList[4],
        services: ['luxury', 'kitchen'],
      },
      recommendLocations,
      recommendLocationSpecials,
      isShowHotelInfo: false,
      gallery: [
        require('./images/slider/1.png'),
        require('./images/slider/2.png'),
        require('./images/slider/3.png'),
        require('./images/slider/4.png'),
        require('./images/slider/5.png'),
        require('./images/slider/6.png'),
        require('./images/slider/7.png'),
      ],
      siemaOptions: {
        items: 2,
      },
      breadcrumbData: [
        {
          name: 'Unique Location',
          link: '',
        },
        {
          name: 'High class Resort Hotel Bellevue',
          link: '',
        },
      ],
      sections: [
        {
          name: 'Pictures',
          anchor: '#hotel-gallery',
        },
        {
          name: 'Hotelinfo',
          anchor: '#hotel-info',
        },
        {
          name: 'Hotel add-ons',
          anchor: '#hotel-add-ons',
        },
        {
          name: 'Room type',
          anchor: '#hotel-room-type',
        },
        {
          name: 'Location',
          anchor: '#hotel-location',
        },
        {
          name: 'Recommendation',
          anchor: '#hotel-reviews',
        },
      ],
    };
  },
};
</script>

<style lang="scss" src="./location-detail.scss">
</style>
