include ../../components/mixins/_page-hero.pug
-
  const images = ['./images/winter-pool-lg.png','./images/adult-book-business-sm.png'];
.location-detail-page
  BodyClass(className="location-detail-page")
  .location__header
    .location__meta-info
      .location__services
        base-button(v-for="(name, i) in data.services" :icon="$icons[name]", :circle="true", v-if="$icons[name]", :key="i")
      span.rating-title Excellent
      base-rating(:value="5", :count="62", :votable="false")
    +page-hero({title: '{{data.title}}', images, titleCenter: true})
  section.section-menus
    ul
      li(:key="i", v-for="(item, i) in sections")
        a.scroll-to(:href="jsv" :data-target="item.anchor", :data-offset="$viewport.isDesktop ? (headerHeight * 2) : 170" :title="`Go to ${item.name}`") {{item.name}}
    .ul__placeholder
  .location-detail__content
    .container
      .row#detail-content
        .col-lg-8.col-content
          section.section-hotel-gallery.hotel-section#hotel-gallery
            Breadcrumb(:data="breadcrumbData")
            a.link.hotel__position Lucerne, Switzerland
            p.title-2.hotel__description Lorem ipsum dolor sit amet, conset etur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed diam voluptua.
            base-carousel.hotel__gallery(ref="thumbSlider", :nav="true", light-box, :title="data.title", :subtitle="data.subtitle")
              .hotel__gallery-image(v-for="(src, i) in data.images", v-lazy-container)
                img.no-effect(:data-src="src", :alt="`${data.title} - image ${i}`")
            ul.hotel__image-list
              li(v-for="i in 6", v-lazy-container)
                a(href="javascript:void(0);", title="image")
                  img.no-effect(data-src="@/assets/images/1px.png", alt="image")
          section.section-hotel-info.hotel-section#hotel-info
            .collapse-group.collapse-group--mobile
              h2.group__title(data-resize) Hotelinfo
              .hotel-desc
                p liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat face poss im assum. Lorem ipsum dolor sit amet, conse ctet uer adip iscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet…
                template(v-if="isShowHotelInfo")
                  p liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat face poss im assum. Lorem ipsum dolor sit amet, conse ctet uer adip iscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                  p liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat face poss im assum. Lorem ipsum dolor sit amet, conse ctet uer adip iscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                a.readmore(:href="jsv", @click="isShowHotelInfo = !isShowHotelInfo")
                  span(v-show="!isShowHotelInfo")
                    span More about this hotel
                    base-svg(:src="$icons.angleDown", key="close")
                  span(v-show="isShowHotelInfo")
                    span Close info
                    base-svg.showless(:src="$icons.angleUp", key="open")
                .clearfix
          section.section-hotel-add-ons.hotel-section#hotel-add-ons
            .collapse-group.collapse-group--mobile
              h2.group__title(data-resize)
                span.desktop-title Select your hotel add-ons
                span.mobile-title Hotel add-ons
              .row
                .col-lg-4(v-for="(item, i) in data.addOn")
                  .add-on
                    .add-on__brief
                      .form-check.mb-4
                        input.form-check-input(type='radio', name="hotelAddOn", :checked="i === 0")
                        label
                          b {{item.title}}
                          span {{item.subTitle}}

                      ul.add-on__things-list.add-on__basic
                        li
                          base-svg(:src="$icons.croisant")
                          span {{item.breakfast}}
                        li
                          base-svg(:src="$icons.wedding")
                          span {{item.aperitif}}
                        li
                          base-svg(:src="$icons.hotel")
                          span {{item.cuddle}}

                    .add-on__more(v-if="item.thingList.length > 0")
                      span.add-on__expander(toggle-class="is-show")
                        | +5 More add-ons
                        base-svg(:src="$icons.angleDown")
                      .clearfix
                      ul.add-on__things-list
                        li(v-for="li in item.thingList")
                          base-svg(:src="li.icon")
                          span {{li.text}}
          section.section-room-types.hotel-section#hotel-room-type
            .collapse-group.collapse-group--mobile
              h2.group__title(data-resize)
                span.desktop-title Select your room type
                span.mobile-title Room type
              .row
                .col-xl-4
                  .room-type
                    .form-check
                      input.form-check-input(type='radio', value='1', name="roomType", checked)
                      label
                        .title-1 Standard room
                        p Lorem ipsum dolor sit amet, conse tetur sa dipscing elitr, sed diam nonumy eirmod tempor invidunt labore magna aliquyam erat.
                    base-carousel(:nav="true")
                      span.room-type__image(v-for="(src, i) in data.images", v-lazy-container)
                        img.no-effect(:data-src="src", :alt="`${data.title} - image ${i}`")
                .col-xl-4
                  .room-type
                    .form-check
                      input.form-check-input(type='radio', value='2', name="roomType")
                      label
                        .title-1 Luxury suite
                        p Lorem ipsum dolor sit amet, conse tetur sa dipscing elitr, sed diam nonumy eirmod tempor invidunt labore magna aliquyam erat.
                    base-carousel(:nav="true")
                      span.room-type__image(v-for="(src, i) in data.images", v-lazy-container)
                        img.no-effect(:data-src="src", :alt="`${data.title} - image ${i}`")
                .col-xl-4
                  .room-type
                    .form-check
                      input.form-check-input(type='radio', value='3', name="roomType")
                      label
                        .title-1 Suite
                        p Lorem ipsum dolor sit amet, conse tetur sa dipscing elitr, sed diam nonumy eirmod tempor invidunt labore magna aliquyam erat.
                    base-carousel(:nav="true")
                      span.room-type__image(v-for="(src, i) in data.images", v-lazy-container)
                        img.no-effect(:data-src="src", :alt="`${data.title} - image ${i}`")
          section.section-location.hotel-section#hotel-location
            .collapse-group.collapse-group--mobile
              h2.group__title(data-resize) Location
              map-location
          section.section-reviews.hotel-section#hotel-reviews
            .collapse-group.collapse-group--mobile
              h2.group__title(data-resize)
                span.desktop-title 81% recommend this offer
                span.mobile-title Recommendation
              TestimonicalList
          section.section-slider
            .full-viewport
              OwlCarousel.slider__content(:nav="true", :autoWidth="true", :center="true", :dots="false")
                .slider__gallery-image(v-for="(src, i) in gallery")
                  img.no-effect(:src="src", :alt="`${data.title} - image ${i}`")
        .col-lg-4.col-right.col-aside
          .sticky-wrapper
            .sticky-action
              .option-group
                calendar-picker(:config="packageFilter.calendar")
              .option-group
                a.link-bold(:href="jsv", title="Select your hotel add-ons") Select your hotel add-ons
                base-svg.annotation(:src="$icons.qa")
                .option-group__content
                  .form-check
                    input.form-check-input(type='radio', value='1', name="addOn", checked)
                    label Basic
                  .form-check
                    input.form-check-input(type='radio', value='2', name="addOn")
                    label Premium
                  .form-check
                    input.form-check-input(type='radio', value='3', name="addOn" )
                    label Luxury
              .option-group
                a.link-bold(:href="jsv", title="Select your hotel add-ons") Select your room type
                base-svg.annotation(:src="$icons.qa")
                .option-group__content
                  .form-check
                    input.form-check-input(type='radio', value='1', name="roomType", checked)
                    label Standard room
                  .form-check
                    input.form-check-input(type='radio', value='2', name="roomType")
                    label Suite
                  .form-check
                    input.form-check-input(type='radio', value='3', name="roomType" )
                    label Luxury suite
              .sticky-action__footer
                .sticky-action__inner
                  .price
                    label.tablet-title Price total
                    label.mobile-title High class Resort Hotel...
                    span 522 CHF
                  .clearfix
                  .action-buttons
                    a.link-bold(:href="jsv", title="Reset selection")
                      span Reset selection
                    base-button Add
                      base-svg(:src="$icons.bagPlus")
                  .clearfix
    section.section-fullwidth.section-recommendation
      recommendation-list(:listData="recommendLocations")
      .show-more
        base-button Show more
    section.section-fullwidth.section-combined
      recommendation-list(:listData="recommendLocationSpecials", title="Combined with")
