<template>
  <div class="global-wrapper">
    <auth-modal class="header-auth-modal" ref="auth" :showGuest="false"></auth-modal>
    <component v-if="demo" :is="demo.component" v-bind="demo.props"></component>
    <base-loading :loading="loading">
      <slot v-if="websiteConfig.data">
      </slot>
    </base-loading>
    <div
      class="container text-center"
      v-if="websiteConfig.error"
    >
      <code>
        <small>
          {{websiteConfig.error.errors}}
        </small>
      </code>
    </div>

  </div>
</template>
<script>

import globalStore from '@/store/global';
import { useStores } from '@/helpers/vue/store-mapper';
import AuthModal from '@/modules/static-html/components/AuthModal';

export default {
  name: 'GlobalWrapper',
  mixins: [useStores({
    global: globalStore,
  })],
  components: {
    AuthModal,
  },
  data() {
    return {
      loading: false,
    };
  },
  computed: {
    websiteConfig() {
      return this.stores.global.getters.selectWebsiteConfig();
    },
    demo() {
      return this.$route.meta.demo;
    },
  },
  mounted() {
    this.$context.refs.auth = this.$refs.auth;
  },
};
</script>
<style lang="scss">
  .global-wrapper {
    .base-loading.is-loading {
      padding: 0.1px 0;
      height: 100vh;
      overflow: hidden;
    }
  }
</style>

