.cart-popup
  .cart-items-container
    cart-item(v-for="(p,i) in products", :key="i", size="small", :data="p", :display="true")
    .cart__total
        span Price total
        span.price 1096 CHF
        span for tow person
    .cart__action
        base-button.btn-sub Check out
        a.link-bold go to shopping cart

