<template lang="pug" src="./CartPopup.pug"></template>
<script>
import CartItem from '@/modules/cart-checkout/components/CartItem';
import { gift, special, location } from '@/constants/mock/cart-items';

export default {
  name: 'CartPopup',
  components: {
    CartItem,
  },
  data() {
    return {
      products: [
        location,
      ],
    };
  },
};
</script>
<style lang="scss">
  @import "../../scss/base/_base.scss";
  .cart-popup {
    display: block;
    width: 100%;
    color: $color-main;
    .cart__total {
      margin-top: 20px;
      font-size: 2.1rem;
      font-weight: 600;
      text-align: right;
      .price {
        font-weight: 800;
      }
      > * {
        display: block;
      }
    }
    .cart__action {
      text-align: center;
      margin: 55px auto 0;
      .btn {
        margin-bottom: 30px;
      }
    }
    .cart-item {
      padding: 10px 20px;
      .cart-item__more-info {
        display: none;
      }
      .cart-item__subtitle {
        display: none;
      }
      .cart-item__name {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.3;
      }
      .cart-item__price {
        margin-top: -20px;
        font-size: 1.5rem;
      }
      .cart-item__content {
        padding-left: 15px;
      }
      .cart-item__thumbnail {
        margin-top: 10px;
        width: 98px;
        height: 98px;
      }
      .cart-item__options-container {
        min-height: auto;
      }
      .cart-item__option {
        display: none;
        &:nth-child(1),
        &:nth-child(2) {
          display: block;
        }
      }
    }
    @include breakpoint($mobile) {
      .cart-item {
        .cart-item__price {
          margin-top: 0;
        }
      }
    }
  }
</style>