.form-check {
  $checkbox: 'input[type="checkbox"],input.checkbox';
  $radiobox: 'input[type="radio"]';
  #{$checkbox},
  #{$radiobox} {
    opacity: 0;
    height: 0;
    width: 0;
    display: inline;
    &:disabled + label {
      opacity: 0.5;
    }
    // fix checkbox on iOS
    // change any prop, so that safari will re-render the label
    // wtf magic
    @include breakpoint($mobile-to-tablet) {
      & ~ label {
        transform: translateZ(-1px);
      }
      &:checked ~ label {
        transform: translateZ(0);
      }
    }

    &:checked ~ label:before {
      background-color: $color-main;
      width: 3rem;
      height: 3rem;
      border: 0.3rem solid $white;
    }
  }

  #{$checkbox}:checked {
    ~ label:after {
      content: ' ';
      display: block;
      width: 6px;
      height: 10px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 9px;
      z-index: 1;
      left: 12px;
    }
  }

  label {
    position: relative;
    font-size: 1.6rem;
    color: $color-main;
    a {
      font-size: inherit;
    }
    cursor: pointer;
    padding-left: 5rem;
    padding-top: 3px;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      @extend %drop-shadow;
      content: ' ';
      display: inline-block;
      vertical-align: bottom;
      border-radius: 100%;
      background-color: $white;
      margin-right: 2rem;
      width: 3rem;
      height: 3rem;
      background: #fff;
      filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.4));
    }
  }
}

.form-check {
  padding-left: 0;
  &.form-group.has-error > label {
    color: $color-main;
  }
  .invalid-feedback {
    position: absolute;
    display: block;
    font-size: 1.4rem;
    padding-left: 50px;
    top: 100%;
  }
}
