@import '../../../base/base.scss';

.form-control {
  font-size: 2rem;
  padding: 2.3rem 1.6rem;
  line-height: 3rem;
  border: 0.1rem solid $color-sub;
  font-family: 'Raleway', sans-serif;
  border-radius: 0;
  background-color: #fff;

  &::placeholder {
    color: $color-sub;
  }

  &:focus {
    border-color: $color-sub;
    box-shadow: 0 0 0 0.5rem rgba($color-sub, 0.2);
  }

  @at-root {
    select#{&} {
      height: 4.8rem;
      border-radius: 0;
    }
  }
}

textarea.form-control {
  padding: 1rem 1.6rem;
  min-height: 200px;
}

.form-group {
  .field-help {
    display: block;
    margin-top: 0.3rem;
    font-size: 1.5rem;
    color: $color-label;
  }

  &.has-error {
    i,
    svg path,
    > label {
      color: $color-error;
      fill: $color-error;
    }

    ::placeholder {
      color: $color-error;
      opacity: 0.7;
    }

    .form-control {
      border-color: $color-error;
      color: $color-error;
      background-image: none;
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
    .field-help {
      color: $color-error;
    }
  }

  &.has-success {
    .field-help {
      color: $color-success;
    }
  }
}

.input-group--with-icon {
  position: relative;
  .form-control {
    padding-right: 4.8rem;
  }
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    font-size: 2.3rem;
    color: $color-main;
    z-index: 4;
    svg path {
      fill: $color-main;
    }
  }
}

label {
  font-size: 1.5rem;
  color: $color-label;
  &.required {
    &::after {
      content: ' *';
    }
  }
}

.keymask {
  font-size: 0;
  position: absolute;
  z-index: 1;
  height: 0;
  width: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  pointer-events: none;
}
