@import '../../../scss/base/base';

.testimonial-card {
  background-color: #fff;
  padding: 20px;
  max-width: 100%;
  color: $color-main;

  p {
    font-size: 2.3rem;
    height: 6*1.4em;
    overflow: hidden;
  }

  label {
    margin: 20px 0;
    font-weight: 800;
    font-size: 2.3rem;
    display: block;
    color: inherit;
  }

  .base-rating {
    .rating-count {
      display: none;
    }
  }
}

@include breakpoint($tablet) {
  .testimonial-card {
    width: 300px;
  }
}


@include breakpoint($mobile) {
  .testimonial-card {
    padding: 40px 45px;
    width: 100%;
    p {
      font-size: 1.8rem;
    }
    
  }
}
