<template lang="pug" src="./ListSocials.pug"></template>
<script>
import TwitterIcon from '@/assets/icons/twitter.svg';
import FacebookIcon from '@/assets/icons/facebook-f.svg';
import InstagramIcon from '@/assets/icons/instagram.svg';
import injectWebConfig from '@/common/mixins/injectWebConfig';

export default {
  name: 'SocialList',
  mixins: [injectWebConfig],
  props: {
    showTitle: false,
  },
  computed: {
    socialLinks() {
      return this.webConfig.socialLinks;
    },
    socials() {
      return [
        {
          title: 'Twitter',
          link: this.socialLinks.twitter,
          icon: TwitterIcon,
        },
        {
          title: 'Facebook',
          link: this.socialLinks.facebook,
          icon: FacebookIcon,
        },
        {
          title: 'Instagram',
          link: this.socialLinks.instagram,
          icon: InstagramIcon,
        },
      ];
    },
  },
};
</script>

<style lang="scss">
  .list-socials {
    display: inline-block;
    margin: 0 -5px;
    > a {
      padding: 5px;
      svg {
        width: 24px;
        height: 24px;
      }
      &:not(:last-child) {
        margin-right: 45px;
      }
      span {
        margin-left: 20px;
      }
    }
  }
</style>

