.base-modal(:class="className" to="portal")
  transition(name='modal')
    .modal__mask(v-show="showModal")
      a.modal__close-btn(v-if="canClose" href="javascript:void(0)", @click.prevent="close") ✕
      .modal__wrapper
        .modal__container(:style="width ? {width: `${width}px`} : null")
          .modal__header
            slot(name='header')
          .modal__body
            slot
              | default body
          .modal__footer
            slot(name='footer')