<template lang="pug" src="./BaseModal.pug"></template>
<script>
import Vue from 'vue';
import lockBodyScroll from './lock-body-scroll';

export default {
  name: 'BaseModal',
  props: {
    title: {
      type: String,
    },
    width: {
      type: String,
    },
    canClose: {
      type: Boolean,
      default: true,
    },
    isShow: {
      type: [Boolean, String],
      default: () => '_',
    },
    showOnInit: {
      type: Boolean,
      default: () => false,
    },
  },
  data() {
    return {
      isStateLess: this.isShow === '_',
      show: this.showOnInit,
    };
  },
  beforeDestroy() {
    const otherModals = document.querySelectorAll('.base-modal.is-show');
    if (otherModals.length === 0) {
      lockBodyScroll.unlock();
    }
  },
  computed: {
    showModal() {
      let res;
      if (this.isStateLess) {
        res = this.show;
      } else {
        res = this.isShow;
      }
      if (global.isClient) {
        if (res) {
          lockBodyScroll.lock();
        } else {
          lockBodyScroll.unlock();
        }
      }
      return res;
    },
    className() {
      return {
        'is-show': this.showModal,
      };
    },
  },
  methods: {
    open() {
      this.show = true;
      this.$emit('open');
    },
    close() {
      this.show = false;
      this.$emit('close');
    },
  },
};
</script>

<style lang="scss">
  @import "../../scss/base/_base.scss";

  $animate-time: 0.2s;

  //lock body
  body.body-locked {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
  }

  .modal__mask {
    position: fixed;
    z-index: $z-index-modal;
    max-height: 100vh;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 44, 42, 0.98);
    perspective: 1000;
    transition: opacity $animate-time ease-in-out,
      transform $animate-time ease-in-out;
    will-change: opacity;
  }

  .modal__wrapper {
    display: block;
    width: 100%;
  }

  .modal__container {
    max-width: 100%;
    margin: 0px auto;
    background: transparent;
    color: #fff;
    border-radius: 2px;
    transition: opacity $animate-time ease-in-out,
      transform $animate-time ease-in-out;
    will-change: transform;
    position: relative;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
  }

  .modal__close-btn {
    font-size: 2.5rem;
    position: absolute;
    right: 4rem;
    top: 3rem;
    color: #fff;
    z-index: 1;
    cursor: pointer;
    &:hover {
      color: $color-sub;
    }
    @include breakpoint($mobile) {
      right: 2.3rem;
    }
  }

  .modal__default-button {
    float: right;
  }

  // animation
  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal__container,
  .modal-leave-active .modal__container {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
</style>

