@mixin scale-sticky() {
  .gift-detail-page {
    .page-detail__content .sticky-wrapper {
      padding-left: 20px;
    }
    h1 {
      font-size: 3rem;
    }
    .special__description {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    .sticky-action .sticky-action__footer {
      padding-bottom: 0;
      padding-top: 0;
      .action-buttons .link-bold {
        margin-bottom: 2.3rem;
        margin-top: 1.5rem;
      }
    }
    .attribute__item .attribute__value .form-check span {
      margin-bottom: 1rem;
      margin-right: 10px;
    }
  }
}

@include breakpoint($tablet) {
  @media (orientation: landscape) {
    @include scale-sticky();
  }
}

@include breakpoint($max: 992px, $min: 768px) {
  @include scale-sticky();
}
