<template lang="pug" src="./GiftDetail.pug"></template>
<script>
import productList from '@/constants/mock/products-special-overview';
import gift from '@/constants/mock/products-special';
import { onResize } from '@/helpers/dom/resize';
import { recommendLocationSpecials, recommendGifts } from '@/constants/mock/recommendation-products';
import Breadcrumb from '../../components/Breadcrumb';
import specialFilter from '../../components/FilterBox/configs/specials';
import RecommendationList from '../../components/RecommendationList';
import OwlCarousel from '../../components/OwlCarousel';
import CheckOptions from '../../components/CheckOptions';
import Instagram from '../../components/Instagram';
import { rightStickyMixin } from '../SpecialDetail/right-sticky';

const typeOptions = [
  { value: 1, label: 'Eventlocation1' },
  { value: 2, label: 'Eventlocation2' },
];
export default {
  name: 'GiftDetail',
  components: {
    Breadcrumb,
    RecommendationList,
    OwlCarousel,
    CheckOptions,
    Instagram,
  },
  mixins: [rightStickyMixin],
  metaInfo: {
    title: 'Gift Detail',
  },
  data() {
    return {
      labels: {
        date: 'Event date',
        time: 'Time',
      },
      recommendLocationSpecials,
      recommendGifts,
      dateFrom: Date.now(),
      specialFilter,
      data: {
        ...gift[7],
      },
      typeOptions,
      option: typeOptions[0],
      breadcrumbData: [
        {
          name: 'A certain something',
          link: '',
        },
        {
          name: 'Special XY',
          link: '',
        },
      ],
    };
  },
};
</script>

<style lang="scss" src="./gift-detail.scss">
</style>
