@import '../../scss/base/_base.scss';

.gift-detail-page {
  background-color: $white;
  .page-hero {
    .hero__image img {
      background-color: $color-gift;
    }
    .hero__shape {
      z-index: 2;
      svg path {
        fill: $color-bg;
      }
    }
  }
  .detail__gallery {
    max-width: 70.09%;
    margin-left: auto;
    margin-right: auto;
    .detail__gallery-image {
      padding-bottom: 125.07%;
    }
  }
  .detail__image-list li a {
    padding-bottom: 122.9467%;
  }
  .breadcrumb {
    margin-bottom: 15px;
    li {
      margin-bottom: 0;
    }
  }
  .page-detail__content {
    background-color: $color-bg;
    padding-bottom: 5rem;
    .main-row {
      margin-top: -372px;
      position: relative;
      z-index: 3;
    }
    @include carousel-arrow-size($space: 40px, $icon: 30px, $stroke: 3px);
  }
  .section-tabs {
    .tab-content {
      padding-top: 8.5rem;
      padding-left: calc(8.333% + 1px);
      padding-right: calc(8.333% + 20px);
      padding-bottom: 4rem;
      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          display: inline-block;
          font-size: 2rem;
          line-height: 1.2;
          margin-bottom: 0;
          width: 45%;
          &:before {
            content: '‣';
            vertical-align: middle;
            font-size: 1.5em;
            padding-right: 20px;
          }
        }
      }
    }
  }
  .sticky-wrapper {
    background-color: $color-bg;
    padding-left: calc(18.2% + 20px);
    min-height: 300px;
    position: relative;
    height: 100%;
    .right-pad {
      position: absolute;
      background-color: $color-bg;
      top: 0;
      bottom: 0;
      left: calc(100% - 1px);
      z-index: 0;
    }

    .offer {
      background-color: $color-sub;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
      position: absolute;
      right: 0;
      top: 20px;
      padding: 5px 30px 5px 35px;
      font-size: 2.1rem;
      font-weight: 600;
      color: $white;
      @at-root .sticky-action.is-sticky .right-pad > .offer {
        @include breakpoint($tabletUp) {
          top: 40px;
        }

        @include breakpoint($tablet) {
          top: 0px !important;
        }
      }
    }
  }

  .special__info {
    margin-bottom: 3.3rem;
  }
  .special__category {
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  h1 {
    margin-bottom: 3rem;
  }

  .special__description {
    font-size: 2.3rem;
    font-weight: 600;
  }

  // right side column
  .sticky-wrapper {
    padding-top: 30px;
  }
  .sticky-action {
    padding: 0;
    .sticky-action__footer {
      padding: 20px 0 0;
    }
    .action-buttons {
      .link-bold {
        margin-right: 43px;
        margin-top: 10px;
      }
      .btn {
        padding: 1.8rem 6.5rem;
      }
    }
    .price {
      margin-bottom: 30px;
    }
  }
  .recommendation-list {
    padding-bottom: 6rem;
    .product-card__number-location {
      display: none;
    }
    &:first-child {
      padding-bottom: 9.7rem;
    }
  }
}

@include breakpoint($desktop) {
  .gift-detail-page {
    .right-pad .offer {
      top: 70px;
      padding: 5px 35px 5px 35px;
    }
  }
}
@include breakpoint($min: 1200px, $max: 1600px) {
  .gift-detail-page {
    .sticky-action {
      .action-buttons {
        .btn {
          padding: 1rem 3rem;
          font-size: 2rem;
        }
        a.link-bold {
          margin-top: 0px;
          font-size: 1.8rem;
        }
      }
      .sticky-action__footer {
        padding-top: 0px;
        .price {
          margin: 0 0 10px;
        }
      }
    }
    .page-detail__content .main-row {
      margin-top: -250px;
    }
  }
}

@include breakpoint($min: 1200px, $max: 1400px) {
  .gift-detail-page {
    .sticky-action {
      .special__info {
        margin-bottom: 1rem;
        h1 {
          font-size: 4rem;
          margin-bottom: 0rem;
        }
      }
      .special__description {
        font-size: 2rem;
      }
      .attribute__item {
        margin-bottom: 1rem;
        .attribute__value .form-check span {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@include breakpoint($tabletUp) {
  .gift-detail-page {
    .tab__title {
      display: none;
    }
  }
}

@include breakpoint($mobile-to-tablet) {
  .gift-detail-page {
    .breadcrumb {
      display: none;
    }
    .page-detail__content {
      padding-bottom: 4.5rem;
    }
    .sticky-wrapper:after {
      height: calc(100% + 75px);
    }
    .special__info {
      margin-bottom: 0;
    }
    .special__category {
      font-size: 2.1rem;
      margin-bottom: 2.2rem;
    }
    h1 {
      margin-bottom: 1.1rem;
    }

    .special__description {
      font-size: 2.1rem;
      margin-bottom: 3.2rem;
      line-height: 2.7rem;
    }

    .sticky-action .sticky-action__footer {
      padding: 7px 0 20px;
      .price {
        float: none;
        text-align: center;
        margin-bottom: 0;
      }
      .action-buttons {
        flex-direction: column;
        float: none;
        .link-bold {
          margin-right: 0;
          margin-top: 2.5rem;
          margin-bottom: 4.3rem;
        }
        .btn {
          padding: 1.5rem 4.2rem;
        }
      }
    }
    .recommendation-list {
      padding-top: 0;
      &:first-child {
        padding-bottom: 7rem;
      }
      .product-card .product-card__image {
        padding-bottom: 133%;
      }
    }

    .section-tabs {
      padding-bottom: 0;
      .tab-content {
        padding: 3.5rem 0 5.8rem;
        ul li {
          line-height: 1.4;
          font-size: 1.6rem;
          width: 49%;
        }
      }
      .tabs__menu li a {
        font-size: 1.5rem;
      }
    }
  }
}

@include breakpoint($tablet) {
  .gift-detail-page {
    .page-detail__content {
      @include carousel-arrow-size($space: 33px, $icon: 30px, $stroke: 3px);
      .main-row {
        margin-top: -193px;
      }

      .right-pad {
        .offer {
          top: 30px;
          @include breakpoint($max: 768px) {
            padding-left: 20px;
            padding-right: 15px;
          }
        }
      }

      .col-content {
        width: 62%;
        padding-right: 24px;
      }
      .col-aside {
        width: 38%;
      }
      .sticky-wrapper {
        padding-left: 44px;
      }
    }
    .detail__gallery {
      max-width: 100%;
      margin-bottom: 4rem;
    }
    .sticky-action {
      padding-top: 2.7rem;
    }
  }
  .section-tabs {
    .tabs__menu li a {
      font-size: 1.5rem;
    }
  }
}

@include breakpoint($mobile) {
  .gift-detail-page {
    .page-hero {
      display: none;
    }

    .page-detail__content {
      @include carousel-arrow-size($space: 33px, $icon: 15px, $stroke: 3px);
      .main-row {
        margin-top: 0;
      }
    }
    h1 {
      margin-bottom: 2rem;
    }
    .detail__gallery {
      margin-bottom: 30px;
      max-width: 100%;
      .detail__gallery-image {
        padding-bottom: (449/360) * 100;
      }
    }
    .special__description {
      padding-right: 20px;
      margin-bottom: 6.9rem;
    }
    .tabs .tab {
      padding: 1rem 0;
      .tab__title {
        font-size: 1.8rem;
        padding-left: 20px;
      }
      .tab-content {
        margin-top: 15px;
      }
    }
    .section-tabs {
      margin-bottom: 3.6rem;
    }

    .page-detail__content {
      padding-bottom: 9.4rem;
    }
    .recommendation-list {
      &:first-child {
        padding-bottom: 0;
      }
      &:nth-child(2) {
        padding-top: 0;
      }
      .carousel__nav-wrapper {
        margin-top: 0;
        .icon-btn.carousel__nav--next {
          padding-right: 25px;
        }
        .icon-btn.carousel__nav--prev {
          padding-left: 25px;
        }
      }
      .count {
        bottom: 65px;
      }
    }
    .sticky-wrapper {
      padding-left: 0;
      .sticky-action {
        position: static!important;
      }
      .right-pad {
        position: static;
        .offer {
          right: -20px;
        }
      }
      .sticky-action__footer {
        position: static !important;
        padding-bottom: 0;
        &.no-sticky {
          .sticky-action__inner {
            border-top: 0px solid $color-sub;
            position: static;
            background-color: transparent;
            padding: 0;
          }
        }
        .sticky-action__inner {
          background-color: #fff;
          border-top: 1px solid $color-sub;
          position: fixed;
          bottom: 0;
          padding: 12px 20px;
          left: 0;
          z-index: 9999;
          width: 100%;
        }

        h3 {
          width: 100%;
        }

        .price {
          font-size: 1.8rem;
          display: flex;
          float: none;
          justify-content: space-between;
          font-weight: 700;
          margin-bottom: 5px;
          label {
            color: $color-main;
            font-size: 1.8rem;
          }
          .mobile-title {
            font-weight: 600;
          }
        }
        .action-buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          float: none;
          flex-direction: row;
          a.link-bold {
            font-size: 1.8rem;
            margin-top: 0;
            margin-bottom: 0;
          }
          .btn {
            padding: 10px 23px;
            font-size: 0;
            line-height: 0;
            svg {
              display: block;
            }
          }
        }
      }
    }
  }
}

@import './scale-sticky';