include ../../components/mixins/_page-hero.pug
-
  const images = ['@/assets/images/1px.png'];

.gift-detail-page
  BodyClass(className="gift-detail-page")
  .page-detail__header
    +page-hero({images})
  .page-detail__content
    .container
      .row.main-row
        .col-lg-7.col-content(v-if="!$viewport.isMobile")
          include ./inc/_gallery
          ul.detail__image-list
            li(v-for="i in 4", v-lazy-container)
              a(href="javascript:void(0);", title="image")
                img.no-effect(data-src="@/assets/images/1px.png", alt="image")
        .col-lg-5.col-aside
          .sticky-wrapper
            .sticky-action
              .right-pad
                label(v-show="data.promotion != false", class='offer') {{data.promotion}}
              Breadcrumb(:data="breadcrumbData")
              .special__info
                .special__category
                  span.underline {{data.subTitle}}
                h1.h2 {{data.title}}
                .special-mobile-images-list.full-viewport(v-if="$viewport.isMobile")
                  include ./inc/_gallery
                .special__description {{data.description}}
                .section-tabs.full-viewport(v-if="$viewport.isMobile")
                  .container
                    include ./inc/_tabs
              .special-sticky-block
                .gift__attribute
                  check-options
                .sticky-action__footer
                  .sticky-action__inner
                    .price
                      label.mobile-title {{data.title}}
                      span 522 CHF
                    .clearfix
                    .action-buttons
                      a.link-bold(:href="jsv", title="Reset selection") Reset selection
                      base-button Add
                        base-svg(:src="$icons.bagPlus")
                    .clearfix
  .section-tabs(v-if="!$viewport.isMobile")
    .container
      include ./inc/_tabs
  .section-products
    recommendation-list(:listData="recommendLocationSpecials", title="Combined with")
    recommendation-list(:listData="recommendGifts")
    .show-more.text-center
      base-button Show more
  .section-instagram
    instagram
