<template lang="pug" src="./TheHeader.pug"></template>
<script>
import { CookieTerm } from '@/helpers/client-storage';
import logoLight from '@/assets/logos/logo-light.png';
import logoDark from '@/assets/logos/logo-dark.png';
import { isDesktop } from '@/common/display';
import { ALL_LOCALES, ALL_COUNTRIES } from '@/constants/business';
import ListSocials from '../../components/ListSocials';
import SearchBox from '../../components/SearchBox';
import FormValidate from '../../components/FormValidate';
import CartPopup from '../../components/CartPopup';

export default {
  name: 'Header',
  props: {
    isFixed: {
      type: [Boolean, String],
      default: true,
    },
  },
  components: {
    ListSocials,
    SearchBox,
    FormValidate,
    CartPopup,
  },
  data() {
    return {
      showCookieMessage: !(global.isClient && CookieTerm.isAccepted()),
      loginSchema: yup => ({
        email: yup.string().email().required().label('Email'),
        password: yup.string().min(6).required().label('Password'),
      }),
      logoImage: this.locationColor ? logoDark : logoLight,
      // eslint-disable-next-line no-script-url
      jsv: 'javascript:void(0)',
      menus: [
        {
          title: 'Special Gifts',
          link: '#',
        },
        {
          title: 'Unique Location',
          link: '#',
        },
        {
          title: 'Certain Something',
          link: '#',
        },
      ],
      specialPages: [
        {
          title: 'Our nice packages',
          link: '#',
        },
        {
          title: 'Valentine’s day special',
          link: '#',
        },
      ],
      staticPages: [
        {
          title: 'Blog',
          link: '#',
        },
        {
          title: 'About',
          link: '#',
        },
        {
          title: 'Contact',
          link: '#',
        },
      ],
      dropdowns: {
        login: false,
        menu: false,
        search: false,
        lang: false,
        cart: false,
      },
      languages: ALL_LOCALES,
      countries: ALL_COUNTRIES,
      country: ALL_COUNTRIES[0],
      selectedLanguage: {},
    };
  },
  computed: {
    headerClasses() {
      return {
        'header--fixed': this.isFixed,
        'header--fixed-has-dropdown': Object.keys(this.dropdowns).find(k => this.dropdowns[k]),
      };
    },
  },
  created() {
    [this.selectedLanguage] = this.languages;
  },
  watch: {
    selectedLanguage(newValue) {
      this.$i18n.locale = newValue.value;
    },
  },
  methods: {
    toggleDropdown(name) {
      const { dropdowns } = this;
      if (isDesktop()) {
        Object.keys(dropdowns).filter(key => key !== name).map(key => dropdowns[key] = false);
      }
      dropdowns[name] = !dropdowns[name];
    },
    closeDropdowns() {
      if (this.dropdowns.menu) {
        this.closeAllDropdowns();
      } else {
        this.closeAllDropdowns();
        this.dropdowns.menu = true;
        Object.keys(this.dropdowns).forEach((key) => {
          if (key !== 'menu') {
            this.dropdowns[key] = false;
          } else {
            this.dropdowns[key] = true;
          }
        });
      }
    },
    acceptCookie() {
      this.showCookieMessage = false;
      CookieTerm.accept();
    },
    closeAllDropdowns() {
      Object.keys(this.dropdowns).forEach(key => this.dropdowns[key] = false);
    },
    backToMenu() {
      const { dropdowns } = this;
      dropdowns.login = false;
    },
    showPopup() {
      if (this.$context.refs && this.$context.refs.auth) {
        this.$context.refs.auth.open();
      }
    },
  },
};
</script>

<style lang="scss" src="./styles/the-header.scss"></style>

