mixin btn-login()
  a.btn-link.btn-login.uppercase(href="javascript:;", @click="showPopup") {{$t('user.login')}}
mixin btn-language()
  a.btn-language.btn-link.like-dropdown(href="javascript:;", @click="toggleDropdown('lang')" :class="{active: dropdowns.lang}")
    img(:src="country.flag")
    base-svg.arrow(:src="$icons.angleDown")
mixin btn-user()
  base-dropdown.btn-user(name="Username")
    base-svg.user-icon(:src="$icons.userCircle", slot="append")
    .p-4
      p.text-center This is the user dropdown
div
  .header__placeholder(v-if="isFixed")
  header.header(:class="headerClasses", v-click-outside="closeAllDropdowns")
    .header__inner.container-fluid
      .header__left
        router-link.header__logo(to="/")
          img(:src="logoImage", alt="Lunaestella-logo")
      .header__center
        nav.header__nav
          router-link.btn-link(:to="item.link" v-for="(item, index) in menus", :title="item.title", :key="index") {{item.title}}
      .header__right
        .header__buttons-wrapper
          +btn-login()
          +btn-language()
          a(:href="jsv", title="Toggle global search", @click="toggleDropdown('search')", :class="{active: dropdowns.search}")
            base-svg(:src="$icons.search")
          a.icon-bag.btn-cart(:href="jsv", title="Toggle cart", @click="toggleDropdown('cart')", :class="{active: dropdowns.cart}")
            base-svg(:src="$icons.bag")
            span.cart-quantity 1
          a.btn-menu(:href="jsv", title="Toggle menu", @click="closeDropdowns", :class="{active: dropdowns.menu}")
            base-svg.icon-menu(:src="$icons.menuBar", v-show="!dropdowns.menu", key="menu")
            base-svg.icon-close(:src="$icons.close", v-show="dropdowns.menu", key="close")
    include ./inc/_login.pug
    include ./inc/_lang.pug
    include ./inc/_menu.pug
    include ./inc/_search.pug
    include ./inc/_cart.pug
    include ./inc/_cookie-message

