.calendarpicker
    .calendarpicker__content
        .calendarpicker__datefrom.calendarpicker--flex
            .icon
                base-svg(:src="$icons.calendar")
            .text
                label {{labels.from}}
                .date-picker-wrapper
                    Datepicker(v-model="dateFrom", :highlighted="highlightedDates", @changedMonth="markHighlight" :disabledDates="disabledDates", :dailyRates="dailyRates")
        .calendarpicker__nights.calendarpicker--flex(v-show="config.nights")
            .icon
                base-svg(:src="$icons.weather")
            .text
                label Nights
                base-dropdown
                    span(slot="append") {{nDay}}
                    .p-2.pt-4(style="width: 200px")
                        .form-check.mb-4
                            input.form-check-input(id="any-night" type='radio' name="radio" value='Any' v-model="nDay")
                            label(for="any-night")  Any
                        .form-check.mb-4(v-for="i in 9" :key="i")
                            input.form-check-input(:id="`night${i}`" type='radio' name="radio" :value='i' v-model="nDay")
                            label(:for="`night${i}`") {{i}} nights

        .calendarpicker__dateto
            label {{labels.to}}
            span {{dateTo}}
