<template lang="pug" src="./CalendarPicker.pug"></template>

<script>
import Datepicker from '../../components/DatePicker';
import { addDays, formatDate } from '../../../../helpers/utils/datetime';
import { DATE_FORMAT } from '../../../../constants/business';

export default {
  name: 'CalendarPicker',
  props: {
    config: {
      type: Object,
      default: () => {},
    },
  },
  components: {
    Datepicker,
  },
  data() {
    return {
      labels: {
        from: this.config.fromLabel || 'Arrival date',
        to: this.config.toLabel || 'Departure date',
      },
      nDay: 5,
      formatDateValue: value => formatDate(value, DATE_FORMAT),
      dateFrom: Date.now(),
      disabledDates: {
        dates: [
          new Date(2019, 2, 1),
        ],
      },
      dailyRates: {
        '01.02.2019': 120,
        '02.02.2019': 140,
        '03.02.2019': 140,
        '04.02.2019': 140,
        '05.02.2019': 80,
        '06.02.2019': 100,
        '07.02.2019': 120,
        '08.02.2019': 120,
        '09.02.2019': 140,
        '10.02.2019': 140,
        '11.02.2019': 140,
        '12.02.2019': 80,
        '13.02.2019': 100,
        '14.02.2019': 120,
        '15.02.2019': 120,
      },
    };
  },
  computed: {
    highlightedDates() {
      return {
        to: this.dateToValue,
        from: this.dateFrom,
      };
    },
    dateToValue() {
      if (isNaN(this.nDay)) {
        return null;
      }
      return addDays(new Date(this.dateFrom), this.nDay);
    },
    dateTo() {
      const value = this.dateToValue;
      return value === null ? '-' : this.formatDateValue(value);
    },
  },
  methods: {
    markHighlight() {
      this.$nextTick(() => {
        const $highlighted = $('.cell.day.highlighted');
        const $today = $('.today.selected');
        let start = this.$el.querySelector('.highlighted');
        $('.cell.day').removeClass('highlight-end');
        if ($today.next().is(start)) {
          start = $today.get(0);
        }
        $(start).addClass('highlight-start');
        $highlighted.last().addClass('highlight-end');
      });
      return null;
    },
  },
  mounted() {
    this.markHighlight();
  },
  updated() {
    this.markHighlight();
  },
};
</script>

<style lang="scss">
    @import "../../scss/base/base";
    .calendarpicker {
        &--flex {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .icon {
                align-self: center;
            }
        }
        label {
            font-size: 1.6rem;
            margin-bottom: 0;
            display: block;
            color: $color-main;
        }

        &__content {
            display: flex;
            align-items: flex-start;
            position: relative;
            .icon {
                margin-right: 20px;
                svg {
                    width: 32px;
                }
            }

            span {
                font-size: 2.1rem;
                line-height: 2.7rem;
            }

            .date-picker-wrapper {
                display: inline;
                position: static;
                cursor: pointer;
                cursor: hand;
                > span {
                    font-weight: 600;
                    @extend %underline;
                }
            }
        }
        &__nights {
            height: 50px;
            span {
                font-weight: 600;
                @extend %underline;
            }
            .arrow {
                display: none;
            }
        }

        &__dateto {
            height: 50px;
            span {
                color: var(--primary);
                font-size: 2.1rem;
                font-weight: 600;
                letter-spacing: normal;
            }
        }
        &__datefrom,
        &__nights {
            border-right: 1px solid $color-sub;
            padding-right: 20px;
            margin-right: 20px;
        }

        @include breakpoint($mobile) {
            margin-bottom: 30px;
            &__content {
                justify-content: center;
                .icon {
                    display: none;
                }
            }
            &__dateto span,
            &__nights span {
                font-size: 1.8rem;
            }
            &__datefrom,
            &__nights {
                padding-right: 14px;
                margin-right: 14px;
            }
        }

        @include breakpoint($max: 480px) {
            &__content {
                label {
                    font-size: 1.5rem;
                }
                span {
                    font-size: 1.8rem;
                }
            }
            &__datefrom,
            &__nights {
                padding-right: 15px;
                margin-right: 15px;
            }
        }
    }
</style>