form-validate.creditcard-form.container-fluid(:schema="creditCardSchema", ref="crediCardForm")
    h2 Credit Card Form
    .row.align-items-center
        .col-lg-6
            .row
                .form-group.col-lg-6.mb-5
                    label
                        | Number *
                        span Card Type
                    input.form-control(type="text", maxlength = "16", :placeholder="$t('payment.number')", name="number")
                .form-group.col-lg-6.mb-5
                    label Owner *
                    input.form-control(type="text", maxlength = "255", :placeholder="$t('payment.owner')", name="owner")
                .form-group.col-lg-4.mb-5
                    label CV-Code *
                    input.form-control(type="password", maxlength = "3", :placeholder="$t('payment.cvcode')", name="cvcode")
                .form-group.col-lg-4.mb-5
                    label Valid *
                    base-select(name="month", :options="months", :searchable="true", placeholder="Month")
                .form-group.col-lg-4.mb-5
                    base-select.year(name="year", :options="years", :searchable="true", placeholder="Year")
                .form-group.col-lg-12.form-buttons
                    button.link-btn.link.uppercase(type="submit") {{$t('Submit')}}