<template lang="pug" src="./CreditCardForm.pug"></template>
<script>
import utils from '@/helpers/utils/index';
import FormValidate from '../FormValidate';

export default {
  name: 'CreditCardForm',
  components: {
    FormValidate,
  },
  data() {
    const year = new Date().getFullYear();
    return {
      selected: 'Year',
      months: (new Array(12)).fill().map((e, i) => ({
        value: i + 1,
        label: utils.leftPad(i + 1),
      })),
      years: (new Array(21)).fill().map((e, i) => (i + year)),
      creditCardSchema: yup => ({
        number: yup.string().matches(/[\d]{16}$/, 'Number is invalid').required(),
        owner: yup.string().required(),
        cvcode: yup.string().matches(/[\d]{3}$/, 'Number is invalid').required(),
        month: yup.common.number().required(),
        year: yup.common.number().required(),
      }),
    };
  },
};

</script>

<style lang="scss">
  .creditcard-form {
    .form-group {
      label {
        display: block;
        position: relative;
        span {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      .year {
        margin-top: 27px;
      }
    }
  }
</style>