.cart-display {
  &__inner {
    position: relative;
    padding: 36px;
    z-index: 1;
    background-color: #fff;
    margin-top: -200px;
    .sticky-block__fixed[style*='position: fixed;'] & {
      margin-top: 0px;
    }
  }

  .cart-item.size-small {
    margin-bottom: 20px;
    padding: 20px 0 20px 28px;
    .cart-item__options-container {
      min-height: 40px;
    }
    .cart-item__option {
      span {
        font-weight: normal;
        &.is-color-value {
          margin-left: 0;
          width: 15px;
          height: 15px;
        }
      }
    }
    .cart-item__thumbnail {
      margin-top: 20px;
    }
    .cart-item__subtitle {
      display: none;
    }
    .cart-item__edit-btn {
      display: none;
    }
    .cart-item__remove-btn {
      display: none;
    }
  }

  &__total {
    text-align: right;
    p {
      line-height: 1.2;
      font-size: 2.1rem;
      font-weight: 600;
    }
    .price-number {
      font-size: 5.1rem;
    }
    .link-bold {
      margin-top: 30px;
    }
  }
}
