
mixin city(name)
  .row
    .col-xl-6.col-lg-5.col-6
      .form-group
        label.required City
        input.form-control(name="city", placeholder="City")
    .col-xl-6.col-lg-7.col-6
      .form-group
        label.required Postcode
        input.form-control(name="postcode", placeholder="Postcode")

form.checkout-form
  //Contact
  .form-section.form-section--contact
    .form-section__indicator
      span.number-circle 7
      span.form-section__title Contact data
    .row
      .col-md-6
        .form-group
          label Salutation
          .row
            .col-xl-8.col-lg-9
              base-select(name="salutation", :options="['Mister']", value="Mister")
      .col-md-6.required-note
        label * Required fields
      .col-lg-6
        .form-group
          label.required First name
          input.form-control(name="firtName", placeholder="First name", value="Peter")
      .col-lg-6
        .form-group
          label.required Surname
          input.form-control(name="surname", placeholder="First name", value="Peter")
      .col-lg-6
        .form-group
          label.required Address
          input.form-control(name="address", placeholder="Address")
      .col-lg-6
        +city()
      .col-lg-6
        .form-group
          label.required Country
          input.form-control(name="country", placeholder="Switzerland")  
      .col-lg-6
        .form-group
          label.required Email
          input.form-control(name="email", placeholder="Email", value="peter.mueller@mail.com")
      .col-lg-6
        .form-group
          label.required Phone
          input.form-control(name="phone", placeholder="Telefon")
      .col-12
        .form-group
          label Remarks
          textarea.form-control(name="remarks", placeholder="Text", value="Text|")
  .form-section.form-section--3th
    .form-section__indicator
      span.number-circle 6
      span.form-section__title Third party
    .form-check
      input.form-check-input(type="checkbox", checked)
      label.color-main Booking for third party
    .row
      .col-lg-6
        .form-group
          label First name third party
          input.form-control(name="firstName3th", placeholder="First name third party")
      .col-lg-6
        .form-group
          label Surname third party
          input.form-control(name="surname3th", placeholder="Surname third party")
  .form-section.form-section--shippment
    .form-section__indicator
      span.number-circle 5
      span.form-section__title Shipment
    .row
      .col-md-6
        .form-check
          input.form-check-input(type="radio", name="shipType")
          label.color-main To your home
        .form-check
          input.form-check-input(type="radio", name="shipType", checked)
          label.color-main To your hotel
        .form-check
          input.form-check-input(type="radio", name="shipType", checked)
          label.color-main To another place
      .col-md-6
        label * Required fields
        div.date-picker-wrapper
          date-picker-control
          span.question-icon
      .col-lg-6
        .form-group
          label.required Address
          input.form-control(name="shipAddress", placeholder="Address")
      .col-lg-6
        +city()
      .col-12
        .form-group
          label Remarks
          textarea.form-control(name="shipRemarks", placeholder="Text", value="Text|")
  .form-section.form-section--gift-voucher
    .form-section__indicator
      span.number-circle 4
      span.form-section__title Gift voucher
    .form-check
      input.form-check-input(type="checkbox", checked)
      label.color-main Create gift voucher #[br] Please choose design for card below
    .gift-voucher-slider
      .full-viewport
        owl-carousel(:margin="0", :autoWidth="true", :nav="true", :dots="false", :center="true", :loop="true")
          a.gift-voucher.is-active(:href="jsv", title="title")
            span
            .form-check
              input.form-check-input.checkbox(:checked="true", type="radio", name="voucher")
              label
          a.gift-voucher(v-for="i in 20", :href="jsv", title="title")
            span
            .form-check
              input.form-check-input.checkbox(type="radio", name="voucher")
              label
    .row
      .col-lg-6
        .form-group
          label First name recipient
          input.form-control(name="firstNameRecipient", placeholder="First name recipient")
      .col-lg-6
        .form-group
          label Surname third recipient
          input.form-control(name="surnameRecipient", placeholder="Surname recipient")
      .col-12
        .form-group
          label Your greeting text
          textarea.form-control(name="greetingText", placeholder="Text", value="Text|")
  .form-section.form-section--promo
    .form-section__indicator
      span.number-circle 3
      span.form-section__title Promo code
    .form-check
      input.form-check-input(type="checkbox", checked, name="usePromoCode")
      label.color-main Use your promo code
    .form-group
      label Fill in promo code
      input.form-control(name="promoCode", placeholder="0000-0000-0000-XX")
  .form-section.form-section--payment
    .form-section__indicator
      span.number-circle 2
      span.form-section__title Payment
    .form-check
      input.form-check-input(type="radio", checked, name="payMethod")
      label.color-main Creditcard (Visa, Mastercard, American Express)
    .row
      .col-lg-6
        .form-group
          label.d-block.required
            | Number
            span.float-right Card Type
          input.form-control(name="cardNumber", placeholder="Number")
      .col-lg-6
        .form-group
          label.d-block.required Owner
          input.form-control(name="cardNumber", placeholder="Number")
      .col-lg-4.col-md-7
        .form-group
          label.required CV-Code
          .row
            .col-6.col-xl-6.col-lg-9
              input.form-control(name="cardNumber", placeholder="XXX")
      .col-lg-8
        .form-group.card-date
          label.required Valid
          .row
            .col-sm-6
              base-select(name="cardNumber", placeholder="Month", :options="optionMonths" )
            .col-sm-6
              base-select(name="cardNumber", placeholder="Year", :options="optionYears")
    .form-check
      input.form-check-input(type="radio", name="payMethod")
      label.color-main Postcard
    .form-check
      input.form-check-input(type="radio", name="payMethod")
      label.color-main Postfinance E-Finance
    .form-check
      input.form-check-input(type="radio", name="payMethod")
      label.color-main Purchase by invoice (payment slip #[b by email])
    .form-check
      input.form-check-input(type="radio", name="payMethod")
      label.color-main Purchase by invoice (payment slip #[b by mail])
  .form-section.form-section--term
    .form-section__indicator
      span.number-circle 1
      span.form-section__title Terms and conditions
    .form-check
      input.form-check-input(type="checkbox", name="payMethod")
      label.color-main I accept the #[a.link-bold(:href="jsv") Terms and conditions]
  .checkout-submit-btn
    base-button(type="button") PAY YOUR ORDER