.checkout-form {
  .checkout-submit-btn {
    margin: 50px 0 50px -20px;
  }
  .form-group {
    margin-bottom: 30px;
  }
  .form-check {
    margin-bottom: 23px;
  }
  .form-section {
    padding-bottom: 10px;
    padding-left: 35px;
    border-left: 2px solid $color-main;
    &--term {
      border-left: 0;
    }
    &__title {
      font-weight: 800;
      font-size: 1.6rem;
    }

    &__indicator {
      margin-bottom: 15px;
      position: relative;
      margin-left: -59px;
      z-index: 1;
      span {
        vertical-align: middle;
      }
    }
  }
  .date-picker-wrapper {
    margin-top: 55px;
    .question-icon {
      position: absolute;
      vertical-align: middle;
    }
  }
  .number-circle {
    margin-right: 10px;
  }

  @include breakpoint($mobile) {
    .form-section {
      border-left: 0;
      padding-left: 0;
      &__indicator {
        margin-left: -10px;
        margin-bottom: 30px;
      }
    }
    .form-section--contact {
      .required-note {
        order: -1;
        margin-bottom: 20px;
      }
    }
    .form-section--payment {
     .base-select {
       margin-bottom: 22px;
     }
    }
    .checkout-submit-btn {
      margin: 50px 0;
      display: block;
      text-align: center;
    }
  }
}
