.gift-voucher-slider {
  height: 318px;
  margin-bottom: 50px;

  .gift-voucher {
    position: relative;
    z-index: 2;
    height: 318px;
    width: 318px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      display: block;
      width: 173px;
      height: 173px;
      background-color: #fff;
      border: 1px solid #707070;
      transform: rotate(-20deg);
    }
  }
  
  .form-check {
    visibility: hidden;
    position: absolute;
    transform: translate(0px);
    top: 10px;
    right: 0px;
    @at-root .gift-voucher.is-active {
      .form-check {
        visibility: visible;
      }
    }
  } 
  @include breakpoint($mobile-to-tablet) {
    height: 200px;
    .gift-voucher {
      height: 200px;
      width: 200px;
      span {
        width: 106px;
        height: 106px;
      }
    }
  }
  .full-viewport {
    position: absolute;
    background-color: #8e8e8e;
  }
  .owl-item {
    background-color: #8e8e8e;
  }
  .owl-item {
    &:nth-child(2n) {
      background-color: #aba093;
    }
    &:nth-child(3n) {
      background-color: #656565;
    }
  }
}