include ../../../static-html/components/mixins/_page-hero.pug

-
  const images = ['@/assets/images/1px.png','@/assets/images/1px.png'];

.checkout-page
  .has-small-page-hero
    +page-hero({title: 'Checkout', images, titleCenter: true})
  .container
    .row
      .col-xl-5.col-sm-6.cart-display-col
        .cart-display
          .cart-display__inner
            cart-item(v-for="(p,i) in cartItems", :key="i", size="small", :data="p", :showColorName="true")
            .cart-display__total
              p Total costs
              p.price-number 1096 CHF
              p for two persons
              a.link-bold go to shopping cart
      .col-xl-7.col-sm-6
        include _checkout-form

