@import "~@/modules/static-html/scss/base/base";
@import "./_cart-display";
@import "./_checkout-form";
@import "./_gift-voucher";

.checkout-page {
  [class^="col-"] {
    position: static;
  }

  .cart-item__name span {
    line-height: 1.3;
  }

  @include breakpoint($min: 1367px) {
    .cart-display-col {
      padding-right: 8vw;
    }
  }
  @include breakpoint($mobile-to-tablet) {
    .cart-display {
      margin-bottom: 50px;
    }
  }
  @include breakpoint($tablet) {
    .checkout-form .form-section__indicator {
      margin-left: -54px;
    }
    .cart-display {
      &__inner {
        margin-top: -150px;
      }
    }
    .cart-item.size-small {
      padding-left: 20px;
      .cart-item__thumbnail {
        width: 98px;
        height: 98px;
      }
    }
  }
  @include breakpoint($max: 992px) {
    .cart-display {
      &__inner {
        margin-top: -50px;
        padding: 20px;
      }
    }
    .cart-item.size-small {
      padding-left: 20px;
      .cart-item__thumbnail {
        margin-top: 10px;
        width: 60px;
        height: 60px;
      }
    }
  }
  @include breakpoint($mobile) {
    .cart-display {
      .cart-display__inner {
        width: auto;
        margin-top: -25px;
        margin-right: 0;
        margin-left: 0;
      }

      .cart-item.size-small .cart-item__thumbnail {
        width: 98px;
          height: 98px;
        @include breakpoint($max: 400px) {
          width: 70px;
          height: 70px;  
        }
        
      }
    }
    .cart-display-col {
      padding: 0;
    }
    .has-small-page-hero .page-hero .hero__background-wrapper {
      padding-bottom: 226px;
    }
  }
}