<template lang="pug" src="./CheckoutPage.pug"></template>


<script>
import DatePickerControl from '@/modules/static-html/components/DatePickerControl';
import utils from '@/helpers/utils';
import OwlCarousel from '@/modules/static-html/components/OwlCarousel';
import StickyBlock from '@/modules/static-html/components/StickyBlock';
import CartItem from '@/modules/cart-checkout/components/CartItem';
import { gift3, special2, location2 } from '@/constants/mock/cart-items';

export default {
  name: 'CheckoutPage',
  components: {
    DatePickerControl,
    OwlCarousel,
    CartItem,
    StickyBlock,
  },
  metaInfo: {
    title: 'Checkout',
  },
  data() {
    const currentYear = new Date().getFullYear();
    return {
      cartItems: [gift3, location2, special2],
      optionMonths: new Array(12).fill().map((e, i) => utils.leftPad(i + 1)),
      optionYears: new Array(10).fill().map((e, i) => currentYear + i),
    };
  },
  mounted() {
    $(this.$el).on('click', '.gift-voucher', this.selectVoucher);
  },
  methods: {
    selectVoucher(event) {
      event.stopPropagation();
      const { currentTarget } = event;
      $('.gift-voucher').removeClass('is-active');
      $('.gift-voucher input.checkbox').prop('checked', false);
      $(currentTarget).addClass('is-active');
      $(currentTarget).find('input.checkbox').prop('checked', true);
    },
  },
};
</script>

<style lang="scss" src="./checkout-page.scss"></style>

