<template lang="pug" src="./Breadcrumb.pug"></template>
<script>
const root = {
  name: 'Luna e Stella',
  link: 'home.html',
};
const defaultData = [
  {
    name: 'We are Luna e Stella',
    link: '',
  },
];

export default {
  name: 'Breadcrumb',
  props: ['data'],
  data() {
    const list = this.data ? this.data : defaultData;
    return {
      breadcrumbList: [root, ...list],
    };
  },
};
</script>

<style lang="scss">
  @import "../../scss/base/_base.scss";
  .breadcrumb {
    margin-bottom: 7.5rem;
    li {
      display: inline-block;
      font-size: 1.6rem;
      @include breakpoint($mobile) {
        font-size: 1.5rem;
      }
      a {
        font-weight: normal !important;
        border-bottom: 0 none !important;
      }
      a,
      span {
        &:after {
          content: "\\";
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      &:last-child {
        a,span {
          font-weight: 600;
          &:after {
            display: none;
          }
        }
      }
    }
  }
</style>