ul.breadcrumb
    li(v-for="(breadcrum, index) in breadcrumbList")
        a(href="breadcrum.link", v-if="index < breadcrumbList.length - 1") {{breadcrum.name}}
        span(v-else) {{breadcrum.name}}




