.product-card--large {
  $this: '.product-card';
  $--imge-right: '.product-card--large--image-right';

  .base-rating {
    display: block;
  }

  #{$this}__image {
    padding-bottom: $ratio-large;
  }
  

  
  @include breakpoint($desktop) {
    .base-rating {
      margin-top: 30px;
    }
    .product-card__desc {
      margin: 33px 0;
      li {
        margin-bottom: 2rem;
        padding-top: 19px;
        padding-bottom: 19px;
      }
      @include breakpoint($max: 1440px) {
        margin: 40px 0;
       li {
        margin-bottom: 1.5rem;
        padding-top: 10px;
        padding-bottom: 10px;
       }
      }
    }
    .product-card__thumbnail {
      width: (8/12) * 100%;
    }
    .product-card__content {
      width: (4/12) * 100%;
    }
    
    &.product-card--large--image-right {
      #{$this}__list-specials li {
        padding-left: 40px!important;
        &:before {
          left: 0!important;
        }
      }
    }
  }
  @include breakpoint($tablet) { 
    .product-card__thumbnail {
      width: (5/8) * 100%;
    }
    .product-card__content {
      width: (3/8) * 100%;
    }
  }
  @include breakpoint($tabletUp) {
    display: flex;
    
    .product-card__title {
      margin-bottom: 0;
    }
    .product-card__content {
      padding: 20px 25px;
      flex: 1;
      text-align: right;
      overflow: hidden;
    }

    &:not(.product-card--large--image-right) {
      #{$this}__thumbnail {
        position: static;
      }
      #{$this}__list-specials li {
        padding-left: 0;
        flex-direction: row-reverse;
      }
      label {
        right: -41px;
        bottom: 150px;
      }

    }

    &.product-card--large--image-right {
      flex-direction: row-reverse;
      #{$this}__content {
        text-align: left;
      }
      #{$this}__list-specials li {
        flex-direction: row;
        text-align: left;
      }
      .product-card__gift {
        left: auto;
        right: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        transform: rotate(90deg);
        svg {
          transform: rotate(-90deg);
        }
      }
    }
  }

  // product-card large
  @include breakpoint($tablet) {
    
    .product-card__title {
      margin-bottom: 15px;
      height: calc(4.2em + 4px);
      line-height: 1.4;
      overflow: hidden;
    }
    .product-card__desc {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    &.product-card--large--image-right {
      #{$this}__list-specials li {
        padding-left: 0;
        &:before {
          right: 'initial';
          left: -25px;
        }
      }
    }
  }
}
