.product-card--small {
  width: 600px;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row-reverse;
  background-color: #e5e5e5;
  &__icons {
    display: none;
  }
  &__thumbnail {
    width: 50%;
    .carousel__item {
      padding-bottom: calc(100% * 477/366);
      background-color: #000;
      
    }
  }
  &__content {
    padding: 30px;
    width: 50%;
    position: relative;
  }
  &__location {
    font-size: 2rem;
  }
  &__title {
    margin-bottom: 0;
    font-size: 3.2rem;
    line-height: 4rem;
    height: 8rem;
  }
  &__price {
    position: absolute;
    text-align: right;
    right: 30px;
    bottom: 30px;
  }
  .base-rating {
    margin-top: 30px;
  }
}