@import '../../../scss/base/_base.scss';
@import './product-card-small';

$ratio-medium: (477.24/819) * 100%;
$ratio-large: (705/1082) * 100%;

.product-card {
  position: relative;
  margin-bottom: 70px;

  &--medium {
    .carousel__nav-wrapper {
      svg {
        width: 15px;
        path {
          stroke-width: 4px;
        }
      }
    }
  }

  &__content {
    padding: 25px 20px;
    @include clearfix();
  }
  &__location {
    margin-bottom: 0;
    color: $color-main;
  }
  &__title {
    height: calc(2.8em + 12px);
    margin-bottom: 5px;
    color: $color-main !important;
    cursor: pointer;
    line-height: 1.4;
    overflow: hidden;
    a {
      display: inline;
      position: relative;
      &:hover {
        border-bottom: 6px solid $color-main;
      }
    }
  }
  &__price {
    text-align: right;
    color: $color-main;
    float: right;
  }
  &__icons {
    position: absolute;
    top: 25px;
    left: 20px;
    display: inline-block;
    z-index: 10;
    button {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__list-specials {
    li {
      line-height: 1.4;
      min-height: 3rem;
      margin-bottom: 1rem;
      padding: 0px 20px 0px 20px;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      &::before {
        content: ' ';
        background-color: $color-special-lighter-yellow;
        position: absolute;
        right: -25px;
        display: block;
        width: 10px;
        height: 100%;
      }
      &:nth-child(2)::before {
        background-color: $color-special-green;
      }

      &:nth-child(3)::before {
        background-color: $color-special-purple;
      }

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 27px;
        font-size: 1.6rem;
        max-height: calc(27px * 2);
      }
    }
  }

  &__thumbnail {
    position: relative;
    .thumb-slider {
      background-color: #f5f5f5;
    }
  }

  &__image {
    height: 0;
    position: relative;
    padding-bottom: $ratio-medium;
    width: 100%;
    img {
      @extend %image-center;
      height: 100%;
      width: 100%;
    }
  }

  .base-rating {
    display: block;
  }

  // offer label
  label {
    position: absolute;
    display: inline-block;
    font-size: 2.1rem;
    padding-top: 20px;
    font-weight: 600;
    color: $white;
    z-index: 1;
    right: -40px;
    bottom: 40px;
    &:before {
      top: 0;
      right: 0;
      position: absolute;
      display: inline-block;
      height: 0;
      width: 0;
      content: ' ';
      border-left: 40px solid $color-sub;
      border-top: 20px solid transparent;
      border-bottom: 0px solid transparent;
    }

    p {
      @extend %drop-shadow;
      padding: 0 30px 0 20px;
      background-color: rgba($color-sub, 1);
      position: relative;
      font-weight: 600;
      font-size: 2.1rem;
      margin: 0;
      line-height: 37px;
    }
  }

  .product-card__gift {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      background-color: #4a5a8d;
      width: 283px;
      height: 145px;
      bottom: 0;
      left: 0;
      transform: rotate(-45deg);
      transform-origin: left bottom;
      z-index: -1;
    }
    svg {
      width: 70px;
      height: 65px;
      path {
        fill: $white;
      }
    }
  }

  &__add-btn {
    display: none;
    float: right;
    margin-top: 45px;
  }
}

@include breakpoint($desktop) {
  .product-card {
    &__content {
      padding-bottom: 95px;
    }

    &--large {
      .product-card__add-btn {
        display: inline-block;
      }
    }

    &:not(&--large) {
      .product-card__content:hover {
        background-color: #ffffff;
      }
    }
  }
}

@include breakpoint($mobile-to-tablet) {
  .product-card {
    margin: 20px 0;

    &__content {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__title {
      height: auto;
      margin-bottom: 24px;
      line-height: 34px;
      overflow: visible;
    }

    &__list-specials {
      li {
        flex-direction: row;
      }
    }

    &--large,
    &--medium,
    .base-rating {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
}

@include breakpoint($tablet) {
  .product-card {
    margin-bottom: 60px;

    &--medium {
      .carousel__nav-wrapper {
        > div {
          padding: 0 10px;
        }
        svg {
          width: 9px;
          path {
            stroke-width: 8px;
          }
        }
      }
    }

    label {
      @include breakpoint($max: 1023px) {
        right: -20px;
        padding-top: 10px;
        &:before {
          border-left: 20px solid $color-sub;
          border-top: 10px solid transparent;
        }
      }
    }

    .base-rating {
      margin-bottom: 0;
    }
    &__title {
      margin-bottom: 18px;
    }
    &__content {
      padding: 15px 25px;
    }
    &__desc {
      margin: 10px 0;
    }
    &__list-specials {
      li {
        margin-bottom: 7.9px;
        padding-right: 0;
        span {
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .product-card__gift {
      width: 105px;
      height: 105px;
      padding-top: 10px;
      padding-left: 10px;

      svg {
        width: 37px;
        height: 34px;
      }
    }
    &--large--image-right {
      .product-card {
        &__gift {
          left: auto;
          right: 0;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}

@include breakpoint($mobile) {
  .product-card {
    margin-bottom: 50px;
    &--large,
    &--medium {
      @include carousel-arrow-size($icon: 15px);
    }

    &__thumbnail {
      margin-left: -20px;
      margin-right: -20px;
    }

    &__image {
      padding-bottom: $ratio-medium !important;
    }

    label {
      padding: 0;
      bottom: -30px;
      right: -20px;
      background-image: none;
      p {
        padding: 0 15px 0 20px;
      }
    }
    &__content {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 35px;
      .base-rating {
        margin-bottom: 34px;
      }
    }

    .product-card__icons {
      left: 0px;
      top: 15px;
    }

    &__list-specials {
      margin-left: 5px;

      li {
        padding-top: 7px;
        padding-bottom: 7px;
        margin-bottom: 1.5rem;
        padding-left: 0;
        span {
          color: $color-text-content;
        }
        &:before {
          right: auto;
          left: -25px;
        }
      }
    }

    .product-card__gift {
      left: auto;
      right: 0;
      width: 80px;
      height: 80px;
      padding-top: 10px;
      padding-left: 10px;
      transform: rotate(90deg);

      svg {
        width: 28px;
        height: 26px;
        transform: rotate(-90deg);
      }
    }

    &--large--image-right {
      .product-card {
        &__gift {
          left: auto;
          right: 0;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}

@import 'product-card-large';
