<template lang="pug" src="./LocationOverview.pug"></template>
<script>
import mockProductList from '@/constants/mock/product-list';
import CategoryBlock from '../../components/CategoryBlock';
import ProductCardList from '../../components/ProductCardList';
import FilterBox from '../../components/FilterBox';

export default {
  name: 'LocationOverview',
  components: {
    CategoryBlock,
    ProductCardList,
    FilterBox,
  },
  metaInfo: {
    title: 'Location Overview',
  },
  data() {
    return {
      productList: {
        data: mockProductList,
      },
    };
  },
};
</script>
<style lang="scss" src="./location-overview.scss">
</style>

