@import '../../scss/base/base';

.location-overview-page {
  .bg-location {
    background-color: $color-bg-location;
  }

  .section-filter {
    position: relative;
    padding-bottom: 240px;
  }

  .section-product-list {
    margin-bottom: 103px;
    .product-card-list {
      margin-top: -240px;
      margin-bottom: 20px;
    }
  }
  .section-category-block {
    padding-bottom: 35px;
  }

  @include breakpoint($tablet) {
    .page-hero {
      .hero__left img {
        object-position: 0 -140px;
      }
    }
  }

  @include breakpoint($tablet) {
    .section-filter {
      padding-bottom: 120px;
      .filter-results-count {
        margin-bottom: 63px;
      }
      .filter-box-wrapper {
        text-align: center;
      }
      .filterbox {
        text-align: initial;
      }
    }
    .section-product-list {
      margin-bottom: 103px;
      .product-card-list {
        margin-top: -137px;
      }
    }
  }

  @include breakpoint($mobile) {
    .section-category-block {
      padding-bottom: 0;
    }
    .section-filter {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .section-product-list {
      margin-bottom: 103px;
      .product-card-list {
        margin-top: 0;
      }
    }
  }
}
