include ../../components/mixins/_page-hero.pug

-
  const images = ['./images/location-background-lg.png','./images/location-background-sm.png'];

.static-page.location-overview-page.hero-filter-overlap
  BodyClass(className="has-header--location")
  +page-hero({title: 'A unique location', images, titleCenter: true})
  section.bg-location.section-filter.filter-overlap
    .container
      .mx-auto.col-xl-8.col-lg-10.p-0
        .filter-box-wrapper
          filter-box
            p.filter-results-count #[b 8] of #[b 23]
  section.section-product-list
    .container
      product-card-list(:listData="productList.data")
      .text-center
        base-button MORE
  section.section-category-block
    category-block(hide="locations")
      